<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_G</key>
		<integer>-5</integer>
		<key>@MMK_R_O</key>
		<integer>-5</integer>
		<key>@MMK_R_T</key>
		<integer>-58</integer>
		<key>@MMK_R_W</key>
		<integer>-28</integer>
		<key>@MMK_R_Y</key>
		<integer>-50</integer>
		<key>@MMK_R_w</key>
		<integer>-5</integer>
		<key>@MMK_R_y</key>
		<integer>-9</integer>
		<key>Q</key>
		<integer>-4</integer>
		<key>V</key>
		<integer>-57</integer>
		<key>quotedblright</key>
		<integer>-75</integer>
		<key>quoteright</key>
		<integer>-68</integer>
		<key>v</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_B</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-2</integer>
	</dict>
	<key>@MMK_L_D</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-23</integer>
		<key>@MMK_R_W</key>
		<integer>-13</integer>
		<key>@MMK_R_Y</key>
		<integer>-19</integer>
		<key>V</key>
		<integer>-24</integer>
		<key>comma</key>
		<integer>-26</integer>
		<key>period</key>
		<integer>-26</integer>
	</dict>
	<key>@MMK_L_E</key>
	<dict>
		<key>@MMK_R_g</key>
		<integer>-34</integer>
		<key>@MMK_R_s</key>
		<integer>-34</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-31</integer>
		<key>@MMK_R_g</key>
		<integer>-34</integer>
		<key>@MMK_R_r</key>
		<integer>-21</integer>
		<key>@MMK_R_s</key>
		<integer>-30</integer>
		<key>@MMK_R_y</key>
		<integer>-11</integer>
		<key>comma</key>
		<integer>-87</integer>
		<key>period</key>
		<integer>-81</integer>
	</dict>
	<key>@MMK_L_G</key>
	<dict>
		<key>@MMK_R_Y</key>
		<integer>-11</integer>
	</dict>
	<key>@MMK_L_J</key>
	<dict>
		<key>ecaron</key>
		<integer>-3</integer>
		<key>oacute</key>
		<integer>-5</integer>
		<key>ubreve</key>
		<integer>3</integer>
	</dict>
	<key>@MMK_L_K</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-12</integer>
		<key>@MMK_R_G</key>
		<integer>-12</integer>
		<key>@MMK_R_O</key>
		<integer>-12</integer>
		<key>@MMK_R_S</key>
		<integer>-1</integer>
		<key>@MMK_R_U</key>
		<integer>-7</integer>
		<key>@MMK_R_c</key>
		<integer>-34</integer>
		<key>@MMK_R_g</key>
		<integer>-34</integer>
		<key>@MMK_R_s</key>
		<integer>-34</integer>
		<key>Q</key>
		<integer>-12</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-18</integer>
		<key>@MMK_R_G</key>
		<integer>-18</integer>
		<key>@MMK_R_O</key>
		<integer>-18</integer>
		<key>@MMK_R_T</key>
		<integer>-43</integer>
		<key>@MMK_R_W</key>
		<integer>-44</integer>
		<key>@MMK_R_Y</key>
		<integer>-69</integer>
		<key>@MMK_R_g</key>
		<integer>-17</integer>
		<key>@MMK_R_s</key>
		<integer>-17</integer>
		<key>@MMK_R_w</key>
		<integer>-18</integer>
		<key>@MMK_R_y</key>
		<integer>-14</integer>
		<key>Q</key>
		<integer>-18</integer>
		<key>V</key>
		<integer>-52</integer>
		<key>quotedbl</key>
		<integer>12</integer>
		<key>quotedblright</key>
		<integer>-79</integer>
		<key>quoteright</key>
		<integer>-89</integer>
		<key>quotesingle</key>
		<integer>12</integer>
	</dict>
	<key>@MMK_L_P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-81</integer>
		<key>@MMK_R_J</key>
		<integer>-41</integer>
		<key>@MMK_R_a</key>
		<integer>-14</integer>
		<key>@MMK_R_c</key>
		<integer>-7</integer>
		<key>@MMK_R_e</key>
		<integer>-7</integer>
		<key>@MMK_R_o</key>
		<integer>-7</integer>
		<key>comma</key>
		<integer>-134</integer>
		<key>period</key>
		<integer>-157</integer>
		<key>q</key>
		<integer>-7</integer>
	</dict>
	<key>@MMK_L_R</key>
	<dict>
		<key>@MMK_R_W</key>
		<integer>-7</integer>
		<key>@MMK_R_Y</key>
		<integer>-3</integer>
		<key>@MMK_R_a</key>
		<integer>-1</integer>
		<key>V</key>
		<integer>-4</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-8</integer>
		<key>@MMK_R_C</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-27</integer>
		<key>@MMK_R_c</key>
		<integer>-27</integer>
		<key>@MMK_R_e</key>
		<integer>-27</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-26</integer>
		<key>@MMK_R_s</key>
		<integer>-10</integer>
		<key>q</key>
		<integer>-16</integer>
	</dict>
	<key>@MMK_L_W</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-52</integer>
		<key>@MMK_R_O</key>
		<integer>-13</integer>
		<key>@MMK_R_a</key>
		<integer>-24</integer>
		<key>@MMK_R_c</key>
		<integer>-15</integer>
		<key>@MMK_R_e</key>
		<integer>-15</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
		<key>@MMK_R_s</key>
		<integer>-14</integer>
		<key>@MMK_R_w</key>
		<integer>-15</integer>
		<key>@MMK_R_z</key>
		<integer>-15</integer>
		<key>comma</key>
		<integer>-12</integer>
		<key>period</key>
		<integer>-7</integer>
		<key>q</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-37</integer>
		<key>@MMK_R_a</key>
		<integer>-23</integer>
		<key>@MMK_R_c</key>
		<integer>-36</integer>
		<key>@MMK_R_e</key>
		<integer>-36</integer>
		<key>@MMK_R_g</key>
		<integer>-29</integer>
		<key>@MMK_R_o</key>
		<integer>-36</integer>
		<key>@MMK_R_s</key>
		<integer>-42</integer>
		<key>@MMK_R_u</key>
		<integer>-11</integer>
		<key>@MMK_R_w</key>
		<integer>-15</integer>
		<key>comma</key>
		<integer>-27</integer>
		<key>period</key>
		<integer>-27</integer>
		<key>q</key>
		<integer>-34</integer>
	</dict>
	<key>@MMK_L_a</key>
	<dict>
		<key>@MMK_R_t</key>
		<integer>-14</integer>
	</dict>
	<key>@MMK_L_afii10020</key>
	<dict>
		<key>afii10017</key>
		<integer>-42</integer>
		<key>afii10021</key>
		<integer>-143</integer>
		<key>afii10029</key>
		<integer>-113</integer>
		<key>afii10038</key>
		<integer>-53</integer>
		<key>afii10049</key>
		<integer>-35</integer>
		<key>afii10058</key>
		<integer>-69</integer>
	</dict>
	<key>@MMK_L_afii10037</key>
	<dict>
		<key>afii10021</key>
		<integer>-90</integer>
		<key>afii10029</key>
		<integer>-51</integer>
	</dict>
	<key>@MMK_L_afii10068</key>
	<dict>
		<key>afii10065</key>
		<integer>-12</integer>
		<key>afii10069</key>
		<integer>-56</integer>
		<key>afii10080</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_afii10070</key>
	<dict>
		<key>afii10084</key>
		<integer>-8</integer>
	</dict>
	<key>@MMK_L_afii10076</key>
	<dict>
		<key>@MMK_R_afii10070</key>
		<integer>-3</integer>
		<key>afii10065</key>
		<integer>-3</integer>
		<key>afii10080</key>
		<integer>-2</integer>
		<key>afii10083</key>
		<integer>-2</integer>
		<key>afii10089</key>
		<integer>-5</integer>
		<key>afii10095</key>
		<integer>-3</integer>
		<key>afii10101</key>
		<integer>-3</integer>
	</dict>
	<key>@MMK_L_afii10085</key>
	<dict>
		<key>afii10065</key>
		<integer>-17</integer>
		<key>afii10069</key>
		<integer>-59</integer>
		<key>afii10077</key>
		<integer>-46</integer>
		<key>afii10106</key>
		<integer>-62</integer>
	</dict>
	<key>@MMK_L_b</key>
	<dict>
		<key>@MMK_R_b</key>
		<integer>-3</integer>
		<key>@MMK_R_j</key>
		<integer>-21</integer>
		<key>@MMK_R_y</key>
		<integer>-5</integer>
		<key>v</key>
		<integer>-12</integer>
	</dict>
	<key>@MMK_L_c</key>
	<dict>
		<key>@MMK_R_j</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_d</key>
	<dict>
		<key>@MMK_R_d</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_e</key>
	<dict>
		<key>@MMK_R_j</key>
		<integer>-19</integer>
		<key>@MMK_R_w</key>
		<integer>1</integer>
		<key>x</key>
		<integer>-8</integer>
	</dict>
	<key>@MMK_L_f</key>
	<dict>
		<key>@MMK_R_c</key>
		<integer>8</integer>
		<key>@MMK_R_f</key>
		<integer>-56</integer>
		<key>@MMK_R_j</key>
		<integer>4</integer>
		<key>comma</key>
		<integer>-6</integer>
		<key>ij</key>
		<integer>4</integer>
		<key>period</key>
		<integer>-21</integer>
		<key>quotedblright</key>
		<integer>32</integer>
		<key>quoteright</key>
		<integer>87</integer>
	</dict>
	<key>@MMK_L_g</key>
	<dict>
		<key>@MMK_R_d</key>
		<integer>-5</integer>
		<key>@MMK_R_g</key>
		<integer>-7</integer>
		<key>@MMK_R_o</key>
		<integer>-3</integer>
		<key>oe</key>
		<integer>2</integer>
		<key>q</key>
		<integer>2</integer>
	</dict>
	<key>@MMK_L_h</key>
	<dict>
		<key>@MMK_R_y</key>
		<integer>-2</integer>
	</dict>
	<key>@MMK_L_k</key>
	<dict>
		<key>@MMK_R_e</key>
		<integer>-4</integer>
		<key>@MMK_R_o</key>
		<integer>-4</integer>
	</dict>
	<key>@MMK_L_m</key>
	<dict>
		<key>@MMK_R_y</key>
		<integer>-2</integer>
	</dict>
	<key>@MMK_L_n</key>
	<dict>
		<key>@MMK_R_y</key>
		<integer>-1</integer>
	</dict>
	<key>@MMK_L_o</key>
	<dict>
		<key>@MMK_R_w</key>
		<integer>-12</integer>
		<key>@MMK_R_y</key>
		<integer>-5</integer>
		<key>x</key>
		<integer>-7</integer>
	</dict>
	<key>@MMK_L_p</key>
	<dict>
		<key>@MMK_R_j</key>
		<integer>-25</integer>
		<key>@MMK_R_y</key>
		<integer>-11</integer>
		<key>v</key>
		<integer>4</integer>
		<key>x</key>
		<integer>4</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-3</integer>
		<key>@MMK_R_c</key>
		<integer>-7</integer>
		<key>@MMK_R_d</key>
		<integer>-3</integer>
		<key>@MMK_R_e</key>
		<integer>-3</integer>
		<key>q</key>
		<integer>-16</integer>
	</dict>
	<key>@MMK_L_w</key>
	<dict>
		<key>comma</key>
		<integer>-7</integer>
	</dict>
	<key>A</key>
	<dict>
		<key>Ccedilla</key>
		<integer>-13</integer>
	</dict>
	<key>Aacute</key>
	<dict>
		<key>Ccedilla</key>
		<integer>-13</integer>
	</dict>
	<key>Abreve</key>
	<dict>
		<key>Ccedilla</key>
		<integer>-13</integer>
	</dict>
	<key>Acircumflex</key>
	<dict>
		<key>Ccedilla</key>
		<integer>-13</integer>
	</dict>
	<key>Adieresis</key>
	<dict>
		<key>Ccedilla</key>
		<integer>-13</integer>
	</dict>
	<key>Agrave</key>
	<dict>
		<key>Ccedilla</key>
		<integer>-13</integer>
	</dict>
	<key>Amacron</key>
	<dict>
		<key>Ccedilla</key>
		<integer>-13</integer>
	</dict>
	<key>Aogonek</key>
	<dict>
		<key>Ccedilla</key>
		<integer>-13</integer>
	</dict>
	<key>Aring</key>
	<dict>
		<key>Ccedilla</key>
		<integer>-13</integer>
	</dict>
	<key>Atilde</key>
	<dict>
		<key>Ccedilla</key>
		<integer>-13</integer>
	</dict>
	<key>E</key>
	<dict>
		<key>ccircumflex</key>
		<integer>-34</integer>
		<key>cdotaccent</key>
		<integer>-34</integer>
		<key>ecaron</key>
		<integer>-34</integer>
		<key>ohungarumlaut</key>
		<integer>-34</integer>
	</dict>
	<key>Eacute</key>
	<dict>
		<key>ccircumflex</key>
		<integer>-34</integer>
		<key>cdotaccent</key>
		<integer>-34</integer>
		<key>ecaron</key>
		<integer>-34</integer>
		<key>ohungarumlaut</key>
		<integer>-34</integer>
	</dict>
	<key>Ecaron</key>
	<dict>
		<key>ccircumflex</key>
		<integer>-34</integer>
		<key>cdotaccent</key>
		<integer>-34</integer>
		<key>ecaron</key>
		<integer>-34</integer>
		<key>ohungarumlaut</key>
		<integer>-34</integer>
	</dict>
	<key>Ecircumflex</key>
	<dict>
		<key>ccircumflex</key>
		<integer>-34</integer>
		<key>cdotaccent</key>
		<integer>-34</integer>
		<key>ecaron</key>
		<integer>-34</integer>
		<key>ohungarumlaut</key>
		<integer>-34</integer>
	</dict>
	<key>Edieresis</key>
	<dict>
		<key>ccircumflex</key>
		<integer>-34</integer>
		<key>cdotaccent</key>
		<integer>-34</integer>
		<key>ecaron</key>
		<integer>-34</integer>
		<key>ohungarumlaut</key>
		<integer>-34</integer>
	</dict>
	<key>Egrave</key>
	<dict>
		<key>ccircumflex</key>
		<integer>-34</integer>
		<key>cdotaccent</key>
		<integer>-34</integer>
		<key>ecaron</key>
		<integer>-34</integer>
		<key>ohungarumlaut</key>
		<integer>-34</integer>
	</dict>
	<key>Eogonek</key>
	<dict>
		<key>ccircumflex</key>
		<integer>-34</integer>
		<key>cdotaccent</key>
		<integer>-34</integer>
		<key>ecaron</key>
		<integer>-34</integer>
		<key>ohungarumlaut</key>
		<integer>-34</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>agrave</key>
		<integer>2</integer>
		<key>cacute</key>
		<integer>-34</integer>
		<key>ccaron</key>
		<integer>-34</integer>
		<key>ccedilla</key>
		<integer>-34</integer>
		<key>ccircumflex</key>
		<integer>-30</integer>
		<key>cdotaccent</key>
		<integer>-34</integer>
		<key>ecaron</key>
		<integer>-44</integer>
		<key>oacute</key>
		<integer>-70</integer>
		<key>ocircumflex</key>
		<integer>-70</integer>
		<key>odieresis</key>
		<integer>-70</integer>
		<key>ograve</key>
		<integer>-70</integer>
		<key>ohungarumlaut</key>
		<integer>-70</integer>
		<key>otilde</key>
		<integer>-70</integer>
		<key>sacute</key>
		<integer>-47</integer>
		<key>scaron</key>
		<integer>-47</integer>
		<key>scedilla</key>
		<integer>-47</integer>
		<key>scircumflex</key>
		<integer>-47</integer>
		<key>uni020D</key>
		<integer>-14</integer>
		<key>uni020F</key>
		<integer>-70</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>Ohungarumlaut</key>
		<integer>-58</integer>
		<key>agrave</key>
		<integer>2</integer>
		<key>ccircumflex</key>
		<integer>-30</integer>
		<key>ecaron</key>
		<integer>-39</integer>
		<key>ohungarumlaut</key>
		<integer>-39</integer>
		<key>ubreve</key>
		<integer>-27</integer>
		<key>uhungarumlaut</key>
		<integer>-27</integer>
		<key>umacron</key>
		<integer>-10</integer>
		<key>uni020D</key>
		<integer>-4</integer>
		<key>uni0215</key>
		<integer>-10</integer>
		<key>uogonek</key>
		<integer>-10</integer>
		<key>uring</key>
		<integer>-27</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>Tcaron</key>
		<integer>-75</integer>
		<key>Ubreve</key>
		<integer>-25</integer>
		<key>Uhungarumlaut</key>
		<integer>-25</integer>
		<key>Uring</key>
		<integer>-25</integer>
		<key>ccircumflex</key>
		<integer>-17</integer>
		<key>cdotaccent</key>
		<integer>-17</integer>
		<key>ecaron</key>
		<integer>-17</integer>
		<key>ohungarumlaut</key>
		<integer>-17</integer>
	</dict>
	<key>Lacute</key>
	<dict>
		<key>Tcaron</key>
		<integer>-75</integer>
		<key>Ubreve</key>
		<integer>-25</integer>
		<key>Uhungarumlaut</key>
		<integer>-25</integer>
		<key>Uring</key>
		<integer>-25</integer>
		<key>ccircumflex</key>
		<integer>-17</integer>
		<key>cdotaccent</key>
		<integer>-17</integer>
		<key>ecaron</key>
		<integer>-17</integer>
		<key>ohungarumlaut</key>
		<integer>-17</integer>
	</dict>
	<key>Lcaron</key>
	<dict>
		<key>Tcaron</key>
		<integer>-75</integer>
		<key>Ubreve</key>
		<integer>-25</integer>
		<key>Uhungarumlaut</key>
		<integer>-25</integer>
		<key>Uring</key>
		<integer>-25</integer>
		<key>ccircumflex</key>
		<integer>-17</integer>
		<key>cdotaccent</key>
		<integer>-17</integer>
		<key>ecaron</key>
		<integer>-17</integer>
		<key>ohungarumlaut</key>
		<integer>-17</integer>
	</dict>
	<key>Ohungarumlaut</key>
	<dict>
		<key>Tcaron</key>
		<integer>-24</integer>
		<key>X</key>
		<integer>-29</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>ocircumflex</key>
		<integer>-49</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>agrave</key>
		<integer>-10</integer>
		<key>oacute</key>
		<integer>-92</integer>
	</dict>
	<key>Tcaron</key>
	<dict>
		<key>@MMK_R_c</key>
		<integer>-80</integer>
		<key>Ohungarumlaut</key>
		<integer>-38</integer>
		<key>comma</key>
		<integer>-84</integer>
		<key>ecaron</key>
		<integer>-98</integer>
		<key>g</key>
		<integer>-77</integer>
		<key>gbreve</key>
		<integer>-77</integer>
		<key>gcircumflex</key>
		<integer>-77</integer>
		<key>gdotaccent</key>
		<integer>-77</integer>
		<key>h</key>
		<integer>-17</integer>
		<key>i</key>
		<integer>-17</integer>
		<key>iacute</key>
		<integer>-17</integer>
		<key>icircumflex</key>
		<integer>-17</integer>
		<key>idieresis</key>
		<integer>-17</integer>
		<key>igrave</key>
		<integer>-17</integer>
		<key>o</key>
		<integer>-92</integer>
		<key>oacute</key>
		<integer>-92</integer>
		<key>ocircumflex</key>
		<integer>-92</integer>
		<key>odieresis</key>
		<integer>-92</integer>
		<key>ograve</key>
		<integer>-92</integer>
		<key>ohungarumlaut</key>
		<integer>-92</integer>
		<key>otilde</key>
		<integer>-92</integer>
		<key>period</key>
		<integer>-48</integer>
		<key>r</key>
		<integer>-68</integer>
		<key>racute</key>
		<integer>-68</integer>
		<key>rcaron</key>
		<integer>-68</integer>
		<key>s</key>
		<integer>-83</integer>
		<key>sacute</key>
		<integer>-83</integer>
		<key>scaron</key>
		<integer>-83</integer>
		<key>scedilla</key>
		<integer>-83</integer>
		<key>scircumflex</key>
		<integer>-83</integer>
		<key>ubreve</key>
		<integer>-52</integer>
		<key>uhungarumlaut</key>
		<integer>-52</integer>
		<key>uring</key>
		<integer>-52</integer>
	</dict>
	<key>Tcommaaccent</key>
	<dict>
		<key>oacute</key>
		<integer>-92</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-54</integer>
		<key>@MMK_R_C</key>
		<integer>-7</integer>
		<key>@MMK_R_G</key>
		<integer>-7</integer>
		<key>@MMK_R_O</key>
		<integer>-14</integer>
		<key>@MMK_R_a</key>
		<integer>-13</integer>
		<key>@MMK_R_c</key>
		<integer>-17</integer>
		<key>@MMK_R_e</key>
		<integer>-17</integer>
		<key>@MMK_R_g</key>
		<integer>-14</integer>
		<key>@MMK_R_o</key>
		<integer>-18</integer>
		<key>@MMK_R_s</key>
		<integer>-38</integer>
		<key>@MMK_R_z</key>
		<integer>-14</integer>
		<key>cacute</key>
		<integer>-79</integer>
		<key>comma</key>
		<integer>-14</integer>
		<key>ocircumflex</key>
		<integer>-71</integer>
		<key>period</key>
		<integer>-9</integer>
		<key>q</key>
		<integer>-18</integer>
	</dict>
	<key>Yacute</key>
	<dict>
		<key>o</key>
		<integer>-61</integer>
	</dict>
	<key>afii10017</key>
	<dict>
		<key>@MMK_R_afii10037</key>
		<integer>-15</integer>
		<key>afii10036</key>
		<integer>-39</integer>
		<key>afii10041</key>
		<integer>-49</integer>
	</dict>
	<key>afii10018</key>
	<dict>
		<key>@MMK_R_afii10037</key>
		<integer>-10</integer>
		<key>afii10041</key>
		<integer>-49</integer>
	</dict>
	<key>afii10034</key>
	<dict>
		<key>afii10017</key>
		<integer>-28</integer>
		<key>afii10021</key>
		<integer>-116</integer>
		<key>afii10024</key>
		<integer>-5</integer>
		<key>afii10029</key>
		<integer>-78</integer>
		<key>afii10058</key>
		<integer>-65</integer>
	</dict>
	<key>afii10059</key>
	<dict>
		<key>@MMK_R_afii10037</key>
		<integer>-71</integer>
		<key>afii10036</key>
		<integer>-55</integer>
		<key>afii10041</key>
		<integer>-131</integer>
		<key>afii10044</key>
		<integer>-86</integer>
		<key>afii10060</key>
		<integer>-68</integer>
	</dict>
	<key>afii10066</key>
	<dict>
		<key>afii10069</key>
		<integer>-27</integer>
		<key>afii10077</key>
		<integer>-20</integer>
		<key>afii10106</key>
		<integer>-14</integer>
	</dict>
	<key>afii10067</key>
	<dict>
		<key>afii10065</key>
		<integer>-2</integer>
		<key>afii10077</key>
		<integer>-9</integer>
		<key>afii10089</key>
		<integer>-4</integer>
		<key>afii10106</key>
		<integer>-4</integer>
	</dict>
	<key>afii10069</key>
	<dict>
		<key>afii10080</key>
		<integer>-25</integer>
	</dict>
	<key>afii10072</key>
	<dict>
		<key>afii10065</key>
		<integer>-17</integer>
		<key>afii10080</key>
		<integer>-23</integer>
	</dict>
	<key>afii10080</key>
	<dict>
		<key>afii10069</key>
		<integer>-15</integer>
		<key>afii10072</key>
		<integer>-7</integer>
		<key>afii10077</key>
		<integer>-20</integer>
		<key>afii10084</key>
		<integer>-17</integer>
		<key>afii10106</key>
		<integer>-5</integer>
	</dict>
	<key>afii10084</key>
	<dict>
		<key>@MMK_R_afii10070</key>
		<integer>-19</integer>
		<key>afii10077</key>
		<integer>-33</integer>
		<key>afii10080</key>
		<integer>-15</integer>
	</dict>
	<key>afii10092</key>
	<dict>
		<key>@MMK_R_afii10085</key>
		<integer>-30</integer>
		<key>afii10084</key>
		<integer>-56</integer>
		<key>afii10089</key>
		<integer>-62</integer>
		<key>afii10092</key>
		<integer>-101</integer>
	</dict>
	<key>afii10094</key>
	<dict>
		<key>@MMK_R_afii10085</key>
		<integer>-22</integer>
		<key>afii10084</key>
		<integer>-84</integer>
		<key>afii10089</key>
		<integer>-56</integer>
		<key>afii10092</key>
		<integer>-84</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>agrave</key>
		<integer>2</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>ccircumflex</key>
		<integer>2</integer>
		<key>uni020D</key>
		<integer>2</integer>
	</dict>
	<key>eacute</key>
	<dict>
		<key>x</key>
		<integer>-40</integer>
	</dict>
	<key>ecaron</key>
	<dict>
		<key>x</key>
		<integer>-35</integer>
	</dict>
	<key>ecircumflex</key>
	<dict>
		<key>x</key>
		<integer>-40</integer>
	</dict>
	<key>edieresis</key>
	<dict>
		<key>x</key>
		<integer>-40</integer>
	</dict>
	<key>egrave</key>
	<dict>
		<key>x</key>
		<integer>-40</integer>
	</dict>
	<key>eogonek</key>
	<dict>
		<key>x</key>
		<integer>-35</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>agrave</key>
		<integer>4</integer>
		<key>ccedilla</key>
		<integer>8</integer>
		<key>ccircumflex</key>
		<integer>8</integer>
		<key>eacute</key>
		<integer>8</integer>
		<key>ecaron</key>
		<integer>-10</integer>
		<key>ecircumflex</key>
		<integer>8</integer>
		<key>egrave</key>
		<integer>8</integer>
		<key>iacute</key>
		<integer>-5</integer>
		<key>icircumflex</key>
		<integer>-5</integer>
		<key>idieresis</key>
		<integer>-5</integer>
		<key>igrave</key>
		<integer>-5</integer>
		<key>lacute</key>
		<integer>-3</integer>
		<key>lcaron</key>
		<integer>-3</integer>
		<key>oacute</key>
		<integer>-5</integer>
		<key>ocircumflex</key>
		<integer>-5</integer>
		<key>odieresis</key>
		<integer>-5</integer>
		<key>ograve</key>
		<integer>-5</integer>
		<key>ohungarumlaut</key>
		<integer>-5</integer>
		<key>otilde</key>
		<integer>-5</integer>
		<key>umacron</key>
		<integer>4</integer>
		<key>uni020D</key>
		<integer>-4</integer>
		<key>uni020F</key>
		<integer>-5</integer>
		<key>uni0215</key>
		<integer>4</integer>
		<key>uogonek</key>
		<integer>4</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>agrave</key>
		<integer>11</integer>
		<key>ccircumflex</key>
		<integer>7</integer>
		<key>ecaron</key>
		<integer>-7</integer>
		<key>oacute</key>
		<integer>-16</integer>
		<key>ocircumflex</key>
		<integer>-16</integer>
		<key>odieresis</key>
		<integer>-16</integer>
		<key>ograve</key>
		<integer>-16</integer>
		<key>ohungarumlaut</key>
		<integer>-16</integer>
		<key>otilde</key>
		<integer>-16</integer>
		<key>umacron</key>
		<integer>-6</integer>
		<key>uni020D</key>
		<integer>-9</integer>
		<key>uni020F</key>
		<integer>-16</integer>
		<key>uni0215</key>
		<integer>-6</integer>
		<key>uogonek</key>
		<integer>-6</integer>
	</dict>
	<key>gbreve</key>
	<dict>
		<key>ecaron</key>
		<integer>-7</integer>
		<key>o</key>
		<integer>-16</integer>
		<key>oacute</key>
		<integer>-16</integer>
		<key>ocircumflex</key>
		<integer>-16</integer>
		<key>odieresis</key>
		<integer>-16</integer>
		<key>ograve</key>
		<integer>-16</integer>
		<key>ohungarumlaut</key>
		<integer>-16</integer>
		<key>otilde</key>
		<integer>-16</integer>
	</dict>
	<key>gcircumflex</key>
	<dict>
		<key>ecaron</key>
		<integer>-7</integer>
		<key>o</key>
		<integer>-16</integer>
		<key>oacute</key>
		<integer>-16</integer>
		<key>ocircumflex</key>
		<integer>-16</integer>
		<key>odieresis</key>
		<integer>-16</integer>
		<key>ograve</key>
		<integer>-16</integer>
		<key>ohungarumlaut</key>
		<integer>-16</integer>
		<key>otilde</key>
		<integer>-16</integer>
	</dict>
	<key>gdotaccent</key>
	<dict>
		<key>ecaron</key>
		<integer>-7</integer>
		<key>o</key>
		<integer>-16</integer>
		<key>oacute</key>
		<integer>-16</integer>
		<key>ocircumflex</key>
		<integer>-16</integer>
		<key>odieresis</key>
		<integer>-16</integer>
		<key>ograve</key>
		<integer>-16</integer>
		<key>ohungarumlaut</key>
		<integer>-16</integer>
		<key>otilde</key>
		<integer>-16</integer>
	</dict>
	<key>ohungarumlaut</key>
	<dict>
		<key>@MMK_R_j</key>
		<integer>-19</integer>
		<key>g</key>
		<integer>-11</integer>
		<key>gbreve</key>
		<integer>-11</integer>
		<key>gcircumflex</key>
		<integer>-11</integer>
		<key>gdotaccent</key>
		<integer>-11</integer>
		<key>x</key>
		<integer>-21</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>agrave</key>
		<integer>2</integer>
	</dict>
	<key>quoteright</key>
	<dict>
		<key>@MMK_R_d</key>
		<integer>-37</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>oacute</key>
		<integer>-8</integer>
		<key>ocircumflex</key>
		<integer>-8</integer>
		<key>odieresis</key>
		<integer>-8</integer>
		<key>ograve</key>
		<integer>-8</integer>
		<key>otilde</key>
		<integer>-8</integer>
	</dict>
	<key>racute</key>
	<dict>
		<key>comma</key>
		<integer>-48</integer>
		<key>g</key>
		<integer>-12</integer>
		<key>gbreve</key>
		<integer>-12</integer>
		<key>gcircumflex</key>
		<integer>-12</integer>
		<key>gdotaccent</key>
		<integer>-12</integer>
		<key>o</key>
		<integer>-8</integer>
		<key>oacute</key>
		<integer>-8</integer>
		<key>ocircumflex</key>
		<integer>-8</integer>
		<key>odieresis</key>
		<integer>-8</integer>
		<key>ograve</key>
		<integer>-8</integer>
		<key>ohungarumlaut</key>
		<integer>-8</integer>
		<key>otilde</key>
		<integer>-8</integer>
		<key>period</key>
		<integer>-21</integer>
		<key>r</key>
		<integer>-12</integer>
		<key>racute</key>
		<integer>-12</integer>
		<key>rcaron</key>
		<integer>-12</integer>
	</dict>
	<key>rcaron</key>
	<dict>
		<key>o</key>
		<integer>-8</integer>
		<key>oacute</key>
		<integer>-8</integer>
		<key>ocircumflex</key>
		<integer>-8</integer>
		<key>odieresis</key>
		<integer>-8</integer>
		<key>ograve</key>
		<integer>-8</integer>
		<key>otilde</key>
		<integer>-8</integer>
	</dict>
	<key>uni0202</key>
	<dict>
		<key>Ccedilla</key>
		<integer>-13</integer>
	</dict>
	<key>uni020D</key>
	<dict>
		<key>x</key>
		<integer>-23</integer>
	</dict>
	<key>uni0211</key>
	<dict>
		<key>c</key>
		<integer>-18</integer>
		<key>ccedilla</key>
		<integer>-18</integer>
		<key>ccircumflex</key>
		<integer>-12</integer>
		<key>d</key>
		<integer>-13</integer>
		<key>g</key>
		<integer>-18</integer>
		<key>uni020D</key>
		<integer>-13</integer>
	</dict>
	<key>uni021A</key>
	<dict>
		<key>oacute</key>
		<integer>-92</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>ccaron</key>
		<integer>-34</integer>
		<key>comma</key>
		<integer>-7</integer>
		<key>oacute</key>
		<integer>-8</integer>
		<key>period</key>
		<integer>-6</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>eogonek</key>
		<integer>-5</integer>
		<key>ocircumflex</key>
		<integer>-4</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>@MMK_R_c</key>
		<integer>-4</integer>
		<key>@MMK_R_e</key>
		<integer>-4</integer>
		<key>@MMK_R_o</key>
		<integer>-4</integer>
		<key>agrave</key>
		<integer>4</integer>
		<key>ccircumflex</key>
		<integer>5</integer>
		<key>ecaron</key>
		<integer>-12</integer>
		<key>oacute</key>
		<integer>-14</integer>
		<key>ocircumflex</key>
		<integer>-14</integer>
		<key>odieresis</key>
		<integer>-14</integer>
		<key>ograve</key>
		<integer>-14</integer>
		<key>otilde</key>
		<integer>-14</integer>
		<key>uni020D</key>
		<integer>-14</integer>
		<key>uni020F</key>
		<integer>-14</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>ccaron</key>
		<integer>-34</integer>
		<key>uni020F</key>
		<integer>-18</integer>
	</dict>
	<key>yacute</key>
	<dict>
		<key>ccaron</key>
		<integer>-34</integer>
		<key>uni020F</key>
		<integer>-18</integer>
	</dict>
	<key>ydieresis</key>
	<dict>
		<key>ccaron</key>
		<integer>-34</integer>
		<key>uni020F</key>
		<integer>-18</integer>
	</dict>
	<key>z</key>
	<dict>
		<key>ccircumflex</key>
		<integer>3</integer>
		<key>uni020D</key>
		<integer>-2</integer>
	</dict>
</dict>
</plist>
