<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>1658</integer>
	<key>capHeight</key>
	<integer>1658</integer>
	<key>descender</key>
	<integer>-390</integer>
	<key>familyName</key>
	<string>Oswald</string>
	<key>italicAngle</key>
	<real>0.0</real>
	<key>openTypeHheaAscender</key>
	<integer>819</integer>
	<key>openTypeHheaDescender</key>
	<integer>-205</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>1648</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-400</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2WeightClass</key>
	<integer>600</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>1648</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>400</integer>
	<key>postscriptBlueFuzz</key>
	<integer>2</integer>
	<key>postscriptBlueScale</key>
	<real>0.06453960658519232</real>
	<key>postscriptBlueShift</key>
	<integer>4</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-42</integer>
		<integer>0</integer>
		<integer>2054</integer>
		<integer>2095</integer>
		<integer>2929</integer>
		<integer>2966</integer>
	</array>
	<key>postscriptFullName</key>
	<string>Oswald -600</string>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-675</integer>
		<integer>-651</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>75</integer>
		<integer>84</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>36</integer>
		<integer>63</integer>
		<integer>75</integer>
		<integer>81</integer>
		<integer>92</integer>
		<integer>116</integer>
		<integer>150</integer>
		<integer>369</integer>
		<integer>993</integer>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-120</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>63</integer>
	<key>postscriptWeightName</key>
	<string>Semi-bold</string>
	<key>styleName</key>
	<string>-600</string>
	<key>unitsPerEm</key>
	<integer>2048</integer>
	<key>xHeight</key>
	<integer>1184</integer>
</dict>
</plist>
