<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>T</key>
		<integer>-47</integer>
		<key>V</key>
		<integer>-74</integer>
		<key>W</key>
		<integer>-75</integer>
		<key>Y</key>
		<integer>-58</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>X</key>
		<integer>-27</integer>
	</dict>
	<key>Eth</key>
	<dict>
		<key>X</key>
		<integer>-27</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>agrave</key>
		<integer>-17</integer>
		<key>c</key>
		<integer>-36</integer>
		<key>ccedilla</key>
		<integer>-36</integer>
		<key>ccircumflex</key>
		<integer>-36</integer>
		<key>d</key>
		<integer>-36</integer>
		<key>e</key>
		<integer>-36</integer>
		<key>eacute</key>
		<integer>-36</integer>
		<key>ecircumflex</key>
		<integer>-36</integer>
		<key>edieresis</key>
		<integer>-36</integer>
		<key>egrave</key>
		<integer>-36</integer>
		<key>q</key>
		<integer>-36</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>agrave</key>
		<integer>-20</integer>
		<key>c</key>
		<integer>-29</integer>
		<key>ccedilla</key>
		<integer>-29</integer>
		<key>ccircumflex</key>
		<integer>-29</integer>
		<key>d</key>
		<integer>-29</integer>
		<key>e</key>
		<integer>-29</integer>
		<key>eacute</key>
		<integer>-29</integer>
		<key>ecircumflex</key>
		<integer>-29</integer>
		<key>edieresis</key>
		<integer>-29</integer>
		<key>egrave</key>
		<integer>-29</integer>
		<key>o</key>
		<integer>-29</integer>
		<key>oacute</key>
		<integer>-29</integer>
		<key>ocircumflex</key>
		<integer>-29</integer>
		<key>odieresis</key>
		<integer>-29</integer>
		<key>oe</key>
		<integer>-29</integer>
		<key>ograve</key>
		<integer>-29</integer>
		<key>oslash</key>
		<integer>-29</integer>
		<key>otilde</key>
		<integer>-29</integer>
		<key>q</key>
		<integer>-29</integer>
		<key>uni020D</key>
		<integer>-29</integer>
		<key>uni020F</key>
		<integer>-29</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>T</key>
		<integer>-81</integer>
		<key>V</key>
		<integer>-123</integer>
		<key>W</key>
		<integer>-105</integer>
		<key>quotedbl</key>
		<integer>-100</integer>
		<key>quotesingle</key>
		<integer>-100</integer>
	</dict>
	<key>O</key>
	<dict>
		<key>X</key>
		<integer>-27</integer>
	</dict>
	<key>Oacute</key>
	<dict>
		<key>X</key>
		<integer>-27</integer>
	</dict>
	<key>Ocircumflex</key>
	<dict>
		<key>X</key>
		<integer>-27</integer>
	</dict>
	<key>Odieresis</key>
	<dict>
		<key>X</key>
		<integer>-27</integer>
	</dict>
	<key>Ograve</key>
	<dict>
		<key>X</key>
		<integer>-27</integer>
	</dict>
	<key>Oslash</key>
	<dict>
		<key>X</key>
		<integer>-27</integer>
	</dict>
	<key>Otilde</key>
	<dict>
		<key>X</key>
		<integer>-27</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>agrave</key>
		<integer>-35</integer>
		<key>comma</key>
		<integer>-190</integer>
		<key>period</key>
		<integer>-190</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>X</key>
		<integer>-27</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>A</key>
		<integer>-25</integer>
		<key>agrave</key>
		<integer>-73</integer>
		<key>c</key>
		<integer>-74</integer>
		<key>ccedilla</key>
		<integer>-74</integer>
		<key>ccircumflex</key>
		<integer>-74</integer>
		<key>colon</key>
		<integer>-60</integer>
		<key>comma</key>
		<integer>-60</integer>
		<key>d</key>
		<integer>-74</integer>
		<key>e</key>
		<integer>-74</integer>
		<key>eacute</key>
		<integer>-74</integer>
		<key>ecircumflex</key>
		<integer>-74</integer>
		<key>edieresis</key>
		<integer>-74</integer>
		<key>egrave</key>
		<integer>-74</integer>
		<key>hyphen</key>
		<integer>-40</integer>
		<key>o</key>
		<integer>-74</integer>
		<key>oacute</key>
		<integer>-74</integer>
		<key>ocircumflex</key>
		<integer>-74</integer>
		<key>odieresis</key>
		<integer>-74</integer>
		<key>oe</key>
		<integer>-74</integer>
		<key>ograve</key>
		<integer>-74</integer>
		<key>oslash</key>
		<integer>-74</integer>
		<key>otilde</key>
		<integer>-74</integer>
		<key>period</key>
		<integer>-60</integer>
		<key>q</key>
		<integer>-74</integer>
		<key>semicolon</key>
		<integer>-60</integer>
		<key>uni020D</key>
		<integer>-74</integer>
		<key>uni020F</key>
		<integer>-74</integer>
		<key>w</key>
		<integer>-84</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<integer>-74</integer>
		<key>agrave</key>
		<integer>-35</integer>
		<key>c</key>
		<integer>-33</integer>
		<key>ccedilla</key>
		<integer>-33</integer>
		<key>ccircumflex</key>
		<integer>-33</integer>
		<key>colon</key>
		<integer>-20</integer>
		<key>comma</key>
		<integer>-40</integer>
		<key>d</key>
		<integer>-33</integer>
		<key>e</key>
		<integer>-33</integer>
		<key>eacute</key>
		<integer>-33</integer>
		<key>ecircumflex</key>
		<integer>-33</integer>
		<key>edieresis</key>
		<integer>-33</integer>
		<key>egrave</key>
		<integer>-33</integer>
		<key>hyphen</key>
		<integer>-40</integer>
		<key>o</key>
		<integer>-33</integer>
		<key>oacute</key>
		<integer>-33</integer>
		<key>ocircumflex</key>
		<integer>-33</integer>
		<key>odieresis</key>
		<integer>-33</integer>
		<key>oe</key>
		<integer>-33</integer>
		<key>ograve</key>
		<integer>-33</integer>
		<key>oslash</key>
		<integer>-33</integer>
		<key>otilde</key>
		<integer>-33</integer>
		<key>period</key>
		<integer>-40</integer>
		<key>q</key>
		<integer>-33</integer>
		<key>semicolon</key>
		<integer>-20</integer>
		<key>uni020D</key>
		<integer>-33</integer>
		<key>uni020F</key>
		<integer>-33</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>A</key>
		<integer>-35</integer>
		<key>agrave</key>
		<integer>-35</integer>
		<key>c</key>
		<integer>-27</integer>
		<key>ccedilla</key>
		<integer>-27</integer>
		<key>ccircumflex</key>
		<integer>-27</integer>
		<key>colon</key>
		<integer>-40</integer>
		<key>comma</key>
		<integer>-60</integer>
		<key>d</key>
		<integer>-27</integer>
		<key>e</key>
		<integer>-27</integer>
		<key>eacute</key>
		<integer>-27</integer>
		<key>ecircumflex</key>
		<integer>-27</integer>
		<key>edieresis</key>
		<integer>-27</integer>
		<key>egrave</key>
		<integer>-27</integer>
		<key>h</key>
		<integer>-23</integer>
		<key>hyphen</key>
		<integer>-50</integer>
		<key>o</key>
		<integer>-27</integer>
		<key>oacute</key>
		<integer>-27</integer>
		<key>ocircumflex</key>
		<integer>-27</integer>
		<key>odieresis</key>
		<integer>-27</integer>
		<key>oe</key>
		<integer>-27</integer>
		<key>ograve</key>
		<integer>-27</integer>
		<key>oslash</key>
		<integer>-27</integer>
		<key>otilde</key>
		<integer>-27</integer>
		<key>period</key>
		<integer>-60</integer>
		<key>q</key>
		<integer>-27</integer>
		<key>semicolon</key>
		<integer>-40</integer>
		<key>uni020D</key>
		<integer>-27</integer>
		<key>uni020F</key>
		<integer>-27</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>C</key>
		<integer>-27</integer>
		<key>Ccedilla</key>
		<integer>-27</integer>
		<key>Ccircumflex</key>
		<integer>-27</integer>
		<key>G</key>
		<integer>-27</integer>
		<key>O</key>
		<integer>-27</integer>
		<key>OE</key>
		<integer>-27</integer>
		<key>Oacute</key>
		<integer>-27</integer>
		<key>Ocircumflex</key>
		<integer>-27</integer>
		<key>Odieresis</key>
		<integer>-27</integer>
		<key>Ograve</key>
		<integer>-27</integer>
		<key>Oslash</key>
		<integer>-27</integer>
		<key>Otilde</key>
		<integer>-27</integer>
		<key>Q</key>
		<integer>-27</integer>
		<key>c</key>
		<integer>-36</integer>
		<key>ccedilla</key>
		<integer>-36</integer>
		<key>ccircumflex</key>
		<integer>-36</integer>
		<key>d</key>
		<integer>-36</integer>
		<key>e</key>
		<integer>-36</integer>
		<key>eacute</key>
		<integer>-36</integer>
		<key>ecircumflex</key>
		<integer>-36</integer>
		<key>edieresis</key>
		<integer>-36</integer>
		<key>egrave</key>
		<integer>-36</integer>
		<key>o</key>
		<integer>-36</integer>
		<key>oacute</key>
		<integer>-36</integer>
		<key>ocircumflex</key>
		<integer>-36</integer>
		<key>odieresis</key>
		<integer>-36</integer>
		<key>oe</key>
		<integer>-36</integer>
		<key>ograve</key>
		<integer>-36</integer>
		<key>oslash</key>
		<integer>-36</integer>
		<key>otilde</key>
		<integer>-36</integer>
		<key>q</key>
		<integer>-36</integer>
		<key>uni020D</key>
		<integer>-36</integer>
		<key>uni020F</key>
		<integer>-36</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>A</key>
		<integer>-35</integer>
		<key>c</key>
		<integer>-50</integer>
		<key>ccedilla</key>
		<integer>-50</integer>
		<key>ccircumflex</key>
		<integer>-50</integer>
		<key>d</key>
		<integer>-50</integer>
		<key>e</key>
		<integer>-50</integer>
		<key>eacute</key>
		<integer>-50</integer>
		<key>ecircumflex</key>
		<integer>-50</integer>
		<key>edieresis</key>
		<integer>-50</integer>
		<key>egrave</key>
		<integer>-50</integer>
		<key>o</key>
		<integer>-50</integer>
		<key>oacute</key>
		<integer>-50</integer>
		<key>ocircumflex</key>
		<integer>-50</integer>
		<key>odieresis</key>
		<integer>-50</integer>
		<key>oe</key>
		<integer>-50</integer>
		<key>ograve</key>
		<integer>-50</integer>
		<key>oslash</key>
		<integer>-50</integer>
		<key>otilde</key>
		<integer>-50</integer>
		<key>q</key>
		<integer>-50</integer>
		<key>uni020D</key>
		<integer>-50</integer>
		<key>uni020F</key>
		<integer>-50</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>agrave</key>
		<integer>-13</integer>
		<key>z</key>
		<integer>-22</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>c</key>
		<integer>-16</integer>
		<key>ccedilla</key>
		<integer>-16</integer>
		<key>ccircumflex</key>
		<integer>-16</integer>
		<key>d</key>
		<integer>-16</integer>
		<key>e</key>
		<integer>-16</integer>
		<key>eacute</key>
		<integer>-16</integer>
		<key>ecircumflex</key>
		<integer>-16</integer>
		<key>edieresis</key>
		<integer>-16</integer>
		<key>egrave</key>
		<integer>-16</integer>
		<key>o</key>
		<integer>-16</integer>
		<key>oacute</key>
		<integer>-16</integer>
		<key>ocircumflex</key>
		<integer>-16</integer>
		<key>odieresis</key>
		<integer>-16</integer>
		<key>oe</key>
		<integer>-16</integer>
		<key>ograve</key>
		<integer>-16</integer>
		<key>oslash</key>
		<integer>-16</integer>
		<key>otilde</key>
		<integer>-16</integer>
		<key>q</key>
		<integer>-16</integer>
		<key>uni020D</key>
		<integer>-16</integer>
		<key>uni020F</key>
		<integer>-16</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>a</key>
		<integer>-22</integer>
		<key>aacute</key>
		<integer>-22</integer>
		<key>acircumflex</key>
		<integer>-22</integer>
		<key>adieresis</key>
		<integer>-22</integer>
		<key>ae</key>
		<integer>-22</integer>
		<key>agrave</key>
		<integer>-22</integer>
		<key>aring</key>
		<integer>-22</integer>
		<key>atilde</key>
		<integer>-22</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>agrave</key>
		<integer>-39</integer>
		<key>c</key>
		<integer>-65</integer>
		<key>ccedilla</key>
		<integer>-72</integer>
		<key>ccircumflex</key>
		<integer>-72</integer>
		<key>d</key>
		<integer>-36</integer>
		<key>dotlessi</key>
		<integer>-30</integer>
		<key>e</key>
		<integer>-36</integer>
		<key>eacute</key>
		<integer>-72</integer>
		<key>ecircumflex</key>
		<integer>-72</integer>
		<key>edieresis</key>
		<integer>-36</integer>
		<key>egrave</key>
		<integer>-72</integer>
		<key>f</key>
		<integer>-80</integer>
		<key>i</key>
		<integer>-30</integer>
		<key>iacute</key>
		<integer>-30</integer>
		<key>icircumflex</key>
		<integer>-30</integer>
		<key>idieresis</key>
		<integer>-30</integer>
		<key>igrave</key>
		<integer>-30</integer>
		<key>ij</key>
		<integer>-30</integer>
		<key>iogonek</key>
		<integer>-30</integer>
		<key>itilde</key>
		<integer>-30</integer>
		<key>j</key>
		<integer>-30</integer>
		<key>jcircumflex</key>
		<integer>-30</integer>
		<key>o</key>
		<integer>-36</integer>
		<key>ocircumflex</key>
		<integer>-36</integer>
		<key>odieresis</key>
		<integer>-36</integer>
		<key>oe</key>
		<integer>-36</integer>
		<key>ograve</key>
		<integer>-36</integer>
		<key>oslash</key>
		<integer>-36</integer>
		<key>otilde</key>
		<integer>-36</integer>
		<key>q</key>
		<integer>-36</integer>
		<key>u</key>
		<integer>-36</integer>
		<key>uacute</key>
		<integer>-36</integer>
		<key>ucircumflex</key>
		<integer>-36</integer>
		<key>udieresis</key>
		<integer>-36</integer>
		<key>ugrave</key>
		<integer>-36</integer>
		<key>umacron</key>
		<integer>-36</integer>
		<key>uni020D</key>
		<integer>-36</integer>
		<key>uni020F</key>
		<integer>-36</integer>
		<key>uni0215</key>
		<integer>-36</integer>
		<key>uni0217</key>
		<integer>-36</integer>
		<key>uogonek</key>
		<integer>-36</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>a</key>
		<integer>-18</integer>
		<key>aacute</key>
		<integer>-18</integer>
		<key>acircumflex</key>
		<integer>-18</integer>
		<key>adieresis</key>
		<integer>-18</integer>
		<key>ae</key>
		<integer>-18</integer>
		<key>agrave</key>
		<integer>-94</integer>
		<key>aring</key>
		<integer>-18</integer>
		<key>atilde</key>
		<integer>-18</integer>
		<key>c</key>
		<integer>-59</integer>
		<key>ccedilla</key>
		<integer>-59</integer>
		<key>ccircumflex</key>
		<integer>-59</integer>
		<key>d</key>
		<integer>-59</integer>
		<key>e</key>
		<integer>-59</integer>
		<key>eacute</key>
		<integer>-59</integer>
		<key>ecircumflex</key>
		<integer>-59</integer>
		<key>edieresis</key>
		<integer>-59</integer>
		<key>egrave</key>
		<integer>-59</integer>
		<key>g</key>
		<integer>-102</integer>
		<key>o</key>
		<integer>-16</integer>
		<key>oacute</key>
		<integer>-16</integer>
		<key>ocircumflex</key>
		<integer>-16</integer>
		<key>odieresis</key>
		<integer>-16</integer>
		<key>oe</key>
		<integer>-16</integer>
		<key>ograve</key>
		<integer>-16</integer>
		<key>oslash</key>
		<integer>-16</integer>
		<key>otilde</key>
		<integer>-16</integer>
		<key>q</key>
		<integer>-16</integer>
		<key>uni020D</key>
		<integer>-16</integer>
		<key>uni020F</key>
		<integer>-16</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>z</key>
		<integer>-22</integer>
	</dict>
	<key>oacute</key>
	<dict>
		<key>z</key>
		<integer>-22</integer>
	</dict>
	<key>ocircumflex</key>
	<dict>
		<key>z</key>
		<integer>-22</integer>
	</dict>
	<key>odieresis</key>
	<dict>
		<key>z</key>
		<integer>-22</integer>
	</dict>
	<key>ograve</key>
	<dict>
		<key>z</key>
		<integer>-22</integer>
	</dict>
	<key>oslash</key>
	<dict>
		<key>z</key>
		<integer>-22</integer>
	</dict>
	<key>otilde</key>
	<dict>
		<key>z</key>
		<integer>-22</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>agrave</key>
		<integer>-13</integer>
		<key>x</key>
		<integer>-30</integer>
		<key>z</key>
		<integer>-22</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>a</key>
		<integer>-49</integer>
		<key>aacute</key>
		<integer>-49</integer>
		<key>acircumflex</key>
		<integer>-49</integer>
		<key>adieresis</key>
		<integer>-49</integer>
		<key>ae</key>
		<integer>-49</integer>
		<key>agrave</key>
		<integer>-49</integer>
		<key>aring</key>
		<integer>-49</integer>
		<key>atilde</key>
		<integer>-49</integer>
		<key>c</key>
		<integer>-46</integer>
		<key>ccedilla</key>
		<integer>-46</integer>
		<key>ccircumflex</key>
		<integer>-46</integer>
		<key>d</key>
		<integer>-46</integer>
		<key>e</key>
		<integer>-46</integer>
		<key>eacute</key>
		<integer>-46</integer>
		<key>ecircumflex</key>
		<integer>-46</integer>
		<key>edieresis</key>
		<integer>-46</integer>
		<key>egrave</key>
		<integer>-46</integer>
		<key>o</key>
		<integer>-46</integer>
		<key>oacute</key>
		<integer>-46</integer>
		<key>ocircumflex</key>
		<integer>-46</integer>
		<key>odieresis</key>
		<integer>-46</integer>
		<key>oe</key>
		<integer>-46</integer>
		<key>ograve</key>
		<integer>-46</integer>
		<key>oslash</key>
		<integer>-46</integer>
		<key>otilde</key>
		<integer>-46</integer>
		<key>q</key>
		<integer>-46</integer>
		<key>uni020D</key>
		<integer>-46</integer>
		<key>uni020F</key>
		<integer>-46</integer>
	</dict>
	<key>rcaron</key>
	<dict>
		<key>a</key>
		<integer>-49</integer>
		<key>aacute</key>
		<integer>-49</integer>
		<key>acircumflex</key>
		<integer>-49</integer>
		<key>adieresis</key>
		<integer>-49</integer>
		<key>ae</key>
		<integer>-49</integer>
		<key>agrave</key>
		<integer>-49</integer>
		<key>aring</key>
		<integer>-49</integer>
		<key>atilde</key>
		<integer>-49</integer>
		<key>c</key>
		<integer>-46</integer>
		<key>ccedilla</key>
		<integer>-46</integer>
		<key>ccircumflex</key>
		<integer>-46</integer>
		<key>d</key>
		<integer>-46</integer>
		<key>e</key>
		<integer>-46</integer>
		<key>eacute</key>
		<integer>-46</integer>
		<key>ecircumflex</key>
		<integer>-46</integer>
		<key>edieresis</key>
		<integer>-46</integer>
		<key>egrave</key>
		<integer>-46</integer>
		<key>o</key>
		<integer>-46</integer>
		<key>oacute</key>
		<integer>-46</integer>
		<key>ocircumflex</key>
		<integer>-46</integer>
		<key>odieresis</key>
		<integer>-46</integer>
		<key>oe</key>
		<integer>-46</integer>
		<key>ograve</key>
		<integer>-46</integer>
		<key>oslash</key>
		<integer>-46</integer>
		<key>otilde</key>
		<integer>-46</integer>
		<key>q</key>
		<integer>-46</integer>
		<key>uni020D</key>
		<integer>-46</integer>
		<key>uni020F</key>
		<integer>-46</integer>
	</dict>
	<key>rcommaaccent</key>
	<dict>
		<key>a</key>
		<integer>-49</integer>
		<key>aacute</key>
		<integer>-49</integer>
		<key>acircumflex</key>
		<integer>-49</integer>
		<key>adieresis</key>
		<integer>-49</integer>
		<key>ae</key>
		<integer>-49</integer>
		<key>agrave</key>
		<integer>-49</integer>
		<key>aring</key>
		<integer>-49</integer>
		<key>atilde</key>
		<integer>-49</integer>
		<key>c</key>
		<integer>-46</integer>
		<key>ccedilla</key>
		<integer>-46</integer>
		<key>ccircumflex</key>
		<integer>-46</integer>
		<key>d</key>
		<integer>-46</integer>
		<key>e</key>
		<integer>-46</integer>
		<key>eacute</key>
		<integer>-46</integer>
		<key>ecircumflex</key>
		<integer>-46</integer>
		<key>edieresis</key>
		<integer>-46</integer>
		<key>egrave</key>
		<integer>-46</integer>
		<key>o</key>
		<integer>-46</integer>
		<key>oacute</key>
		<integer>-46</integer>
		<key>ocircumflex</key>
		<integer>-46</integer>
		<key>odieresis</key>
		<integer>-46</integer>
		<key>oe</key>
		<integer>-46</integer>
		<key>ograve</key>
		<integer>-46</integer>
		<key>oslash</key>
		<integer>-46</integer>
		<key>otilde</key>
		<integer>-46</integer>
		<key>q</key>
		<integer>-46</integer>
		<key>uni020D</key>
		<integer>-46</integer>
		<key>uni020F</key>
		<integer>-46</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>a</key>
		<integer>-31</integer>
		<key>aacute</key>
		<integer>-31</integer>
		<key>acircumflex</key>
		<integer>-31</integer>
		<key>adieresis</key>
		<integer>-31</integer>
		<key>ae</key>
		<integer>-31</integer>
		<key>agrave</key>
		<integer>-31</integer>
		<key>aring</key>
		<integer>-31</integer>
		<key>atilde</key>
		<integer>-31</integer>
		<key>c</key>
		<integer>-61</integer>
		<key>ccedilla</key>
		<integer>-61</integer>
		<key>ccircumflex</key>
		<integer>-61</integer>
		<key>d</key>
		<integer>-61</integer>
		<key>dotlessi</key>
		<integer>-33</integer>
		<key>e</key>
		<integer>-78</integer>
		<key>eacute</key>
		<integer>-61</integer>
		<key>ecircumflex</key>
		<integer>-61</integer>
		<key>edieresis</key>
		<integer>-61</integer>
		<key>egrave</key>
		<integer>-61</integer>
		<key>i</key>
		<integer>-33</integer>
		<key>iacute</key>
		<integer>-33</integer>
		<key>icircumflex</key>
		<integer>-33</integer>
		<key>idieresis</key>
		<integer>-33</integer>
		<key>igrave</key>
		<integer>-33</integer>
		<key>ij</key>
		<integer>-33</integer>
		<key>iogonek</key>
		<integer>-33</integer>
		<key>itilde</key>
		<integer>-33</integer>
		<key>j</key>
		<integer>-33</integer>
		<key>jcircumflex</key>
		<integer>-33</integer>
		<key>o</key>
		<integer>-32</integer>
		<key>oacute</key>
		<integer>-32</integer>
		<key>ocircumflex</key>
		<integer>-32</integer>
		<key>odieresis</key>
		<integer>-32</integer>
		<key>oe</key>
		<integer>-32</integer>
		<key>ograve</key>
		<integer>-32</integer>
		<key>oslash</key>
		<integer>-32</integer>
		<key>otilde</key>
		<integer>-32</integer>
		<key>q</key>
		<integer>-32</integer>
		<key>u</key>
		<integer>-13</integer>
		<key>uacute</key>
		<integer>-13</integer>
		<key>ucircumflex</key>
		<integer>-13</integer>
		<key>udieresis</key>
		<integer>-13</integer>
		<key>ugrave</key>
		<integer>-13</integer>
		<key>umacron</key>
		<integer>-13</integer>
		<key>uni020D</key>
		<integer>-32</integer>
		<key>uni020F</key>
		<integer>-32</integer>
		<key>uni0215</key>
		<integer>-13</integer>
		<key>uni0217</key>
		<integer>-13</integer>
		<key>uogonek</key>
		<integer>-13</integer>
	</dict>
	<key>thorn</key>
	<dict>
		<key>z</key>
		<integer>-22</integer>
	</dict>
	<key>uni0211</key>
	<dict>
		<key>a</key>
		<integer>-49</integer>
		<key>aacute</key>
		<integer>-49</integer>
		<key>acircumflex</key>
		<integer>-49</integer>
		<key>adieresis</key>
		<integer>-49</integer>
		<key>ae</key>
		<integer>-49</integer>
		<key>agrave</key>
		<integer>-49</integer>
		<key>aring</key>
		<integer>-49</integer>
		<key>atilde</key>
		<integer>-49</integer>
		<key>c</key>
		<integer>-46</integer>
		<key>ccedilla</key>
		<integer>-46</integer>
		<key>ccircumflex</key>
		<integer>-46</integer>
		<key>d</key>
		<integer>-46</integer>
		<key>e</key>
		<integer>-46</integer>
		<key>eacute</key>
		<integer>-46</integer>
		<key>ecircumflex</key>
		<integer>-46</integer>
		<key>edieresis</key>
		<integer>-46</integer>
		<key>egrave</key>
		<integer>-46</integer>
		<key>o</key>
		<integer>-46</integer>
		<key>oacute</key>
		<integer>-46</integer>
		<key>ocircumflex</key>
		<integer>-46</integer>
		<key>odieresis</key>
		<integer>-46</integer>
		<key>oe</key>
		<integer>-46</integer>
		<key>ograve</key>
		<integer>-46</integer>
		<key>oslash</key>
		<integer>-46</integer>
		<key>otilde</key>
		<integer>-46</integer>
		<key>q</key>
		<integer>-46</integer>
		<key>uni020D</key>
		<integer>-46</integer>
		<key>uni020F</key>
		<integer>-46</integer>
	</dict>
	<key>uni0213</key>
	<dict>
		<key>a</key>
		<integer>-49</integer>
		<key>aacute</key>
		<integer>-49</integer>
		<key>acircumflex</key>
		<integer>-49</integer>
		<key>adieresis</key>
		<integer>-49</integer>
		<key>ae</key>
		<integer>-49</integer>
		<key>agrave</key>
		<integer>-49</integer>
		<key>aring</key>
		<integer>-49</integer>
		<key>atilde</key>
		<integer>-49</integer>
		<key>c</key>
		<integer>-46</integer>
		<key>ccedilla</key>
		<integer>-46</integer>
		<key>ccircumflex</key>
		<integer>-46</integer>
		<key>d</key>
		<integer>-46</integer>
		<key>e</key>
		<integer>-46</integer>
		<key>eacute</key>
		<integer>-46</integer>
		<key>ecircumflex</key>
		<integer>-46</integer>
		<key>edieresis</key>
		<integer>-46</integer>
		<key>egrave</key>
		<integer>-46</integer>
		<key>o</key>
		<integer>-46</integer>
		<key>oacute</key>
		<integer>-46</integer>
		<key>ocircumflex</key>
		<integer>-46</integer>
		<key>odieresis</key>
		<integer>-46</integer>
		<key>oe</key>
		<integer>-46</integer>
		<key>ograve</key>
		<integer>-46</integer>
		<key>oslash</key>
		<integer>-46</integer>
		<key>otilde</key>
		<integer>-46</integer>
		<key>q</key>
		<integer>-46</integer>
		<key>uni020D</key>
		<integer>-46</integer>
		<key>uni020F</key>
		<integer>-46</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>agrave</key>
		<integer>-16</integer>
		<key>c</key>
		<integer>-49</integer>
		<key>ccedilla</key>
		<integer>-54</integer>
		<key>ccircumflex</key>
		<integer>-54</integer>
		<key>d</key>
		<integer>-57</integer>
		<key>e</key>
		<integer>-54</integer>
		<key>eacute</key>
		<integer>-54</integer>
		<key>ecircumflex</key>
		<integer>-54</integer>
		<key>edieresis</key>
		<integer>-54</integer>
		<key>egrave</key>
		<integer>-54</integer>
		<key>o</key>
		<integer>-28</integer>
		<key>oacute</key>
		<integer>-28</integer>
		<key>ocircumflex</key>
		<integer>-28</integer>
		<key>odieresis</key>
		<integer>-28</integer>
		<key>oe</key>
		<integer>-28</integer>
		<key>ograve</key>
		<integer>-28</integer>
		<key>oslash</key>
		<integer>-28</integer>
		<key>otilde</key>
		<integer>-28</integer>
		<key>q</key>
		<integer>-54</integer>
		<key>uni020D</key>
		<integer>-28</integer>
		<key>uni020F</key>
		<integer>-28</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>agrave</key>
		<integer>-17</integer>
		<key>c</key>
		<integer>-61</integer>
		<key>ccedilla</key>
		<integer>-61</integer>
		<key>ccircumflex</key>
		<integer>-61</integer>
		<key>comma</key>
		<integer>-50</integer>
		<key>d</key>
		<integer>-61</integer>
		<key>e</key>
		<integer>-61</integer>
		<key>eacute</key>
		<integer>-61</integer>
		<key>ecircumflex</key>
		<integer>-61</integer>
		<key>edieresis</key>
		<integer>-61</integer>
		<key>egrave</key>
		<integer>-61</integer>
		<key>h</key>
		<integer>-17</integer>
		<key>o</key>
		<integer>-37</integer>
		<key>oacute</key>
		<integer>-37</integer>
		<key>ocircumflex</key>
		<integer>-37</integer>
		<key>odieresis</key>
		<integer>-37</integer>
		<key>oe</key>
		<integer>-37</integer>
		<key>ograve</key>
		<integer>-37</integer>
		<key>oslash</key>
		<integer>-37</integer>
		<key>otilde</key>
		<integer>-37</integer>
		<key>period</key>
		<integer>-50</integer>
		<key>q</key>
		<integer>-37</integer>
		<key>uni020D</key>
		<integer>-37</integer>
		<key>uni020F</key>
		<integer>-37</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>agrave</key>
		<integer>-38</integer>
		<key>c</key>
		<integer>-41</integer>
		<key>ccedilla</key>
		<integer>-41</integer>
		<key>ccircumflex</key>
		<integer>-41</integer>
		<key>d</key>
		<integer>-41</integer>
		<key>e</key>
		<integer>-41</integer>
		<key>eacute</key>
		<integer>-41</integer>
		<key>ecircumflex</key>
		<integer>-41</integer>
		<key>edieresis</key>
		<integer>-41</integer>
		<key>egrave</key>
		<integer>-41</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>c</key>
		<integer>-12</integer>
		<key>ccedilla</key>
		<integer>-12</integer>
		<key>ccircumflex</key>
		<integer>-12</integer>
		<key>d</key>
		<integer>-12</integer>
		<key>e</key>
		<integer>-12</integer>
		<key>eacute</key>
		<integer>-12</integer>
		<key>ecircumflex</key>
		<integer>-12</integer>
		<key>edieresis</key>
		<integer>-12</integer>
		<key>egrave</key>
		<integer>-12</integer>
		<key>o</key>
		<integer>-12</integer>
		<key>oacute</key>
		<integer>-12</integer>
		<key>ocircumflex</key>
		<integer>-12</integer>
		<key>odieresis</key>
		<integer>-12</integer>
		<key>oe</key>
		<integer>-12</integer>
		<key>ograve</key>
		<integer>-12</integer>
		<key>oslash</key>
		<integer>-12</integer>
		<key>otilde</key>
		<integer>-12</integer>
		<key>q</key>
		<integer>-12</integer>
		<key>s</key>
		<integer>-25</integer>
		<key>uni020D</key>
		<integer>-12</integer>
		<key>uni020F</key>
		<integer>-12</integer>
	</dict>
	<key>z</key>
	<dict>
		<key>c</key>
		<integer>-22</integer>
		<key>ccedilla</key>
		<integer>-22</integer>
		<key>ccircumflex</key>
		<integer>-22</integer>
		<key>d</key>
		<integer>-22</integer>
		<key>e</key>
		<integer>-22</integer>
		<key>eacute</key>
		<integer>-22</integer>
		<key>ecircumflex</key>
		<integer>-22</integer>
		<key>edieresis</key>
		<integer>-22</integer>
		<key>egrave</key>
		<integer>-22</integer>
		<key>o</key>
		<integer>-22</integer>
		<key>oacute</key>
		<integer>-22</integer>
		<key>ocircumflex</key>
		<integer>-22</integer>
		<key>odieresis</key>
		<integer>-22</integer>
		<key>oe</key>
		<integer>-22</integer>
		<key>ograve</key>
		<integer>-22</integer>
		<key>oslash</key>
		<integer>-22</integer>
		<key>otilde</key>
		<integer>-22</integer>
		<key>q</key>
		<integer>-22</integer>
		<key>uni020D</key>
		<integer>-22</integer>
		<key>uni020F</key>
		<integer>-22</integer>
	</dict>
</dict>
</plist>
