<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>F</key>
	<dict>
	    <key>s</key>
	    <integer>-9</integer>
	    <key>period</key>
	    <integer>-170</integer>
	    <key>g</key>
	    <integer>-13</integer>
	    <key>comma</key>
	    <integer>-110</integer>
	    <key>ccircumflex</key>
	    <integer>-36</integer>
	    <key>agrave</key>
	    <integer>-17</integer>
	</dict>
	<key>K</key>
	<dict>
	    <key>w</key>
	    <integer>-8</integer>
	    <key>v</key>
	    <integer>-7</integer>
	    <key>uni020D</key>
	    <integer>-29</integer>
	    <key>ccircumflex</key>
	    <integer>-29</integer>
	    <key>agrave</key>
	    <integer>-20</integer>
	</dict>
	<key>L</key>
	<dict>
	    <key>quotesingle</key>
	    <integer>-100</integer>
	    <key>quoteright</key>
	    <integer>-160</integer>
	    <key>quotedblright</key>
	    <integer>-160</integer>
	    <key>quotedbl</key>
	    <integer>-100</integer>
	    <key>W</key>
	    <integer>-29</integer>
	    <key>V</key>
	    <integer>-37</integer>
	</dict>
	<key>P</key>
	<dict>
	    <key>period</key>
	    <integer>-220</integer>
	    <key>comma</key>
	    <integer>-270</integer>
	</dict>
	<key>T</key>
	<dict>
	    <key>agrave</key>
	    <integer>-73</integer>
	</dict>
	<key>V</key>
	<dict>
	    <key>s</key>
	    <integer>-11</integer>
	    <key>period</key>
	    <integer>-60</integer>
	    <key>g</key>
	    <integer>-14</integer>
	    <key>comma</key>
	    <integer>-70</integer>
	</dict>
	<key>W</key>
	<dict>
	    <key>period</key>
	    <integer>-50</integer>
	    <key>comma</key>
	    <integer>-60</integer>
	</dict>
	<key>a</key>
	<dict>
	    <key>w</key>
	    <integer>-11</integer>
	    <key>v</key>
	    <integer>-10</integer>
	</dict>
	<key>b</key>
	<dict>
	    <key>b</key>
	    <integer>-24</integer>
	    <key>agrave</key>
	    <integer>-13</integer>
	</dict>
	<key>c</key>
	<dict>
	    <key>uni020D</key>
	    <integer>-16</integer>
	    <key>comma</key>
	    <integer>-40</integer>
	    <key>ccircumflex</key>
	    <integer>-16</integer>
	    <key>c</key>
	    <integer>-17</integer>
	</dict>
	<key>d</key>
	<dict>
	    <key>d</key>
	    <integer>-26</integer>
	</dict>
	<key>e</key>
	<dict>
	    <key>x</key>
	    <integer>-19</integer>
	    <key>w</key>
	    <integer>-4</integer>
	</dict>
	<key>f</key>
	<dict>
	    <key>uogonek</key>
	    <integer>-36</integer>
	    <key>uni0215</key>
	    <integer>-36</integer>
	    <key>uni020D</key>
	    <integer>-36</integer>
	    <key>umacron</key>
	    <integer>-36</integer>
	    <key>jcircumflex</key>
	    <integer>-30</integer>
	    <key>j</key>
	    <integer>-30</integer>
	    <key>itilde</key>
	    <integer>-30</integer>
	    <key>iogonek</key>
	    <integer>-30</integer>
	    <key>ij</key>
	    <integer>-30</integer>
	    <key>igrave</key>
	    <integer>-30</integer>
	    <key>idieresis</key>
	    <integer>-30</integer>
	    <key>icircumflex</key>
	    <integer>-30</integer>
	    <key>iacute</key>
	    <integer>-30</integer>
	    <key>i</key>
	    <integer>-30</integer>
	    <key>f</key>
	    <integer>-80</integer>
	    <key>egrave</key>
	    <integer>-72</integer>
	    <key>ecircumflex</key>
	    <integer>-72</integer>
	    <key>eacute</key>
	    <integer>-72</integer>
	    <key>dotlessi</key>
	    <integer>-30</integer>
	    <key>ccircumflex</key>
	    <integer>-72</integer>
	    <key>ccedilla</key>
	    <integer>-72</integer>
	    <key>ccaron</key>
	    <integer>-65</integer>
	    <key>cacute</key>
	    <integer>-65</integer>
	    <key>c</key>
	    <integer>-65</integer>
	    <key>agrave</key>
	    <integer>-39</integer>
	</dict>
	<key>g</key>
	<dict>
	    <key>uni020F</key>
	    <integer>-16</integer>
	    <key>uni020D</key>
	    <integer>-16</integer>
	    <key>q</key>
	    <integer>-16</integer>
	    <key>otilde</key>
	    <integer>-16</integer>
	    <key>oslash</key>
	    <integer>-16</integer>
	    <key>ograve</key>
	    <integer>-16</integer>
	    <key>oe</key>
	    <integer>-16</integer>
	    <key>odieresis</key>
	    <integer>-16</integer>
	    <key>ocircumflex</key>
	    <integer>-16</integer>
	    <key>oacute</key>
	    <integer>-16</integer>
	    <key>o</key>
	    <integer>-16</integer>
	    <key>g</key>
	    <integer>-56</integer>
	    <key>ccircumflex</key>
	    <integer>-59</integer>
	    <key>agrave</key>
	    <integer>-94</integer>
	</dict>
	<key>p</key>
	<dict>
	    <key>x</key>
	    <integer>-30</integer>
	    <key>agrave</key>
	    <integer>-13</integer>
	</dict>
	<key>uni0211</key>
	<dict>
	    <key>uni020D</key>
	    <integer>-46</integer>
	    <key>ccircumflex</key>
	    <integer>-46</integer>
	</dict>
	<key>v</key>
	<dict>
	    <key>period</key>
	    <integer>-60</integer>
	    <key>comma</key>
	    <integer>-80</integer>
	</dict>
	<key>w</key>
	<dict>
	    <key>comma</key>
	    <integer>-50</integer>
	</dict>
	<key>x</key>
	<dict>
	    <key>ccircumflex</key>
	    <integer>-41</integer>
	    <key>agrave</key>
	    <integer>-38</integer>
	</dict>
	<key>z</key>
	<dict>
	    <key>uni020D</key>
	    <integer>-22</integer>
	    <key>ccircumflex</key>
	    <integer>-22</integer>
	</dict>
    </dict>
</plist>
