<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>familyName</key>
	<string>Oswald</string>
	<key>styleName</key>
	<string>empty</string>
	<key>copyright</key>
	<string>2010-13 (c) Vernon Adams</string>
	<key>trademark</key>
	<string>7</string>
	<key>unitsPerEm</key>
	<integer>2048</integer>
	<key>xHeight</key>
	<integer>1184</integer>
	<key>capHeight</key>
	<integer>1658</integer>
	<key>ascender</key>
	<integer>1658</integer>
	<key>descender</key>
	<integer>-390</integer>
	<key>italicAngle</key>
	<real>0</real>
	<key>note</key>
	<string></string>
	<key>openTypeHeadCreated</key>
	<string>2013/06/28 17:35:13</string>
	<key>openTypeNameDesigner</key>
	<string>Vernon Adams</string>
	<key>openTypeNameDesignerURL</key>
	<string>code.newtypography.co.uk</string>
	<key>openTypeNameManufacturer</key>
	<string>Vernon Adams</string>
	<key>openTypeNameManufacturerURL</key>
	<string>code.newtypography.co.uk</string>
	<key>openTypeNameLicense</key>
	<string>Copyright (c) 2013, vernon adams (vernnobile@gmail.com),with Reserved Font Name Oswald. This Font Software is licensed under the SIL Open Font License, Version 1.1.</string>
	<key>openTypeNameLicenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeNameVersion</key>
	<string>5</string>
	<key>openTypeNameUniqueID</key>
	<string>3</string>
	<key>openTypeNameDescription</key>
	<string>10</string>
	<key>openTypeNameCompatibleFullName</key>
	<string>Oswald Regular</string>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2VendorID</key>
	<string>newt</string>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>1658</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-390</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>1658</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>390</integer>
	<key>postscriptFontName</key>
	<string>Oswald</string>
	<key>postscriptFullName</key>
	<string>empty</string>
	<key>postscriptWeightName</key>
	<string>empty</string>
	<key>postscriptUnderlineThickness</key>
	<integer>0</integer>
	<key>postscriptUnderlinePosition</key>
	<integer>0</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-17</integer>
		<integer>0</integer>
		<integer>1184</integer>
		<integer>1200</integer>
		<integer>1658</integer>
		<integer>1674</integer>
	</array>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-390</integer>
		<integer>-362</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>119</integer>
		<integer>132</integer>
		<integer>174</integer>
		<integer>178</integer>
		<integer>186</integer>
		<integer>195</integer>
		<integer>356</integer>
		<integer>406</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>132</integer>
		<integer>137</integer>
		<integer>193</integer>
		<integer>216</integer>
		<integer>237</integer>
	</array>
	<key>postscriptBlueFuzz</key>
	<integer>1</integer>
	<key>postscriptBlueShift</key>
	<integer>7</integer>
	<key>postscriptBlueScale</key>
	<real>0.039625</real>
    </dict>
</plist>
