<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>Abreve</string>
		<string>Aogonek</string>
		<string>uni0202</string>
		<string>uni0200</string>
		<string>Amacron</string>
	</array>
	<key>@MMK_L_B</key>
	<array>
		<string>B</string>
		<string>uni1E02</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
		<string>Cacute</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>Ccaron</string>
	</array>
	<key>@MMK_L_D</key>
	<array>
		<string>D</string>
		<string>uni1E0A</string>
		<string>Dcaron</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>E</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Eogonek</string>
		<string>uni0206</string>
		<string>Ecaron</string>
		<string>Emacron</string>
		<string>uni0204</string>
		<string>Ebreve</string>
	</array>
	<key>@MMK_L_F</key>
	<array>
		<string>F</string>
		<string>uni1E1E</string>
	</array>
	<key>@MMK_L_G</key>
	<array>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>uni01F4</string>
		<string>Gdotaccent</string>
		<string>Gcommaaccent</string>
	</array>
	<key>@MMK_L_H</key>
	<array>
		<string>H</string>
		<string>Hcircumflex</string>
	</array>
	<key>@MMK_L_I</key>
	<array>
		<string>I</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Itilde</string>
		<string>uni020A</string>
		<string>uni0208</string>
		<string>Ibreve</string>
		<string>Iogonek</string>
		<string>Imacron</string>
	</array>
	<key>@MMK_L_J</key>
	<array>
		<string>J</string>
		<string>Jcircumflex</string>
	</array>
	<key>@MMK_L_K</key>
	<array>
		<string>K</string>
		<string>Kcommaaccent</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
	</array>
	<key>@MMK_L_M</key>
	<array>
		<string>M</string>
		<string>uni1E40</string>
	</array>
	<key>@MMK_L_N</key>
	<array>
		<string>N</string>
		<string>Ntilde</string>
		<string>Ncommaaccent</string>
		<string>Nacute</string>
		<string>Ncaron</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>O</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Ohungarumlaut</string>
		<string>uni020E</string>
		<string>uni020C</string>
		<string>Obreve</string>
		<string>Omacron</string>
	</array>
	<key>@MMK_L_P</key>
	<array>
		<string>P</string>
		<string>uni1E56</string>
	</array>
	<key>@MMK_L_R</key>
	<array>
		<string>R</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>Racute</string>
		<string>uni0210</string>
		<string>uni0212</string>
	</array>
	<key>@MMK_L_S</key>
	<array>
		<string>S</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Sacute</string>
		<string>Scommaaccent</string>
		<string>uni1E60</string>
		<string>Scircumflex</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>T</string>
		<string>Tcommaaccent</string>
		<string>uni1E6A</string>
		<string>Tcaron</string>
		<string>uni021A</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>U</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Uhungarumlaut</string>
		<string>Ubreve</string>
		<string>Uogonek</string>
		<string>Utilde</string>
		<string>Umacron</string>
		<string>uni0214</string>
		<string>uni0216</string>
		<string>Uring</string>
	</array>
	<key>@MMK_L_W</key>
	<array>
		<string>W</string>
		<string>Wgrave</string>
		<string>Wdieresis</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ygrave</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_L_Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>@MMK_L_a</key>
	<array>
		<string>a</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>amacron</string>
		<string>abreve</string>
		<string>uni0203</string>
		<string>uni0201</string>
		<string>aogonek</string>
	</array>
	<key>@MMK_L_afii10020</key>
	<array>
		<string>afii10020</string>
		<string>afii10052</string>
	</array>
	<key>@MMK_L_afii10022</key>
	<array>
		<string>afii10023</string>
		<string>afii10022</string>
		<string>uni0400</string>
	</array>
	<key>@MMK_L_afii10026</key>
	<array>
		<string>uni040D</string>
		<string>afii10027</string>
		<string>afii10026</string>
	</array>
	<key>@MMK_L_afii10028</key>
	<array>
		<string>afii10028</string>
		<string>afii10061</string>
	</array>
	<key>@MMK_L_afii10037</key>
	<array>
		<string>afii10037</string>
		<string>afii10062</string>
	</array>
	<key>@MMK_L_afii10055</key>
	<array>
		<string>afii10056</string>
		<string>afii10055</string>
	</array>
	<key>@MMK_L_afii10068</key>
	<array>
		<string>afii10068</string>
		<string>afii10100</string>
	</array>
	<key>@MMK_L_afii10070</key>
	<array>
		<string>uni0450</string>
		<string>afii10070</string>
		<string>afii10071</string>
	</array>
	<key>@MMK_L_afii10074</key>
	<array>
		<string>uni045d</string>
		<string>afii10074</string>
		<string>afii10075</string>
	</array>
	<key>@MMK_L_afii10076</key>
	<array>
		<string>afii10076</string>
		<string>afii10109</string>
	</array>
	<key>@MMK_L_afii10085</key>
	<array>
		<string>afii10085</string>
		<string>afii10110</string>
	</array>
	<key>@MMK_L_afii10103</key>
	<array>
		<string>afii10104</string>
		<string>afii10103</string>
	</array>
	<key>@MMK_L_b</key>
	<array>
		<string>b</string>
		<string>uni1E03</string>
	</array>
	<key>@MMK_L_c</key>
	<array>
		<string>c</string>
		<string>ccedilla</string>
		<string>ccaron</string>
		<string>cdotaccent</string>
		<string>ccircumflex</string>
		<string>cacute</string>
	</array>
	<key>@MMK_L_d</key>
	<array>
		<string>d</string>
		<string>uni1E0B</string>
		<string>dcaron</string>
	</array>
	<key>@MMK_L_e</key>
	<array>
		<string>e</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>emacron</string>
		<string>uni0207</string>
		<string>uni0205</string>
		<string>ecaron</string>
		<string>eogonek</string>
		<string>ebreve</string>
	</array>
	<key>@MMK_L_f</key>
	<array>
		<string>f</string>
		<string>uni1E1F</string>
	</array>
	<key>@MMK_L_g</key>
	<array>
		<string>g</string>
		<string>gcommaaccent</string>
		<string>gcircumflex</string>
		<string>gbreve</string>
		<string>uni01F5</string>
		<string>gdotaccent</string>
	</array>
	<key>@MMK_L_h</key>
	<array>
		<string>h</string>
		<string>hcircumflex</string>
	</array>
	<key>@MMK_L_i</key>
	<array>
		<string>i</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>imacron</string>
		<string>itilde</string>
		<string>uni020B</string>
		<string>uni0209</string>
		<string>iogonek</string>
		<string>ibreve</string>
	</array>
	<key>@MMK_L_j</key>
	<array>
		<string>j</string>
		<string>jcircumflex</string>
	</array>
	<key>@MMK_L_k</key>
	<array>
		<string>k</string>
		<string>kcommaaccent</string>
	</array>
	<key>@MMK_L_l</key>
	<array>
		<string>l</string>
		<string>lacute</string>
		<string>lcommaaccent</string>
		<string>lcaron</string>
	</array>
	<key>@MMK_L_m</key>
	<array>
		<string>m</string>
		<string>uni1E41</string>
	</array>
	<key>@MMK_L_n</key>
	<array>
		<string>n</string>
		<string>ntilde</string>
		<string>ncommaaccent</string>
		<string>nacute</string>
		<string>ncaron</string>
	</array>
	<key>@MMK_L_o</key>
	<array>
		<string>o</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>obreve</string>
		<string>omacron</string>
		<string>ohungarumlaut</string>
		<string>uni020F</string>
		<string>uni020D</string>
	</array>
	<key>@MMK_L_p</key>
	<array>
		<string>p</string>
		<string>uni1E57</string>
	</array>
	<key>@MMK_L_r</key>
	<array>
		<string>r</string>
		<string>rcommaaccent</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>uni0211</string>
		<string>uni0213</string>
	</array>
	<key>@MMK_L_s</key>
	<array>
		<string>s</string>
		<string>scaron</string>
		<string>uni1E61</string>
		<string>sacute</string>
		<string>scircumflex</string>
		<string>scommaaccent</string>
		<string>scedilla</string>
	</array>
	<key>@MMK_L_t</key>
	<array>
		<string>t</string>
		<string>tcaron</string>
		<string>uni1E6B</string>
		<string>tcommaaccent</string>
		<string>uni021B</string>
	</array>
	<key>@MMK_L_u</key>
	<array>
		<string>u</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>utilde</string>
		<string>umacron</string>
		<string>uring</string>
		<string>uhungarumlaut</string>
		<string>uni0215</string>
		<string>uni0217</string>
		<string>uogonek</string>
		<string>ubreve</string>
	</array>
	<key>@MMK_L_w</key>
	<array>
		<string>w</string>
		<string>wacute</string>
		<string>wgrave</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
	</array>
	<key>@MMK_L_y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>ycircumflex</string>
	</array>
	<key>@MMK_L_z</key>
	<array>
		<string>z</string>
		<string>zdotaccent</string>
		<string>zacute</string>
		<string>zcaron</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>Abreve</string>
		<string>Aogonek</string>
		<string>uni0202</string>
		<string>uni0200</string>
		<string>Amacron</string>
	</array>
	<key>@MMK_R_B</key>
	<array>
		<string>B</string>
		<string>uni1E02</string>
	</array>
	<key>@MMK_R_C</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
		<string>Cacute</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>Ccaron</string>
	</array>
	<key>@MMK_R_D</key>
	<array>
		<string>D</string>
		<string>uni1E0A</string>
		<string>Dcaron</string>
	</array>
	<key>@MMK_R_E</key>
	<array>
		<string>E</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Eogonek</string>
		<string>uni0206</string>
		<string>Ecaron</string>
		<string>Emacron</string>
		<string>uni0204</string>
		<string>Ebreve</string>
	</array>
	<key>@MMK_R_F</key>
	<array>
		<string>F</string>
		<string>uni1E1E</string>
	</array>
	<key>@MMK_R_G</key>
	<array>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>uni01F4</string>
		<string>Gdotaccent</string>
		<string>Gcommaaccent</string>
	</array>
	<key>@MMK_R_H</key>
	<array>
		<string>H</string>
		<string>Hcircumflex</string>
	</array>
	<key>@MMK_R_I</key>
	<array>
		<string>I</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Itilde</string>
		<string>uni020A</string>
		<string>uni0208</string>
		<string>Ibreve</string>
		<string>Iogonek</string>
		<string>Imacron</string>
	</array>
	<key>@MMK_R_J</key>
	<array>
		<string>J</string>
		<string>Jcircumflex</string>
	</array>
	<key>@MMK_R_K</key>
	<array>
		<string>K</string>
		<string>Kcommaaccent</string>
	</array>
	<key>@MMK_R_L</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
	</array>
	<key>@MMK_R_M</key>
	<array>
		<string>M</string>
		<string>uni1E40</string>
	</array>
	<key>@MMK_R_N</key>
	<array>
		<string>N</string>
		<string>Ntilde</string>
		<string>Ncommaaccent</string>
		<string>Nacute</string>
		<string>Ncaron</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>O</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Ohungarumlaut</string>
		<string>uni020E</string>
		<string>uni020C</string>
		<string>Obreve</string>
		<string>Omacron</string>
	</array>
	<key>@MMK_R_P</key>
	<array>
		<string>P</string>
		<string>uni1E56</string>
	</array>
	<key>@MMK_R_R</key>
	<array>
		<string>R</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>Racute</string>
		<string>uni0210</string>
		<string>uni0212</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>S</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Sacute</string>
		<string>Scommaaccent</string>
		<string>uni1E60</string>
		<string>Scircumflex</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>T</string>
		<string>Tcommaaccent</string>
		<string>uni1E6A</string>
		<string>Tcaron</string>
		<string>uni021A</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>U</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Uhungarumlaut</string>
		<string>Ubreve</string>
		<string>Uogonek</string>
		<string>Utilde</string>
		<string>Umacron</string>
		<string>uni0214</string>
		<string>uni0216</string>
		<string>Uring</string>
	</array>
	<key>@MMK_R_W</key>
	<array>
		<string>W</string>
		<string>Wgrave</string>
		<string>Wdieresis</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ygrave</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_R_Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>amacron</string>
		<string>abreve</string>
		<string>uni0203</string>
		<string>uni0201</string>
		<string>aogonek</string>
	</array>
	<key>@MMK_R_afii10020</key>
	<array>
		<string>afii10020</string>
		<string>afii10052</string>
	</array>
	<key>@MMK_R_afii10022</key>
	<array>
		<string>afii10023</string>
		<string>afii10022</string>
		<string>uni0400</string>
	</array>
	<key>@MMK_R_afii10026</key>
	<array>
		<string>uni040D</string>
		<string>afii10027</string>
		<string>afii10026</string>
	</array>
	<key>@MMK_R_afii10028</key>
	<array>
		<string>afii10028</string>
		<string>afii10061</string>
	</array>
	<key>@MMK_R_afii10037</key>
	<array>
		<string>afii10037</string>
		<string>afii10062</string>
	</array>
	<key>@MMK_R_afii10055</key>
	<array>
		<string>afii10056</string>
		<string>afii10055</string>
	</array>
	<key>@MMK_R_afii10068</key>
	<array>
		<string>afii10068</string>
		<string>afii10100</string>
	</array>
	<key>@MMK_R_afii10070</key>
	<array>
		<string>uni0450</string>
		<string>afii10070</string>
		<string>afii10071</string>
	</array>
	<key>@MMK_R_afii10074</key>
	<array>
		<string>uni045d</string>
		<string>afii10074</string>
		<string>afii10075</string>
	</array>
	<key>@MMK_R_afii10076</key>
	<array>
		<string>afii10076</string>
		<string>afii10109</string>
	</array>
	<key>@MMK_R_afii10085</key>
	<array>
		<string>afii10085</string>
		<string>afii10110</string>
	</array>
	<key>@MMK_R_afii10103</key>
	<array>
		<string>afii10104</string>
		<string>afii10103</string>
	</array>
	<key>@MMK_R_b</key>
	<array>
		<string>b</string>
		<string>uni1E03</string>
	</array>
	<key>@MMK_R_c</key>
	<array>
		<string>c</string>
		<string>ccedilla</string>
		<string>ccaron</string>
		<string>cdotaccent</string>
		<string>ccircumflex</string>
		<string>cacute</string>
	</array>
	<key>@MMK_R_d</key>
	<array>
		<string>d</string>
		<string>uni1E0B</string>
		<string>dcaron</string>
	</array>
	<key>@MMK_R_e</key>
	<array>
		<string>e</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>emacron</string>
		<string>uni0207</string>
		<string>uni0205</string>
		<string>ecaron</string>
		<string>eogonek</string>
		<string>ebreve</string>
	</array>
	<key>@MMK_R_f</key>
	<array>
		<string>f</string>
		<string>uni1E1F</string>
	</array>
	<key>@MMK_R_g</key>
	<array>
		<string>g</string>
		<string>gcommaaccent</string>
		<string>gcircumflex</string>
		<string>gbreve</string>
		<string>uni01F5</string>
		<string>gdotaccent</string>
	</array>
	<key>@MMK_R_h</key>
	<array>
		<string>h</string>
		<string>hcircumflex</string>
	</array>
	<key>@MMK_R_i</key>
	<array>
		<string>i</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>imacron</string>
		<string>itilde</string>
		<string>uni020B</string>
		<string>uni0209</string>
		<string>iogonek</string>
		<string>ibreve</string>
	</array>
	<key>@MMK_R_j</key>
	<array>
		<string>j</string>
		<string>jcircumflex</string>
	</array>
	<key>@MMK_R_k</key>
	<array>
		<string>k</string>
		<string>kcommaaccent</string>
	</array>
	<key>@MMK_R_l</key>
	<array>
		<string>l</string>
		<string>lacute</string>
		<string>lcommaaccent</string>
		<string>lcaron</string>
	</array>
	<key>@MMK_R_m</key>
	<array>
		<string>m</string>
		<string>uni1E41</string>
	</array>
	<key>@MMK_R_n</key>
	<array>
		<string>n</string>
		<string>ntilde</string>
		<string>ncommaaccent</string>
		<string>nacute</string>
		<string>ncaron</string>
	</array>
	<key>@MMK_R_o</key>
	<array>
		<string>o</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>obreve</string>
		<string>omacron</string>
		<string>ohungarumlaut</string>
		<string>uni020F</string>
		<string>uni020D</string>
	</array>
	<key>@MMK_R_p</key>
	<array>
		<string>p</string>
		<string>uni1E57</string>
	</array>
	<key>@MMK_R_r</key>
	<array>
		<string>r</string>
		<string>rcommaaccent</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>uni0211</string>
		<string>uni0213</string>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>s</string>
		<string>scaron</string>
		<string>uni1E61</string>
		<string>sacute</string>
		<string>scircumflex</string>
		<string>scommaaccent</string>
		<string>scedilla</string>
	</array>
	<key>@MMK_R_t</key>
	<array>
		<string>t</string>
		<string>tcaron</string>
		<string>uni1E6B</string>
		<string>tcommaaccent</string>
		<string>uni021B</string>
	</array>
	<key>@MMK_R_u</key>
	<array>
		<string>u</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>utilde</string>
		<string>umacron</string>
		<string>uring</string>
		<string>uhungarumlaut</string>
		<string>uni0215</string>
		<string>uni0217</string>
		<string>uogonek</string>
		<string>ubreve</string>
	</array>
	<key>@MMK_R_w</key>
	<array>
		<string>w</string>
		<string>wacute</string>
		<string>wgrave</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
	</array>
	<key>@MMK_R_y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>ycircumflex</string>
	</array>
	<key>@MMK_R_z</key>
	<array>
		<string>z</string>
		<string>zdotaccent</string>
		<string>zacute</string>
		<string>zcaron</string>
	</array>
</dict>
</plist>
