<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>Q</key>
		<integer>11</integer>
	</dict>
	<key>Aacute</key>
	<dict>
		<key>Q</key>
		<integer>11</integer>
	</dict>
	<key>Abreve</key>
	<dict>
		<key>Q</key>
		<integer>11</integer>
	</dict>
	<key>Acircumflex</key>
	<dict>
		<key>Q</key>
		<integer>11</integer>
	</dict>
	<key>Adieresis</key>
	<dict>
		<key>Q</key>
		<integer>11</integer>
	</dict>
	<key>Agrave</key>
	<dict>
		<key>Q</key>
		<integer>11</integer>
	</dict>
	<key>Amacron</key>
	<dict>
		<key>Q</key>
		<integer>11</integer>
	</dict>
	<key>Aogonek</key>
	<dict>
		<key>Q</key>
		<integer>11</integer>
	</dict>
	<key>Aring</key>
	<dict>
		<key>Q</key>
		<integer>11</integer>
	</dict>
	<key>Atilde</key>
	<dict>
		<key>Q</key>
		<integer>11</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>A</key>
		<integer>13</integer>
		<key>Aacute</key>
		<integer>13</integer>
		<key>Abreve</key>
		<integer>13</integer>
		<key>Acircumflex</key>
		<integer>13</integer>
		<key>Adieresis</key>
		<integer>13</integer>
		<key>Agrave</key>
		<integer>13</integer>
		<key>Amacron</key>
		<integer>13</integer>
		<key>Aogonek</key>
		<integer>13</integer>
		<key>Aring</key>
		<integer>13</integer>
		<key>Atilde</key>
		<integer>13</integer>
		<key>V</key>
		<integer>8</integer>
		<key>W</key>
		<integer>12</integer>
		<key>Y</key>
		<integer>15</integer>
		<key>Yacute</key>
		<integer>15</integer>
		<key>comma</key>
		<integer>13</integer>
		<key>period</key>
		<integer>13</integer>
		<key>uni0202</key>
		<integer>13</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>agrave</key>
		<integer>-24</integer>
		<key>ccircumflex</key>
		<integer>-51</integer>
		<key>comma</key>
		<integer>-96</integer>
		<key>g</key>
		<integer>-18</integer>
		<key>period</key>
		<integer>-169</integer>
		<key>s</key>
		<integer>-4</integer>
		<key>uni020D</key>
		<integer>16</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>agrave</key>
		<integer>-28</integer>
		<key>ccircumflex</key>
		<integer>-41</integer>
		<key>umacron</key>
		<integer>11</integer>
		<key>uni020D</key>
		<integer>-34</integer>
		<key>uni0215</key>
		<integer>11</integer>
		<key>uogonek</key>
		<integer>11</integer>
		<key>v</key>
		<integer>-10</integer>
		<key>w</key>
		<integer>-11</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>V</key>
		<integer>-53</integer>
		<key>W</key>
		<integer>-41</integer>
		<key>quotedbl</key>
		<integer>-142</integer>
		<key>quotedblright</key>
		<integer>-202</integer>
		<key>quoteright</key>
		<integer>-202</integer>
		<key>quotesingle</key>
		<integer>-142</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>comma</key>
		<integer>-384</integer>
		<key>period</key>
		<integer>-313</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>C</key>
		<integer>22</integer>
		<key>agrave</key>
		<integer>-104</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>comma</key>
		<integer>-99</integer>
		<key>g</key>
		<integer>-20</integer>
		<key>period</key>
		<integer>-85</integer>
		<key>s</key>
		<integer>-16</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>comma</key>
		<integer>-85</integer>
		<key>period</key>
		<integer>-71</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>o</key>
		<integer>29</integer>
	</dict>
	<key>Yacute</key>
	<dict>
		<key>o</key>
		<integer>36</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>v</key>
		<integer>-14</integer>
		<key>w</key>
		<integer>-16</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>agrave</key>
		<integer>-18</integer>
		<key>b</key>
		<integer>-27</integer>
		<key>v</key>
		<integer>6</integer>
		<key>y</key>
		<integer>6</integer>
		<key>yacute</key>
		<integer>6</integer>
		<key>ydieresis</key>
		<integer>6</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>c</key>
		<integer>-22</integer>
		<key>ccircumflex</key>
		<integer>-23</integer>
		<key>comma</key>
		<integer>-57</integer>
		<key>uni020D</key>
		<integer>-23</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>d</key>
		<integer>-26</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>w</key>
		<integer>-6</integer>
		<key>x</key>
		<integer>-16</integer>
	</dict>
	<key>eacute</key>
	<dict>
		<key>x</key>
		<integer>11</integer>
	</dict>
	<key>ecircumflex</key>
	<dict>
		<key>x</key>
		<integer>11</integer>
	</dict>
	<key>edieresis</key>
	<dict>
		<key>x</key>
		<integer>11</integer>
	</dict>
	<key>egrave</key>
	<dict>
		<key>x</key>
		<integer>11</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>agrave</key>
		<integer>-55</integer>
		<key>c</key>
		<integer>-92</integer>
		<key>cacute</key>
		<integer>-92</integer>
		<key>ccaron</key>
		<integer>-92</integer>
		<key>ccedilla</key>
		<integer>-102</integer>
		<key>ccircumflex</key>
		<integer>-102</integer>
		<key>dotlessi</key>
		<integer>-43</integer>
		<key>eacute</key>
		<integer>-102</integer>
		<key>ecircumflex</key>
		<integer>-102</integer>
		<key>egrave</key>
		<integer>-102</integer>
		<key>f</key>
		<integer>-81</integer>
		<key>i</key>
		<integer>-43</integer>
		<key>iacute</key>
		<integer>-43</integer>
		<key>icircumflex</key>
		<integer>-43</integer>
		<key>idieresis</key>
		<integer>-43</integer>
		<key>igrave</key>
		<integer>-43</integer>
		<key>ij</key>
		<integer>-43</integer>
		<key>iogonek</key>
		<integer>-43</integer>
		<key>itilde</key>
		<integer>-43</integer>
		<key>j</key>
		<integer>-43</integer>
		<key>jcircumflex</key>
		<integer>-43</integer>
		<key>umacron</key>
		<integer>-51</integer>
		<key>uni020D</key>
		<integer>-41</integer>
		<key>uni0215</key>
		<integer>-51</integer>
		<key>uogonek</key>
		<integer>-51</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>agrave</key>
		<integer>-134</integer>
		<key>ccircumflex</key>
		<integer>-84</integer>
		<key>d</key>
		<integer>6</integer>
		<key>g</key>
		<integer>-80</integer>
		<key>o</key>
		<integer>-23</integer>
		<key>oacute</key>
		<integer>-23</integer>
		<key>ocircumflex</key>
		<integer>-23</integer>
		<key>odieresis</key>
		<integer>-23</integer>
		<key>oe</key>
		<integer>-23</integer>
		<key>ograve</key>
		<integer>-23</integer>
		<key>otilde</key>
		<integer>-23</integer>
		<key>q</key>
		<integer>-23</integer>
		<key>umacron</key>
		<integer>6</integer>
		<key>uni020D</key>
		<integer>-14</integer>
		<key>uni020F</key>
		<integer>-23</integer>
		<key>uni0215</key>
		<integer>6</integer>
		<key>uogonek</key>
		<integer>6</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>y</key>
		<integer>4</integer>
		<key>yacute</key>
		<integer>4</integer>
		<key>ydieresis</key>
		<integer>4</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>y</key>
		<integer>9</integer>
		<key>yacute</key>
		<integer>9</integer>
		<key>ydieresis</key>
		<integer>9</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>agrave</key>
		<integer>-18</integer>
		<key>x</key>
		<integer>-43</integer>
		<key>y</key>
		<integer>8</integer>
		<key>yacute</key>
		<integer>8</integer>
		<key>ydieresis</key>
		<integer>8</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>c</key>
		<integer>9</integer>
		<key>d</key>
		<integer>10</integer>
		<key>q</key>
		<integer>18</integer>
	</dict>
	<key>rcaron</key>
	<dict>
		<key>c</key>
		<integer>9</integer>
		<key>d</key>
		<integer>10</integer>
		<key>q</key>
		<integer>18</integer>
	</dict>
	<key>rcommaaccent</key>
	<dict>
		<key>c</key>
		<integer>9</integer>
		<key>d</key>
		<integer>10</integer>
		<key>q</key>
		<integer>18</integer>
	</dict>
	<key>uni0202</key>
	<dict>
		<key>Q</key>
		<integer>11</integer>
	</dict>
	<key>uni020D</key>
	<dict>
		<key>x</key>
		<integer>19</integer>
	</dict>
	<key>uni0211</key>
	<dict>
		<key>c</key>
		<integer>15</integer>
		<key>ccedilla</key>
		<integer>15</integer>
		<key>ccircumflex</key>
		<integer>-50</integer>
		<key>d</key>
		<integer>15</integer>
		<key>g</key>
		<integer>20</integer>
		<key>q</key>
		<integer>18</integer>
		<key>uni020D</key>
		<integer>-45</integer>
	</dict>
	<key>uni0213</key>
	<dict>
		<key>c</key>
		<integer>9</integer>
		<key>d</key>
		<integer>10</integer>
		<key>q</key>
		<integer>18</integer>
	</dict>
	<key>uni021A</key>
	<dict>
		<key>C</key>
		<integer>22</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>comma</key>
		<integer>-114</integer>
		<key>oacute</key>
		<integer>9</integer>
		<key>period</key>
		<integer>-85</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>comma</key>
		<integer>-71</integer>
		<key>ocircumflex</key>
		<integer>5</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>agrave</key>
		<integer>-54</integer>
		<key>ccircumflex</key>
		<integer>-58</integer>
		<key>o</key>
		<integer>8</integer>
		<key>oacute</key>
		<integer>16</integer>
		<key>ocircumflex</key>
		<integer>16</integer>
		<key>odieresis</key>
		<integer>16</integer>
		<key>ograve</key>
		<integer>16</integer>
		<key>otilde</key>
		<integer>16</integer>
		<key>uni020D</key>
		<integer>16</integer>
		<key>uni020F</key>
		<integer>16</integer>
	</dict>
	<key>z</key>
	<dict>
		<key>ccircumflex</key>
		<integer>-31</integer>
		<key>uni020D</key>
		<integer>-26</integer>
	</dict>
</dict>
</plist>
