<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>Q</key>
		<integer>11</integer>
	</dict>
	<key>@MMK_L_D</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>13</integer>
		<key>@MMK_R_W</key>
		<integer>12</integer>
		<key>@MMK_R_Y</key>
		<integer>15</integer>
		<key>V</key>
		<integer>8</integer>
		<key>comma</key>
		<integer>13</integer>
		<key>period</key>
		<integer>13</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>0</integer>
		<key>@MMK_R_c</key>
		<integer>0</integer>
		<key>@MMK_R_g</key>
		<integer>-18</integer>
		<key>@MMK_R_o</key>
		<integer>0</integer>
		<key>@MMK_R_s</key>
		<integer>-4</integer>
		<key>comma</key>
		<integer>-96</integer>
		<key>period</key>
		<integer>-169</integer>
	</dict>
	<key>@MMK_L_K</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>0</integer>
		<key>@MMK_R_c</key>
		<integer>0</integer>
		<key>@MMK_R_o</key>
		<integer>0</integer>
		<key>@MMK_R_u</key>
		<integer>0</integer>
		<key>@MMK_R_w</key>
		<integer>-11</integer>
		<key>v</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_W</key>
		<integer>-41</integer>
		<key>V</key>
		<integer>-53</integer>
		<key>quotedbl</key>
		<integer>-142</integer>
		<key>quotedblright</key>
		<integer>-202</integer>
		<key>quoteright</key>
		<integer>-202</integer>
		<key>quotesingle</key>
		<integer>-142</integer>
	</dict>
	<key>@MMK_L_P</key>
	<dict>
		<key>comma</key>
		<integer>-384</integer>
		<key>period</key>
		<integer>-313</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>22</integer>
		<key>@MMK_R_a</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_W</key>
	<dict>
		<key>comma</key>
		<integer>-85</integer>
		<key>period</key>
		<integer>-71</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>29</integer>
	</dict>
	<key>@MMK_L_a</key>
	<dict>
		<key>@MMK_R_w</key>
		<integer>-16</integer>
		<key>v</key>
		<integer>-14</integer>
	</dict>
	<key>@MMK_L_afii10068</key>
	<dict>
		<key>afii10065</key>
		<integer>-25</integer>
		<key>afii10069</key>
		<integer>-57</integer>
		<key>afii10073</key>
		<integer>-19</integer>
		<key>afii10080</key>
		<integer>-33</integer>
	</dict>
	<key>@MMK_L_afii10070</key>
	<dict>
		<key>afii10084</key>
		<integer>-12</integer>
	</dict>
	<key>@MMK_L_b</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>0</integer>
		<key>@MMK_R_b</key>
		<integer>-27</integer>
		<key>@MMK_R_y</key>
		<integer>6</integer>
		<key>v</key>
		<integer>6</integer>
	</dict>
	<key>@MMK_L_c</key>
	<dict>
		<key>@MMK_R_c</key>
		<integer>-22</integer>
		<key>@MMK_R_o</key>
		<integer>0</integer>
		<key>comma</key>
		<integer>-57</integer>
	</dict>
	<key>@MMK_L_d</key>
	<dict>
		<key>@MMK_R_d</key>
		<integer>-26</integer>
	</dict>
	<key>@MMK_L_e</key>
	<dict>
		<key>@MMK_R_w</key>
		<integer>-6</integer>
		<key>x</key>
		<integer>-16</integer>
	</dict>
	<key>@MMK_L_f</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>0</integer>
		<key>@MMK_R_c</key>
		<integer>-92</integer>
		<key>@MMK_R_e</key>
		<integer>0</integer>
		<key>@MMK_R_f</key>
		<integer>-81</integer>
		<key>@MMK_R_i</key>
		<integer>-43</integer>
		<key>@MMK_R_j</key>
		<integer>-43</integer>
		<key>@MMK_R_o</key>
		<integer>0</integer>
		<key>@MMK_R_u</key>
		<integer>0</integer>
		<key>dotlessi</key>
		<integer>-43</integer>
		<key>ij</key>
		<integer>-43</integer>
	</dict>
	<key>@MMK_L_g</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>0</integer>
		<key>@MMK_R_c</key>
		<integer>0</integer>
		<key>@MMK_R_d</key>
		<integer>6</integer>
		<key>@MMK_R_g</key>
		<integer>-80</integer>
		<key>@MMK_R_o</key>
		<integer>-23</integer>
		<key>@MMK_R_u</key>
		<integer>0</integer>
		<key>oe</key>
		<integer>-23</integer>
		<key>q</key>
		<integer>-23</integer>
	</dict>
	<key>@MMK_L_h</key>
	<dict>
		<key>@MMK_R_y</key>
		<integer>4</integer>
	</dict>
	<key>@MMK_L_m</key>
	<dict>
		<key>@MMK_R_y</key>
		<integer>9</integer>
	</dict>
	<key>@MMK_L_o</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_p</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>0</integer>
		<key>@MMK_R_y</key>
		<integer>8</integer>
		<key>x</key>
		<integer>-43</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_c</key>
		<integer>9</integer>
		<key>@MMK_R_d</key>
		<integer>10</integer>
		<key>@MMK_R_g</key>
		<integer>0</integer>
		<key>@MMK_R_o</key>
		<integer>0</integer>
		<key>q</key>
		<integer>18</integer>
	</dict>
	<key>@MMK_L_w</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>0</integer>
		<key>comma</key>
		<integer>-71</integer>
	</dict>
	<key>@MMK_L_z</key>
	<dict>
		<key>@MMK_R_c</key>
		<integer>0</integer>
		<key>@MMK_R_o</key>
		<integer>0</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>agrave</key>
		<integer>-24</integer>
		<key>ccircumflex</key>
		<integer>-51</integer>
		<key>uni020D</key>
		<integer>16</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>agrave</key>
		<integer>-28</integer>
		<key>ccircumflex</key>
		<integer>-41</integer>
		<key>umacron</key>
		<integer>11</integer>
		<key>uni020D</key>
		<integer>-34</integer>
		<key>uni0215</key>
		<integer>11</integer>
		<key>uogonek</key>
		<integer>11</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>agrave</key>
		<integer>-104</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_s</key>
		<integer>-16</integer>
		<key>comma</key>
		<integer>-99</integer>
		<key>period</key>
		<integer>-85</integer>
	</dict>
	<key>Yacute</key>
	<dict>
		<key>o</key>
		<integer>36</integer>
	</dict>
	<key>afii10069</key>
	<dict>
		<key>afii10080</key>
		<integer>-15</integer>
	</dict>
	<key>afii10080</key>
	<dict>
		<key>afii10084</key>
		<integer>-12</integer>
	</dict>
	<key>afii10084</key>
	<dict>
		<key>@MMK_R_afii10070</key>
		<integer>-12</integer>
		<key>afii10080</key>
		<integer>-12</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>agrave</key>
		<integer>-18</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>ccircumflex</key>
		<integer>-23</integer>
		<key>uni020D</key>
		<integer>-23</integer>
	</dict>
	<key>eacute</key>
	<dict>
		<key>x</key>
		<integer>11</integer>
	</dict>
	<key>ecircumflex</key>
	<dict>
		<key>x</key>
		<integer>11</integer>
	</dict>
	<key>edieresis</key>
	<dict>
		<key>x</key>
		<integer>11</integer>
	</dict>
	<key>egrave</key>
	<dict>
		<key>x</key>
		<integer>11</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>agrave</key>
		<integer>-55</integer>
		<key>ccedilla</key>
		<integer>-102</integer>
		<key>ccircumflex</key>
		<integer>-102</integer>
		<key>eacute</key>
		<integer>-102</integer>
		<key>ecircumflex</key>
		<integer>-102</integer>
		<key>egrave</key>
		<integer>-102</integer>
		<key>umacron</key>
		<integer>-51</integer>
		<key>uni020D</key>
		<integer>-41</integer>
		<key>uni0215</key>
		<integer>-51</integer>
		<key>uogonek</key>
		<integer>-51</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>agrave</key>
		<integer>-134</integer>
		<key>ccircumflex</key>
		<integer>-84</integer>
		<key>umacron</key>
		<integer>6</integer>
		<key>uni020D</key>
		<integer>-14</integer>
		<key>uni0215</key>
		<integer>6</integer>
		<key>uogonek</key>
		<integer>6</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>agrave</key>
		<integer>-18</integer>
	</dict>
	<key>uni020D</key>
	<dict>
		<key>x</key>
		<integer>19</integer>
	</dict>
	<key>uni0211</key>
	<dict>
		<key>c</key>
		<integer>15</integer>
		<key>ccedilla</key>
		<integer>15</integer>
		<key>ccircumflex</key>
		<integer>-50</integer>
		<key>d</key>
		<integer>15</integer>
		<key>g</key>
		<integer>20</integer>
		<key>uni020D</key>
		<integer>-45</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>0</integer>
		<key>comma</key>
		<integer>-114</integer>
		<key>oacute</key>
		<integer>9</integer>
		<key>period</key>
		<integer>-85</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>ocircumflex</key>
		<integer>5</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>0</integer>
		<key>@MMK_R_c</key>
		<integer>0</integer>
		<key>@MMK_R_o</key>
		<integer>8</integer>
		<key>agrave</key>
		<integer>-54</integer>
		<key>ccircumflex</key>
		<integer>-58</integer>
		<key>oacute</key>
		<integer>16</integer>
		<key>ocircumflex</key>
		<integer>16</integer>
		<key>odieresis</key>
		<integer>16</integer>
		<key>ograve</key>
		<integer>16</integer>
		<key>otilde</key>
		<integer>16</integer>
		<key>uni020D</key>
		<integer>16</integer>
		<key>uni020F</key>
		<integer>16</integer>
	</dict>
	<key>z</key>
	<dict>
		<key>ccircumflex</key>
		<integer>-31</integer>
		<key>uni020D</key>
		<integer>-26</integer>
	</dict>
</dict>
</plist>
