<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>Ccedilla</key>
		<integer>-13</integer>
		<key>G</key>
		<integer>-9</integer>
		<key>Q</key>
		<integer>-1</integer>
	</dict>
	<key>Aacute</key>
	<dict>
		<key>Ccedilla</key>
		<integer>-13</integer>
		<key>G</key>
		<integer>-9</integer>
		<key>Q</key>
		<integer>-1</integer>
	</dict>
	<key>Abreve</key>
	<dict>
		<key>Ccedilla</key>
		<integer>-13</integer>
		<key>G</key>
		<integer>-9</integer>
		<key>Q</key>
		<integer>-1</integer>
	</dict>
	<key>Acircumflex</key>
	<dict>
		<key>Ccedilla</key>
		<integer>-13</integer>
		<key>G</key>
		<integer>-9</integer>
		<key>Q</key>
		<integer>-1</integer>
	</dict>
	<key>Adieresis</key>
	<dict>
		<key>Ccedilla</key>
		<integer>-13</integer>
		<key>G</key>
		<integer>-9</integer>
		<key>Q</key>
		<integer>-1</integer>
	</dict>
	<key>Agrave</key>
	<dict>
		<key>Ccedilla</key>
		<integer>-13</integer>
		<key>G</key>
		<integer>-9</integer>
		<key>Q</key>
		<integer>-1</integer>
	</dict>
	<key>Amacron</key>
	<dict>
		<key>Ccedilla</key>
		<integer>-13</integer>
		<key>G</key>
		<integer>-9</integer>
		<key>Q</key>
		<integer>-1</integer>
	</dict>
	<key>Aogonek</key>
	<dict>
		<key>Ccedilla</key>
		<integer>-13</integer>
		<key>G</key>
		<integer>-9</integer>
		<key>Q</key>
		<integer>-1</integer>
	</dict>
	<key>Aring</key>
	<dict>
		<key>Ccedilla</key>
		<integer>-13</integer>
		<key>G</key>
		<integer>-9</integer>
		<key>Q</key>
		<integer>-1</integer>
	</dict>
	<key>Atilde</key>
	<dict>
		<key>Ccedilla</key>
		<integer>-13</integer>
		<key>G</key>
		<integer>-9</integer>
		<key>Q</key>
		<integer>-1</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>A</key>
		<integer>-14</integer>
		<key>Aacute</key>
		<integer>-14</integer>
		<key>Abreve</key>
		<integer>-14</integer>
		<key>Acircumflex</key>
		<integer>-14</integer>
		<key>Adieresis</key>
		<integer>-14</integer>
		<key>Agrave</key>
		<integer>-14</integer>
		<key>Amacron</key>
		<integer>-14</integer>
		<key>Aogonek</key>
		<integer>-14</integer>
		<key>Aring</key>
		<integer>-14</integer>
		<key>Atilde</key>
		<integer>-14</integer>
		<key>V</key>
		<integer>-17</integer>
		<key>W</key>
		<integer>-7</integer>
		<key>Y</key>
		<integer>-7</integer>
		<key>Yacute</key>
		<integer>-7</integer>
		<key>Ydieresis</key>
		<integer>-11</integer>
		<key>comma</key>
		<integer>-18</integer>
		<key>period</key>
		<integer>-18</integer>
		<key>uni0202</key>
		<integer>-14</integer>
	</dict>
	<key>Dcaron</key>
	<dict>
		<key>comma</key>
		<integer>-22</integer>
		<key>period</key>
		<integer>-22</integer>
	</dict>
	<key>E</key>
	<dict>
		<key>ccircumflex</key>
		<integer>-35</integer>
		<key>cdotaccent</key>
		<integer>-35</integer>
		<key>ecaron</key>
		<integer>-35</integer>
		<key>g</key>
		<integer>-35</integer>
		<key>gbreve</key>
		<integer>-35</integer>
		<key>gcircumflex</key>
		<integer>-35</integer>
		<key>gdotaccent</key>
		<integer>-35</integer>
		<key>ohungarumlaut</key>
		<integer>-35</integer>
		<key>s</key>
		<integer>-35</integer>
		<key>sacute</key>
		<integer>-35</integer>
		<key>scaron</key>
		<integer>-35</integer>
		<key>scedilla</key>
		<integer>-35</integer>
		<key>scircumflex</key>
		<integer>-35</integer>
	</dict>
	<key>Eacute</key>
	<dict>
		<key>ccircumflex</key>
		<integer>-35</integer>
		<key>cdotaccent</key>
		<integer>-35</integer>
		<key>ecaron</key>
		<integer>-35</integer>
		<key>g</key>
		<integer>-35</integer>
		<key>gbreve</key>
		<integer>-35</integer>
		<key>gcircumflex</key>
		<integer>-35</integer>
		<key>gdotaccent</key>
		<integer>-35</integer>
		<key>ohungarumlaut</key>
		<integer>-35</integer>
		<key>s</key>
		<integer>-35</integer>
		<key>sacute</key>
		<integer>-35</integer>
		<key>scaron</key>
		<integer>-35</integer>
		<key>scedilla</key>
		<integer>-35</integer>
		<key>scircumflex</key>
		<integer>-35</integer>
	</dict>
	<key>Ecaron</key>
	<dict>
		<key>ccircumflex</key>
		<integer>-35</integer>
		<key>cdotaccent</key>
		<integer>-35</integer>
		<key>ecaron</key>
		<integer>-35</integer>
		<key>g</key>
		<integer>-35</integer>
		<key>gbreve</key>
		<integer>-35</integer>
		<key>gcircumflex</key>
		<integer>-35</integer>
		<key>gdotaccent</key>
		<integer>-35</integer>
		<key>ohungarumlaut</key>
		<integer>-35</integer>
		<key>s</key>
		<integer>-35</integer>
		<key>sacute</key>
		<integer>-35</integer>
		<key>scaron</key>
		<integer>-35</integer>
		<key>scedilla</key>
		<integer>-35</integer>
		<key>scircumflex</key>
		<integer>-35</integer>
	</dict>
	<key>Ecircumflex</key>
	<dict>
		<key>ccircumflex</key>
		<integer>-35</integer>
		<key>cdotaccent</key>
		<integer>-35</integer>
		<key>ecaron</key>
		<integer>-35</integer>
		<key>g</key>
		<integer>-35</integer>
		<key>gbreve</key>
		<integer>-35</integer>
		<key>gcircumflex</key>
		<integer>-35</integer>
		<key>gdotaccent</key>
		<integer>-35</integer>
		<key>ohungarumlaut</key>
		<integer>-35</integer>
		<key>s</key>
		<integer>-35</integer>
		<key>sacute</key>
		<integer>-35</integer>
		<key>scaron</key>
		<integer>-35</integer>
		<key>scedilla</key>
		<integer>-35</integer>
		<key>scircumflex</key>
		<integer>-35</integer>
	</dict>
	<key>Edieresis</key>
	<dict>
		<key>ccircumflex</key>
		<integer>-35</integer>
		<key>cdotaccent</key>
		<integer>-35</integer>
		<key>ecaron</key>
		<integer>-35</integer>
		<key>g</key>
		<integer>-35</integer>
		<key>gbreve</key>
		<integer>-35</integer>
		<key>gcircumflex</key>
		<integer>-35</integer>
		<key>gdotaccent</key>
		<integer>-35</integer>
		<key>ohungarumlaut</key>
		<integer>-35</integer>
		<key>s</key>
		<integer>-35</integer>
		<key>sacute</key>
		<integer>-35</integer>
		<key>scaron</key>
		<integer>-35</integer>
		<key>scedilla</key>
		<integer>-35</integer>
		<key>scircumflex</key>
		<integer>-35</integer>
	</dict>
	<key>Egrave</key>
	<dict>
		<key>ccircumflex</key>
		<integer>-35</integer>
		<key>cdotaccent</key>
		<integer>-35</integer>
		<key>ecaron</key>
		<integer>-35</integer>
		<key>g</key>
		<integer>-35</integer>
		<key>gbreve</key>
		<integer>-35</integer>
		<key>gcircumflex</key>
		<integer>-35</integer>
		<key>gdotaccent</key>
		<integer>-35</integer>
		<key>ohungarumlaut</key>
		<integer>-35</integer>
		<key>s</key>
		<integer>-35</integer>
		<key>sacute</key>
		<integer>-35</integer>
		<key>scaron</key>
		<integer>-35</integer>
		<key>scedilla</key>
		<integer>-35</integer>
		<key>scircumflex</key>
		<integer>-35</integer>
	</dict>
	<key>Eogonek</key>
	<dict>
		<key>ccircumflex</key>
		<integer>-35</integer>
		<key>cdotaccent</key>
		<integer>-35</integer>
		<key>ecaron</key>
		<integer>-35</integer>
		<key>g</key>
		<integer>-35</integer>
		<key>gbreve</key>
		<integer>-35</integer>
		<key>gcircumflex</key>
		<integer>-35</integer>
		<key>gdotaccent</key>
		<integer>-35</integer>
		<key>ohungarumlaut</key>
		<integer>-35</integer>
		<key>s</key>
		<integer>-35</integer>
		<key>sacute</key>
		<integer>-35</integer>
		<key>scaron</key>
		<integer>-35</integer>
		<key>scedilla</key>
		<integer>-35</integer>
		<key>scircumflex</key>
		<integer>-35</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>agrave</key>
		<integer>-7</integer>
		<key>cacute</key>
		<integer>-35</integer>
		<key>ccaron</key>
		<integer>-35</integer>
		<key>ccedilla</key>
		<integer>-35</integer>
		<key>ccircumflex</key>
		<integer>-50</integer>
		<key>cdotaccent</key>
		<integer>-35</integer>
		<key>comma</key>
		<integer>-95</integer>
		<key>ecaron</key>
		<integer>-45</integer>
		<key>g</key>
		<integer>-40</integer>
		<key>gbreve</key>
		<integer>-35</integer>
		<key>gcircumflex</key>
		<integer>-35</integer>
		<key>gdotaccent</key>
		<integer>-35</integer>
		<key>oacute</key>
		<integer>-66</integer>
		<key>ocircumflex</key>
		<integer>-66</integer>
		<key>odieresis</key>
		<integer>-66</integer>
		<key>ograve</key>
		<integer>-66</integer>
		<key>ohungarumlaut</key>
		<integer>-66</integer>
		<key>otilde</key>
		<integer>-66</integer>
		<key>period</key>
		<integer>-117</integer>
		<key>r</key>
		<integer>-22</integer>
		<key>racute</key>
		<integer>-22</integer>
		<key>rcaron</key>
		<integer>-22</integer>
		<key>s</key>
		<integer>-25</integer>
		<key>sacute</key>
		<integer>-35</integer>
		<key>scaron</key>
		<integer>-35</integer>
		<key>scedilla</key>
		<integer>-35</integer>
		<key>scircumflex</key>
		<integer>-35</integer>
		<key>uni020D</key>
		<integer>5</integer>
		<key>uni020F</key>
		<integer>-66</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>ecaron</key>
		<integer>-4</integer>
		<key>oacute</key>
		<integer>-5</integer>
		<key>ocircumflex</key>
		<integer>-5</integer>
		<key>odieresis</key>
		<integer>-5</integer>
		<key>ograve</key>
		<integer>-5</integer>
		<key>ohungarumlaut</key>
		<integer>-5</integer>
		<key>otilde</key>
		<integer>-5</integer>
		<key>ubreve</key>
		<integer>4</integer>
		<key>uhungarumlaut</key>
		<integer>4</integer>
		<key>uni020F</key>
		<integer>-5</integer>
		<key>uring</key>
		<integer>4</integer>
	</dict>
	<key>Jcircumflex</key>
	<dict>
		<key>ecaron</key>
		<integer>-4</integer>
		<key>o</key>
		<integer>-5</integer>
		<key>oacute</key>
		<integer>-5</integer>
		<key>ocircumflex</key>
		<integer>-5</integer>
		<key>odieresis</key>
		<integer>-5</integer>
		<key>ograve</key>
		<integer>-5</integer>
		<key>ohungarumlaut</key>
		<integer>-5</integer>
		<key>otilde</key>
		<integer>-5</integer>
		<key>ubreve</key>
		<integer>4</integer>
		<key>uhungarumlaut</key>
		<integer>4</integer>
		<key>uring</key>
		<integer>4</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>Ohungarumlaut</key>
		<integer>-57</integer>
		<key>agrave</key>
		<integer>-8</integer>
		<key>c</key>
		<integer>-35</integer>
		<key>cacute</key>
		<integer>-35</integer>
		<key>ccaron</key>
		<integer>-35</integer>
		<key>ccedilla</key>
		<integer>-35</integer>
		<key>ccircumflex</key>
		<integer>-47</integer>
		<key>cdotaccent</key>
		<integer>-35</integer>
		<key>ecaron</key>
		<integer>-41</integer>
		<key>g</key>
		<integer>-35</integer>
		<key>gbreve</key>
		<integer>-35</integer>
		<key>gcircumflex</key>
		<integer>-35</integer>
		<key>gdotaccent</key>
		<integer>-35</integer>
		<key>ohungarumlaut</key>
		<integer>-41</integer>
		<key>s</key>
		<integer>-35</integer>
		<key>sacute</key>
		<integer>-35</integer>
		<key>scaron</key>
		<integer>-35</integer>
		<key>scedilla</key>
		<integer>-35</integer>
		<key>scircumflex</key>
		<integer>-35</integer>
		<key>ubreve</key>
		<integer>-28</integer>
		<key>uhungarumlaut</key>
		<integer>-28</integer>
		<key>umacron</key>
		<integer>3</integer>
		<key>uni020D</key>
		<integer>-10</integer>
		<key>uni0215</key>
		<integer>3</integer>
		<key>uogonek</key>
		<integer>3</integer>
		<key>uring</key>
		<integer>-28</integer>
		<key>v</key>
		<integer>-3</integer>
		<key>w</key>
		<integer>-3</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>Tcaron</key>
		<integer>-71</integer>
		<key>Ubreve</key>
		<integer>-26</integer>
		<key>Uhungarumlaut</key>
		<integer>-26</integer>
		<key>Uring</key>
		<integer>-26</integer>
		<key>V</key>
		<integer>-16</integer>
		<key>W</key>
		<integer>-12</integer>
		<key>ccircumflex</key>
		<integer>-18</integer>
		<key>cdotaccent</key>
		<integer>-18</integer>
		<key>ecaron</key>
		<integer>-18</integer>
		<key>g</key>
		<integer>-18</integer>
		<key>gbreve</key>
		<integer>-18</integer>
		<key>gcircumflex</key>
		<integer>-18</integer>
		<key>gdotaccent</key>
		<integer>-18</integer>
		<key>ohungarumlaut</key>
		<integer>-18</integer>
		<key>quotedbl</key>
		<integer>-43</integer>
		<key>quotedblright</key>
		<integer>-137</integer>
		<key>quoteright</key>
		<integer>-147</integer>
		<key>quotesingle</key>
		<integer>-43</integer>
		<key>s</key>
		<integer>-18</integer>
		<key>sacute</key>
		<integer>-18</integer>
		<key>scaron</key>
		<integer>-18</integer>
		<key>scedilla</key>
		<integer>-18</integer>
		<key>scircumflex</key>
		<integer>-18</integer>
	</dict>
	<key>Lacute</key>
	<dict>
		<key>Tcaron</key>
		<integer>-71</integer>
		<key>Ubreve</key>
		<integer>-26</integer>
		<key>Uhungarumlaut</key>
		<integer>-26</integer>
		<key>Uring</key>
		<integer>-26</integer>
		<key>ccircumflex</key>
		<integer>-18</integer>
		<key>cdotaccent</key>
		<integer>-18</integer>
		<key>ecaron</key>
		<integer>-18</integer>
		<key>g</key>
		<integer>-18</integer>
		<key>gbreve</key>
		<integer>-18</integer>
		<key>gcircumflex</key>
		<integer>-18</integer>
		<key>gdotaccent</key>
		<integer>-18</integer>
		<key>ohungarumlaut</key>
		<integer>-18</integer>
		<key>s</key>
		<integer>-18</integer>
		<key>sacute</key>
		<integer>-18</integer>
		<key>scaron</key>
		<integer>-18</integer>
		<key>scedilla</key>
		<integer>-18</integer>
		<key>scircumflex</key>
		<integer>-18</integer>
	</dict>
	<key>Lcaron</key>
	<dict>
		<key>Tcaron</key>
		<integer>-71</integer>
		<key>Ubreve</key>
		<integer>-26</integer>
		<key>Uhungarumlaut</key>
		<integer>-26</integer>
		<key>Uring</key>
		<integer>-26</integer>
		<key>ccircumflex</key>
		<integer>-18</integer>
		<key>cdotaccent</key>
		<integer>-18</integer>
		<key>ecaron</key>
		<integer>-18</integer>
		<key>g</key>
		<integer>-18</integer>
		<key>gbreve</key>
		<integer>-18</integer>
		<key>gcircumflex</key>
		<integer>-18</integer>
		<key>gdotaccent</key>
		<integer>-18</integer>
		<key>ohungarumlaut</key>
		<integer>-18</integer>
		<key>s</key>
		<integer>-18</integer>
		<key>sacute</key>
		<integer>-18</integer>
		<key>scaron</key>
		<integer>-18</integer>
		<key>scedilla</key>
		<integer>-18</integer>
		<key>scircumflex</key>
		<integer>-18</integer>
	</dict>
	<key>Ohungarumlaut</key>
	<dict>
		<key>Tcaron</key>
		<integer>-25</integer>
		<key>X</key>
		<integer>-29</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>c</key>
		<integer>-37</integer>
		<key>comma</key>
		<integer>-115</integer>
		<key>ocircumflex</key>
		<integer>-43</integer>
		<key>period</key>
		<integer>-94</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>C</key>
		<integer>7</integer>
		<key>agrave</key>
		<integer>-31</integer>
		<key>c</key>
		<integer>-44</integer>
		<key>oacute</key>
		<integer>-89</integer>
	</dict>
	<key>Tcaron</key>
	<dict>
		<key>Ohungarumlaut</key>
		<integer>-39</integer>
		<key>c</key>
		<integer>-70</integer>
		<key>cacute</key>
		<integer>-70</integer>
		<key>ccaron</key>
		<integer>-70</integer>
		<key>ccedilla</key>
		<integer>-70</integer>
		<key>ccircumflex</key>
		<integer>-70</integer>
		<key>cdotaccent</key>
		<integer>-70</integer>
		<key>comma</key>
		<integer>-87</integer>
		<key>ecaron</key>
		<integer>-92</integer>
		<key>g</key>
		<integer>-70</integer>
		<key>gbreve</key>
		<integer>-70</integer>
		<key>gcircumflex</key>
		<integer>-70</integer>
		<key>gdotaccent</key>
		<integer>-70</integer>
		<key>h</key>
		<integer>-18</integer>
		<key>i</key>
		<integer>-18</integer>
		<key>iacute</key>
		<integer>-18</integer>
		<key>icircumflex</key>
		<integer>-18</integer>
		<key>idieresis</key>
		<integer>-18</integer>
		<key>igrave</key>
		<integer>-18</integer>
		<key>o</key>
		<integer>-89</integer>
		<key>oacute</key>
		<integer>-89</integer>
		<key>ocircumflex</key>
		<integer>-89</integer>
		<key>odieresis</key>
		<integer>-89</integer>
		<key>ograve</key>
		<integer>-89</integer>
		<key>ohungarumlaut</key>
		<integer>-89</integer>
		<key>otilde</key>
		<integer>-89</integer>
		<key>period</key>
		<integer>-50</integer>
		<key>r</key>
		<integer>-70</integer>
		<key>racute</key>
		<integer>-70</integer>
		<key>rcaron</key>
		<integer>-70</integer>
		<key>s</key>
		<integer>-70</integer>
		<key>sacute</key>
		<integer>-70</integer>
		<key>scaron</key>
		<integer>-70</integer>
		<key>scedilla</key>
		<integer>-70</integer>
		<key>scircumflex</key>
		<integer>-70</integer>
		<key>ubreve</key>
		<integer>-54</integer>
		<key>uhungarumlaut</key>
		<integer>-54</integer>
		<key>uring</key>
		<integer>-54</integer>
	</dict>
	<key>Tcommaaccent</key>
	<dict>
		<key>c</key>
		<integer>-44</integer>
		<key>oacute</key>
		<integer>-89</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>cacute</key>
		<integer>-70</integer>
		<key>comma</key>
		<integer>-30</integer>
		<key>g</key>
		<integer>-6</integer>
		<key>ocircumflex</key>
		<integer>-64</integer>
		<key>period</key>
		<integer>-26</integer>
		<key>s</key>
		<integer>-5</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>comma</key>
		<integer>-26</integer>
		<key>period</key>
		<integer>-21</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>o</key>
		<integer>9</integer>
	</dict>
	<key>Yacute</key>
	<dict>
		<key>o</key>
		<integer>11</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>t</key>
		<integer>-18</integer>
		<key>tcaron</key>
		<integer>-18</integer>
		<key>v</key>
		<integer>-4</integer>
		<key>w</key>
		<integer>-5</integer>
	</dict>
	<key>aacute</key>
	<dict>
		<key>t</key>
		<integer>-18</integer>
		<key>tcaron</key>
		<integer>-18</integer>
	</dict>
	<key>abreve</key>
	<dict>
		<key>t</key>
		<integer>-18</integer>
		<key>tcaron</key>
		<integer>-18</integer>
	</dict>
	<key>acircumflex</key>
	<dict>
		<key>t</key>
		<integer>-18</integer>
		<key>tcaron</key>
		<integer>-18</integer>
	</dict>
	<key>adieresis</key>
	<dict>
		<key>t</key>
		<integer>-18</integer>
		<key>tcaron</key>
		<integer>-18</integer>
	</dict>
	<key>agrave</key>
	<dict>
		<key>t</key>
		<integer>-18</integer>
		<key>tcaron</key>
		<integer>-18</integer>
	</dict>
	<key>aogonek</key>
	<dict>
		<key>t</key>
		<integer>-18</integer>
		<key>tcaron</key>
		<integer>-18</integer>
	</dict>
	<key>aring</key>
	<dict>
		<key>t</key>
		<integer>-18</integer>
		<key>tcaron</key>
		<integer>-18</integer>
	</dict>
	<key>atilde</key>
	<dict>
		<key>t</key>
		<integer>-18</integer>
		<key>tcaron</key>
		<integer>-18</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>agrave</key>
		<integer>-5</integer>
		<key>b</key>
		<integer>-8</integer>
		<key>j</key>
		<integer>-22</integer>
		<key>jcircumflex</key>
		<integer>-22</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>y</key>
		<integer>-20</integer>
		<key>yacute</key>
		<integer>-20</integer>
		<key>ydieresis</key>
		<integer>-20</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>c</key>
		<integer>-7</integer>
		<key>ccircumflex</key>
		<integer>-7</integer>
		<key>comma</key>
		<integer>-17</integer>
		<key>j</key>
		<integer>-21</integer>
		<key>jcircumflex</key>
		<integer>-21</integer>
		<key>uni020D</key>
		<integer>-7</integer>
	</dict>
	<key>cacute</key>
	<dict>
		<key>j</key>
		<integer>-21</integer>
		<key>jcircumflex</key>
		<integer>-21</integer>
	</dict>
	<key>ccaron</key>
	<dict>
		<key>j</key>
		<integer>-21</integer>
		<key>jcircumflex</key>
		<integer>-21</integer>
	</dict>
	<key>ccedilla</key>
	<dict>
		<key>j</key>
		<integer>-21</integer>
		<key>jcircumflex</key>
		<integer>-21</integer>
	</dict>
	<key>ccircumflex</key>
	<dict>
		<key>j</key>
		<integer>-21</integer>
		<key>jcircumflex</key>
		<integer>-21</integer>
	</dict>
	<key>cdotaccent</key>
	<dict>
		<key>j</key>
		<integer>-21</integer>
		<key>jcircumflex</key>
		<integer>-21</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>d</key>
		<integer>-36</integer>
		<key>dcaron</key>
		<integer>-28</integer>
	</dict>
	<key>dcaron</key>
	<dict>
		<key>d</key>
		<integer>-28</integer>
		<key>dcaron</key>
		<integer>-28</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>j</key>
		<integer>-20</integer>
		<key>jcircumflex</key>
		<integer>-20</integer>
		<key>w</key>
		<integer>-2</integer>
		<key>x</key>
		<integer>-5</integer>
	</dict>
	<key>eacute</key>
	<dict>
		<key>j</key>
		<integer>-20</integer>
		<key>jcircumflex</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-28</integer>
	</dict>
	<key>ecaron</key>
	<dict>
		<key>j</key>
		<integer>-20</integer>
		<key>jcircumflex</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-31</integer>
	</dict>
	<key>ecircumflex</key>
	<dict>
		<key>j</key>
		<integer>-20</integer>
		<key>jcircumflex</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-28</integer>
	</dict>
	<key>edieresis</key>
	<dict>
		<key>j</key>
		<integer>-20</integer>
		<key>jcircumflex</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-28</integer>
	</dict>
	<key>egrave</key>
	<dict>
		<key>j</key>
		<integer>-20</integer>
		<key>jcircumflex</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-28</integer>
	</dict>
	<key>eogonek</key>
	<dict>
		<key>j</key>
		<integer>-20</integer>
		<key>jcircumflex</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-31</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>agrave</key>
		<integer>-17</integer>
		<key>c</key>
		<integer>-28</integer>
		<key>cacute</key>
		<integer>-28</integer>
		<key>ccaron</key>
		<integer>-28</integer>
		<key>ccedilla</key>
		<integer>-31</integer>
		<key>ccircumflex</key>
		<integer>-31</integer>
		<key>comma</key>
		<integer>-27</integer>
		<key>dotlessi</key>
		<integer>-13</integer>
		<key>eacute</key>
		<integer>-31</integer>
		<key>ecaron</key>
		<integer>-10</integer>
		<key>ecircumflex</key>
		<integer>-31</integer>
		<key>egrave</key>
		<integer>-31</integer>
		<key>f</key>
		<integer>-50</integer>
		<key>i</key>
		<integer>-13</integer>
		<key>iacute</key>
		<integer>-19</integer>
		<key>icircumflex</key>
		<integer>-19</integer>
		<key>idieresis</key>
		<integer>-19</integer>
		<key>igrave</key>
		<integer>-19</integer>
		<key>ij</key>
		<integer>-13</integer>
		<key>iogonek</key>
		<integer>-13</integer>
		<key>itilde</key>
		<integer>-13</integer>
		<key>j</key>
		<integer>-13</integer>
		<key>jcircumflex</key>
		<integer>-13</integer>
		<key>lacute</key>
		<integer>-4</integer>
		<key>lcaron</key>
		<integer>-4</integer>
		<key>o</key>
		<integer>-4</integer>
		<key>oacute</key>
		<integer>-5</integer>
		<key>ocircumflex</key>
		<integer>-5</integer>
		<key>odieresis</key>
		<integer>-5</integer>
		<key>ograve</key>
		<integer>-5</integer>
		<key>ohungarumlaut</key>
		<integer>-5</integer>
		<key>otilde</key>
		<integer>-5</integer>
		<key>period</key>
		<integer>-22</integer>
		<key>umacron</key>
		<integer>-15</integer>
		<key>uni020D</key>
		<integer>-12</integer>
		<key>uni020F</key>
		<integer>-5</integer>
		<key>uni0215</key>
		<integer>-15</integer>
		<key>uogonek</key>
		<integer>-15</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>agrave</key>
		<integer>-40</integer>
		<key>ccircumflex</key>
		<integer>-25</integer>
		<key>d</key>
		<integer>2</integer>
		<key>ecaron</key>
		<integer>-7</integer>
		<key>g</key>
		<integer>-32</integer>
		<key>o</key>
		<integer>-10</integer>
		<key>oacute</key>
		<integer>-15</integer>
		<key>ocircumflex</key>
		<integer>-15</integer>
		<key>odieresis</key>
		<integer>-15</integer>
		<key>oe</key>
		<integer>-7</integer>
		<key>ograve</key>
		<integer>-15</integer>
		<key>ohungarumlaut</key>
		<integer>-8</integer>
		<key>otilde</key>
		<integer>-15</integer>
		<key>q</key>
		<integer>-7</integer>
		<key>umacron</key>
		<integer>2</integer>
		<key>uni020D</key>
		<integer>-4</integer>
		<key>uni020F</key>
		<integer>-15</integer>
		<key>uni0215</key>
		<integer>2</integer>
		<key>uogonek</key>
		<integer>2</integer>
	</dict>
	<key>gbreve</key>
	<dict>
		<key>ecaron</key>
		<integer>-7</integer>
		<key>o</key>
		<integer>-8</integer>
		<key>oacute</key>
		<integer>-8</integer>
		<key>ocircumflex</key>
		<integer>-8</integer>
		<key>odieresis</key>
		<integer>-8</integer>
		<key>ograve</key>
		<integer>-8</integer>
		<key>ohungarumlaut</key>
		<integer>-8</integer>
		<key>otilde</key>
		<integer>-8</integer>
	</dict>
	<key>gcircumflex</key>
	<dict>
		<key>ecaron</key>
		<integer>-7</integer>
		<key>o</key>
		<integer>-8</integer>
		<key>oacute</key>
		<integer>-8</integer>
		<key>ocircumflex</key>
		<integer>-8</integer>
		<key>odieresis</key>
		<integer>-8</integer>
		<key>ograve</key>
		<integer>-8</integer>
		<key>ohungarumlaut</key>
		<integer>-8</integer>
		<key>otilde</key>
		<integer>-8</integer>
	</dict>
	<key>gdotaccent</key>
	<dict>
		<key>ecaron</key>
		<integer>-7</integer>
		<key>o</key>
		<integer>-8</integer>
		<key>oacute</key>
		<integer>-8</integer>
		<key>ocircumflex</key>
		<integer>-8</integer>
		<key>odieresis</key>
		<integer>-8</integer>
		<key>ograve</key>
		<integer>-8</integer>
		<key>ohungarumlaut</key>
		<integer>-8</integer>
		<key>otilde</key>
		<integer>-8</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>y</key>
		<integer>-9</integer>
		<key>yacute</key>
		<integer>-9</integer>
		<key>ydieresis</key>
		<integer>-9</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>y</key>
		<integer>3</integer>
		<key>yacute</key>
		<integer>3</integer>
		<key>ydieresis</key>
		<integer>3</integer>
	</dict>
	<key>ohungarumlaut</key>
	<dict>
		<key>g</key>
		<integer>-11</integer>
		<key>gbreve</key>
		<integer>-11</integer>
		<key>gcircumflex</key>
		<integer>-11</integer>
		<key>gdotaccent</key>
		<integer>-11</integer>
		<key>j</key>
		<integer>-20</integer>
		<key>jcircumflex</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-22</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>agrave</key>
		<integer>-5</integer>
		<key>j</key>
		<integer>-26</integer>
		<key>jcircumflex</key>
		<integer>-26</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-13</integer>
		<key>y</key>
		<integer>-9</integer>
		<key>yacute</key>
		<integer>-9</integer>
		<key>ydieresis</key>
		<integer>-9</integer>
	</dict>
	<key>quoteright</key>
	<dict>
		<key>d</key>
		<integer>-38</integer>
		<key>dcaron</key>
		<integer>-38</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>c</key>
		<integer>-2</integer>
		<key>cacute</key>
		<integer>-4</integer>
		<key>ccaron</key>
		<integer>-4</integer>
		<key>ccedilla</key>
		<integer>-4</integer>
		<key>d</key>
		<integer>3</integer>
		<key>oacute</key>
		<integer>-4</integer>
		<key>ocircumflex</key>
		<integer>-4</integer>
		<key>odieresis</key>
		<integer>-4</integer>
		<key>ograve</key>
		<integer>-4</integer>
		<key>otilde</key>
		<integer>-4</integer>
		<key>q</key>
		<integer>5</integer>
	</dict>
	<key>racute</key>
	<dict>
		<key>c</key>
		<integer>-4</integer>
		<key>cacute</key>
		<integer>-4</integer>
		<key>ccaron</key>
		<integer>-4</integer>
		<key>ccedilla</key>
		<integer>-4</integer>
		<key>ccircumflex</key>
		<integer>-4</integer>
		<key>cdotaccent</key>
		<integer>-4</integer>
		<key>comma</key>
		<integer>-50</integer>
		<key>g</key>
		<integer>-9</integer>
		<key>gbreve</key>
		<integer>-9</integer>
		<key>gcircumflex</key>
		<integer>-9</integer>
		<key>gdotaccent</key>
		<integer>-9</integer>
		<key>o</key>
		<integer>-4</integer>
		<key>oacute</key>
		<integer>-4</integer>
		<key>ocircumflex</key>
		<integer>-4</integer>
		<key>odieresis</key>
		<integer>-4</integer>
		<key>ograve</key>
		<integer>-4</integer>
		<key>ohungarumlaut</key>
		<integer>-4</integer>
		<key>otilde</key>
		<integer>-4</integer>
		<key>period</key>
		<integer>-22</integer>
		<key>r</key>
		<integer>-12</integer>
		<key>racute</key>
		<integer>-12</integer>
		<key>rcaron</key>
		<integer>-12</integer>
	</dict>
	<key>rcaron</key>
	<dict>
		<key>c</key>
		<integer>-2</integer>
		<key>cacute</key>
		<integer>-4</integer>
		<key>ccaron</key>
		<integer>-4</integer>
		<key>ccedilla</key>
		<integer>-4</integer>
		<key>d</key>
		<integer>3</integer>
		<key>o</key>
		<integer>-4</integer>
		<key>oacute</key>
		<integer>-4</integer>
		<key>ocircumflex</key>
		<integer>-4</integer>
		<key>odieresis</key>
		<integer>-4</integer>
		<key>ograve</key>
		<integer>-4</integer>
		<key>otilde</key>
		<integer>-4</integer>
		<key>q</key>
		<integer>5</integer>
	</dict>
	<key>rcommaaccent</key>
	<dict>
		<key>c</key>
		<integer>3</integer>
		<key>d</key>
		<integer>3</integer>
		<key>q</key>
		<integer>5</integer>
	</dict>
	<key>uni0202</key>
	<dict>
		<key>Ccedilla</key>
		<integer>-13</integer>
		<key>G</key>
		<integer>-9</integer>
		<key>Q</key>
		<integer>-1</integer>
	</dict>
	<key>uni020D</key>
	<dict>
		<key>x</key>
		<integer>6</integer>
	</dict>
	<key>uni0211</key>
	<dict>
		<key>c</key>
		<integer>5</integer>
		<key>ccedilla</key>
		<integer>5</integer>
		<key>ccircumflex</key>
		<integer>-15</integer>
		<key>d</key>
		<integer>5</integer>
		<key>g</key>
		<integer>6</integer>
		<key>q</key>
		<integer>5</integer>
		<key>uni020D</key>
		<integer>-14</integer>
	</dict>
	<key>uni0213</key>
	<dict>
		<key>c</key>
		<integer>3</integer>
		<key>d</key>
		<integer>3</integer>
		<key>q</key>
		<integer>5</integer>
	</dict>
	<key>uni021A</key>
	<dict>
		<key>C</key>
		<integer>7</integer>
		<key>c</key>
		<integer>-44</integer>
		<key>oacute</key>
		<integer>-89</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>ccaron</key>
		<integer>-35</integer>
		<key>comma</key>
		<integer>-34</integer>
		<key>oacute</key>
		<integer>3</integer>
		<key>period</key>
		<integer>-26</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>comma</key>
		<integer>-21</integer>
		<key>eogonek</key>
		<integer>-5</integer>
		<key>ocircumflex</key>
		<integer>2</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>agrave</key>
		<integer>-16</integer>
		<key>ccircumflex</key>
		<integer>-17</integer>
		<key>ecaron</key>
		<integer>-13</integer>
		<key>o</key>
		<integer>2</integer>
		<key>oacute</key>
		<integer>5</integer>
		<key>ocircumflex</key>
		<integer>5</integer>
		<key>odieresis</key>
		<integer>5</integer>
		<key>ograve</key>
		<integer>5</integer>
		<key>otilde</key>
		<integer>5</integer>
		<key>uni020D</key>
		<integer>5</integer>
		<key>uni020F</key>
		<integer>5</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>ccaron</key>
		<integer>-35</integer>
		<key>uni020F</key>
		<integer>-18</integer>
	</dict>
	<key>yacute</key>
	<dict>
		<key>ccaron</key>
		<integer>-35</integer>
		<key>uni020F</key>
		<integer>-18</integer>
	</dict>
	<key>ydieresis</key>
	<dict>
		<key>ccaron</key>
		<integer>-35</integer>
		<key>uni020F</key>
		<integer>-18</integer>
	</dict>
	<key>z</key>
	<dict>
		<key>ccircumflex</key>
		<integer>-9</integer>
		<key>uni020D</key>
		<integer>-8</integer>
	</dict>
</dict>
</plist>
