<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>Q</key>
		<integer>-36</integer>
	</dict>
	<key>Aacute</key>
	<dict>
		<key>Q</key>
		<integer>-36</integer>
	</dict>
	<key>Abreve</key>
	<dict>
		<key>Q</key>
		<integer>-36</integer>
	</dict>
	<key>Acircumflex</key>
	<dict>
		<key>Q</key>
		<integer>-36</integer>
	</dict>
	<key>Adieresis</key>
	<dict>
		<key>Q</key>
		<integer>-36</integer>
	</dict>
	<key>Agrave</key>
	<dict>
		<key>Q</key>
		<integer>-36</integer>
	</dict>
	<key>Amacron</key>
	<dict>
		<key>Q</key>
		<integer>-36</integer>
	</dict>
	<key>Aogonek</key>
	<dict>
		<key>Q</key>
		<integer>-36</integer>
	</dict>
	<key>Aring</key>
	<dict>
		<key>Q</key>
		<integer>-36</integer>
	</dict>
	<key>Atilde</key>
	<dict>
		<key>Q</key>
		<integer>-36</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>A</key>
		<integer>-46</integer>
		<key>Aacute</key>
		<integer>-46</integer>
		<key>Abreve</key>
		<integer>-46</integer>
		<key>Acircumflex</key>
		<integer>-46</integer>
		<key>Adieresis</key>
		<integer>-46</integer>
		<key>Agrave</key>
		<integer>-46</integer>
		<key>Amacron</key>
		<integer>-46</integer>
		<key>Aogonek</key>
		<integer>-46</integer>
		<key>Aring</key>
		<integer>-46</integer>
		<key>Atilde</key>
		<integer>-46</integer>
		<key>V</key>
		<integer>-29</integer>
		<key>W</key>
		<integer>-42</integer>
		<key>Y</key>
		<integer>-52</integer>
		<key>Yacute</key>
		<integer>-52</integer>
		<key>comma</key>
		<integer>-43</integer>
		<key>period</key>
		<integer>-43</integer>
		<key>uni0202</key>
		<integer>-46</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>agrave</key>
		<integer>7</integer>
		<key>ccircumflex</key>
		<integer>16</integer>
		<key>comma</key>
		<integer>-159</integer>
		<key>g</key>
		<integer>6</integer>
		<key>period</key>
		<integer>-174</integer>
		<key>s</key>
		<integer>-28</integer>
		<key>uni020D</key>
		<integer>-53</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>agrave</key>
		<integer>9</integer>
		<key>ccircumflex</key>
		<integer>13</integer>
		<key>umacron</key>
		<integer>-36</integer>
		<key>uni020D</key>
		<integer>-13</integer>
		<key>uni0215</key>
		<integer>-36</integer>
		<key>uogonek</key>
		<integer>-36</integer>
		<key>v</key>
		<integer>3</integer>
		<key>w</key>
		<integer>4</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>V</key>
		<integer>16</integer>
		<key>W</key>
		<integer>13</integer>
		<key>quotedbl</key>
		<integer>44</integer>
		<key>quotedblright</key>
		<integer>-16</integer>
		<key>quoteright</key>
		<integer>-16</integer>
		<key>quotesingle</key>
		<integer>44</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>comma</key>
		<integer>119</integer>
		<key>period</key>
		<integer>97</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>C</key>
		<integer>-75</integer>
		<key>agrave</key>
		<integer>32</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>comma</key>
		<integer>31</integer>
		<key>g</key>
		<integer>6</integer>
		<key>period</key>
		<integer>26</integer>
		<key>s</key>
		<integer>5</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>comma</key>
		<integer>26</integer>
		<key>period</key>
		<integer>22</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>o</key>
		<integer>-99</integer>
	</dict>
	<key>Yacute</key>
	<dict>
		<key>o</key>
		<integer>-122</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>v</key>
		<integer>4</integer>
		<key>w</key>
		<integer>5</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>agrave</key>
		<integer>6</integer>
		<key>b</key>
		<integer>-14</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>y</key>
		<integer>-22</integer>
		<key>yacute</key>
		<integer>-22</integer>
		<key>ydieresis</key>
		<integer>-22</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>c</key>
		<integer>-1</integer>
		<key>ccircumflex</key>
		<integer>7</integer>
		<key>comma</key>
		<integer>18</integer>
		<key>uni020D</key>
		<integer>7</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>d</key>
		<integer>-25</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>w</key>
		<integer>2</integer>
		<key>x</key>
		<integer>-31</integer>
	</dict>
	<key>eacute</key>
	<dict>
		<key>x</key>
		<integer>-37</integer>
	</dict>
	<key>ecircumflex</key>
	<dict>
		<key>x</key>
		<integer>-37</integer>
	</dict>
	<key>edieresis</key>
	<dict>
		<key>x</key>
		<integer>-37</integer>
	</dict>
	<key>egrave</key>
	<dict>
		<key>x</key>
		<integer>-37</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>agrave</key>
		<integer>17</integer>
		<key>c</key>
		<integer>29</integer>
		<key>cacute</key>
		<integer>29</integer>
		<key>ccaron</key>
		<integer>29</integer>
		<key>ccedilla</key>
		<integer>32</integer>
		<key>ccircumflex</key>
		<integer>32</integer>
		<key>dotlessi</key>
		<integer>13</integer>
		<key>eacute</key>
		<integer>32</integer>
		<key>ecircumflex</key>
		<integer>32</integer>
		<key>egrave</key>
		<integer>32</integer>
		<key>f</key>
		<integer>-76</integer>
		<key>i</key>
		<integer>13</integer>
		<key>iacute</key>
		<integer>13</integer>
		<key>icircumflex</key>
		<integer>13</integer>
		<key>idieresis</key>
		<integer>13</integer>
		<key>igrave</key>
		<integer>13</integer>
		<key>ij</key>
		<integer>13</integer>
		<key>iogonek</key>
		<integer>13</integer>
		<key>itilde</key>
		<integer>13</integer>
		<key>j</key>
		<integer>13</integer>
		<key>jcircumflex</key>
		<integer>13</integer>
		<key>umacron</key>
		<integer>16</integer>
		<key>uni020D</key>
		<integer>-17</integer>
		<key>uni0215</key>
		<integer>16</integer>
		<key>uogonek</key>
		<integer>16</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>agrave</key>
		<integer>41</integer>
		<key>ccircumflex</key>
		<integer>26</integer>
		<key>d</key>
		<integer>-20</integer>
		<key>g</key>
		<integer>25</integer>
		<key>o</key>
		<integer>7</integer>
		<key>oacute</key>
		<integer>7</integer>
		<key>ocircumflex</key>
		<integer>7</integer>
		<key>odieresis</key>
		<integer>7</integer>
		<key>oe</key>
		<integer>7</integer>
		<key>ograve</key>
		<integer>7</integer>
		<key>oslash</key>
		<integer>7</integer>
		<key>otilde</key>
		<integer>7</integer>
		<key>q</key>
		<integer>7</integer>
		<key>umacron</key>
		<integer>-22</integer>
		<key>uni020D</key>
		<integer>-22</integer>
		<key>uni020F</key>
		<integer>7</integer>
		<key>uni0215</key>
		<integer>-22</integer>
		<key>uogonek</key>
		<integer>-22</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>y</key>
		<integer>-13</integer>
		<key>yacute</key>
		<integer>-13</integer>
		<key>ydieresis</key>
		<integer>-13</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>y</key>
		<integer>-32</integer>
		<key>yacute</key>
		<integer>-32</integer>
		<key>ydieresis</key>
		<integer>-32</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>agrave</key>
		<integer>6</integer>
		<key>x</key>
		<integer>13</integer>
		<key>y</key>
		<integer>-29</integer>
		<key>yacute</key>
		<integer>-29</integer>
		<key>ydieresis</key>
		<integer>-29</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>c</key>
		<integer>-30</integer>
		<key>d</key>
		<integer>-35</integer>
		<key>q</key>
		<integer>-60</integer>
	</dict>
	<key>rcaron</key>
	<dict>
		<key>c</key>
		<integer>-30</integer>
		<key>d</key>
		<integer>-35</integer>
		<key>q</key>
		<integer>-60</integer>
	</dict>
	<key>rcommaaccent</key>
	<dict>
		<key>c</key>
		<integer>-30</integer>
		<key>d</key>
		<integer>-35</integer>
		<key>q</key>
		<integer>-60</integer>
	</dict>
	<key>uni0202</key>
	<dict>
		<key>Q</key>
		<integer>-36</integer>
	</dict>
	<key>uni020D</key>
	<dict>
		<key>x</key>
		<integer>-63</integer>
	</dict>
	<key>uni0211</key>
	<dict>
		<key>c</key>
		<integer>-52</integer>
		<key>ccedilla</key>
		<integer>-52</integer>
		<key>ccircumflex</key>
		<integer>-32</integer>
		<key>d</key>
		<integer>-50</integer>
		<key>g</key>
		<integer>-68</integer>
		<key>q</key>
		<integer>-60</integer>
		<key>uni020D</key>
		<integer>-50</integer>
	</dict>
	<key>uni0213</key>
	<dict>
		<key>c</key>
		<integer>-30</integer>
		<key>d</key>
		<integer>-35</integer>
		<key>q</key>
		<integer>-60</integer>
	</dict>
	<key>uni021A</key>
	<dict>
		<key>C</key>
		<integer>-75</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>comma</key>
		<integer>35</integer>
		<key>oacute</key>
		<integer>-32</integer>
		<key>period</key>
		<integer>26</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>comma</key>
		<integer>22</integer>
		<key>ocircumflex</key>
		<integer>-16</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>agrave</key>
		<integer>17</integer>
		<key>ccircumflex</key>
		<integer>18</integer>
		<key>o</key>
		<integer>-27</integer>
		<key>oacute</key>
		<integer>-53</integer>
		<key>ocircumflex</key>
		<integer>-53</integer>
		<key>odieresis</key>
		<integer>-53</integer>
		<key>ograve</key>
		<integer>-53</integer>
		<key>otilde</key>
		<integer>-53</integer>
		<key>uni020D</key>
		<integer>-53</integer>
		<key>uni020F</key>
		<integer>-53</integer>
	</dict>
	<key>z</key>
	<dict>
		<key>ccircumflex</key>
		<integer>10</integer>
		<key>uni020D</key>
		<integer>-9</integer>
	</dict>
</dict>
</plist>
