<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@KERN_LEFT_A</key>
	<array>
		<string>A</string>
		<string>Aring</string>
		<string>Adieresis</string>
		<string>uni0202</string>
		<string>Aacute</string>
		<string>Amacron</string>
		<string>Agrave</string>
		<string>Atilde</string>
		<string>Acircumflex</string>
		<string>Aogonek</string>
		<string>Abreve</string>
	</array>
	<key>@KERN_LEFT_D</key>
	<array>
		<string>Oslash</string>
		<string>D</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>O</string>
		<string>Q</string>
		<string>uni020E</string>
		<string>uni020C</string>
		<string>Eth</string>
		<string>Oacute</string>
	</array>
	<key>@KERN_LEFT_R</key>
	<array>
		<string>Racute</string>
		<string>R</string>
		<string>Rcommaaccent</string>
		<string>uni0210</string>
		<string>Rcaron</string>
		<string>uni0212</string>
	</array>
	<key>@KERN_LEFT_T</key>
	<array>
		<string>T</string>
		<string>uni021A</string>
	</array>
	<key>@KERN_LEFT_Y</key>
	<array>
		<string>Y</string>
		<string>Ydieresis</string>
		<string>Yacute</string>
	</array>
	<key>@KERN_LEFT__empty_lu.0_st.1_cl.0</key>
	<array>
	</array>
	<key>@KERN_LEFT_b</key>
	<array>
		<string>oslash</string>
		<string>b</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>o</string>
		<string>p</string>
		<string>uni020F</string>
		<string>thorn</string>
		<string>oacute</string>
	</array>
	<key>@KERN_LEFT_h</key>
	<array>
		<string>ntilde</string>
		<string>nacute</string>
		<string>h</string>
		<string>hbar</string>
		<string>m</string>
		<string>n</string>
	</array>
	<key>@KERN_LEFT_k</key>
	<array>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
		<string>k</string>
	</array>
	<key>@KERN_LEFT_r</key>
	<array>
		<string>rcommaaccent</string>
		<string>r</string>
		<string>rcaron</string>
		<string>uni0213</string>
	</array>
	<key>@KERN_LEFT_t</key>
	<array>
		<string>t</string>
		<string>uni021B</string>
	</array>
	<key>@KERN_LEFT_y</key>
	<array>
		<string>y</string>
		<string>ydieresis</string>
		<string>yacute</string>
	</array>
	<key>@KERN_RIGHT_A</key>
	<array>
		<string>A</string>
		<string>Aring</string>
		<string>Adieresis</string>
		<string>uni0202</string>
		<string>Aacute</string>
		<string>Amacron</string>
		<string>Agrave</string>
		<string>Atilde</string>
		<string>Acircumflex</string>
		<string>Abreve</string>
		<string>Aogonek</string>
	</array>
	<key>@KERN_RIGHT_C</key>
	<array>
		<string>Oslash</string>
		<string>C</string>
		<string>G</string>
		<string>Otilde</string>
		<string>Ccaron</string>
		<string>Q</string>
		<string>O</string>
		<string>uni020E</string>
		<string>uni020C</string>
		<string>Oacute</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>OE</string>
		<string>Cacute</string>
		<string>Ccedilla</string>
		<string>Ocircumflex</string>
	</array>
	<key>@KERN_RIGHT_T</key>
	<array>
		<string>T</string>
		<string>uni021A</string>
	</array>
	<key>@KERN_RIGHT_Y</key>
	<array>
		<string>Y</string>
		<string>Ydieresis</string>
		<string>Yacute</string>
	</array>
	<key>@KERN_RIGHT__empty_lu.0_st.1_cl.0</key>
	<array>
	</array>
	<key>@KERN_RIGHT_a</key>
	<array>
		<string>a</string>
		<string>aring</string>
		<string>ae</string>
		<string>uni0203</string>
		<string>aacute</string>
		<string>amacron</string>
		<string>agrave</string>
		<string>atilde</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>aogonek</string>
		<string>abreve</string>
	</array>
	<key>@KERN_RIGHT_c</key>
	<array>
		<string>ecircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ocircumflex</string>
		<string>cacute</string>
		<string>c</string>
		<string>edieresis</string>
		<string>emacron</string>
		<string>o</string>
		<string>eacute</string>
		<string>uni020F</string>
		<string>ccedilla</string>
		<string>oslash</string>
		<string>egrave</string>
		<string>eogonek</string>
		<string>e</string>
		<string>d</string>
		<string>uni0207</string>
		<string>oe</string>
		<string>otilde</string>
		<string>ccaron</string>
		<string>q</string>
		<string>eth</string>
		<string>oacute</string>
	</array>
	<key>@KERN_RIGHT_u</key>
	<array>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>ucircumflex</string>
		<string>uacute</string>
		<string>uni0217</string>
		<string>u</string>
	</array>
	<key>@KERN_RIGHT_y</key>
	<array>
		<string>y</string>
		<string>ydieresis</string>
		<string>yacute</string>
	</array>
</dict>
</plist>
