<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>1658</integer>
	<key>capHeight</key>
	<integer>1658</integer>
	<key>descender</key>
	<integer>-390</integer>
	<key>familyName</key>
	<string>Oswald</string>
	<key>italicAngle</key>
	<real>0.0</real>
	<key>openTypeHheaAscender</key>
	<integer>1114</integer>
	<key>openTypeHheaDescender</key>
	<integer>-279</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>1644</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-404</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2WeightClass</key>
	<integer>672</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>1644</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>404</integer>
	<key>postscriptBlueFuzz</key>
	<integer>2</integer>
	<key>postscriptBlueScale</key>
	<real>0.07350886495586156</real>
	<key>postscriptBlueShift</key>
	<integer>2</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-50</integer>
		<integer>0</integer>
		<integer>2367</integer>
		<integer>2417</integer>
		<integer>3386</integer>
		<integer>3430</integer>
	</array>
	<key>postscriptFullName</key>
	<string>Oswald -700</string>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-777</integer>
		<integer>-754</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>84</integer>
		<integer>94</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>40</integer>
		<integer>71</integer>
		<integer>84</integer>
		<integer>91</integer>
		<integer>102</integer>
		<integer>129</integer>
		<integer>168</integer>
		<integer>413</integer>
		<integer>1112</integer>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-163</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>85</integer>
	<key>postscriptWeightName</key>
	<string>Bold</string>
	<key>styleName</key>
	<string>-700</string>
	<key>unitsPerEm</key>
	<integer>2048</integer>
	<key>xHeight</key>
	<integer>1184</integer>
</dict>
</plist>
