<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Acircumflex</key>
	<string>A_circumflex.glif</string>
	<key>Aring</key>
	<string>A_ring.glif</string>
	<key>Atilde</key>
	<string>A_tilde.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Ecircumflex</key>
	<string>E_circumflex.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>Icircumflex</key>
	<string>I_circumflex.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>Kcommaaccent</key>
	<string>K_commaaccent.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>Lcommaaccent</key>
	<string>L_commaaccent.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>Ncommaaccent</key>
	<string>N_commaaccent.glif</string>
	<key>Ntilde</key>
	<string>N_tilde.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>Ocircumflex</key>
	<string>O_circumflex.glif</string>
	<key>Otilde</key>
	<string>O_tilde.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>Rcommaaccent</key>
	<string>R_commaaccent.glif</string>
	<key>Scommaaccent</key>
	<string>S_commaaccent.glif</string>
	<key>Ucircumflex</key>
	<string>U_circumflex.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>kcommaaccent</key>
	<string>kcommaaccent.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>lcommaaccent</key>
	<string>lcommaaccent.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>ncommaaccent</key>
	<string>ncommaaccent.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>uni01C4</key>
	<string>uni01C_4.glif</string>
	<key>uni01C5</key>
	<string>uni01C_5.glif</string>
	<key>uni01C6</key>
	<string>uni01C_6.glif</string>
	<key>uni0202</key>
	<string>uni0202.glif</string>
	<key>uni0203</key>
	<string>uni0203.glif</string>
	<key>uni0206</key>
	<string>uni0206.glif</string>
	<key>uni0207</key>
	<string>uni0207.glif</string>
	<key>uni020A</key>
	<string>uni020A_.glif</string>
	<key>uni020B</key>
	<string>uni020B_.glif</string>
	<key>uni020E</key>
	<string>uni020E_.glif</string>
	<key>uni020F</key>
	<string>uni020F_.glif</string>
	<key>uni0212</key>
	<string>uni0212.glif</string>
	<key>uni0213</key>
	<string>uni0213.glif</string>
	<key>uni0216</key>
	<string>uni0216.glif</string>
	<key>uni0217</key>
	<string>uni0217.glif</string>
</dict>
</plist>
