<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
    <key>public.glyphOrder</key>
      <array>
        <string>A</string>
        <string>Agrave</string>
        <string>Aacute</string>
        <string>Acircumflex</string>
        <string>Atilde</string>
        <string>Adieresis</string>
        <string>Aring</string>
        <string>Amacron</string>
        <string>Abreve</string>
        <string>Aogonek</string>
        <string>uni0200</string>
        <string>uni0202</string>
        <string>B</string>
        <string>C</string>
        <string>Ccedilla</string>
        <string>Cacute</string>
        <string>Ccircumflex</string>
        <string>Cdotaccent</string>
        <string>Ccaron</string>
        <string>D</string>
        <string>Dcaron</string>
        <string>E</string>
        <string>Egrave</string>
        <string>Eacute</string>
        <string>Ecircumflex</string>
        <string>Edieresis</string>
        <string>Emacron</string>
        <string>Eogonek</string>
        <string>Ecaron</string>
        <string>uni0204</string>
        <string>uni0206</string>
        <string>F</string>
        <string>G</string>
        <string>Gcircumflex</string>
        <string>Gbreve</string>
        <string>Gdotaccent</string>
        <string>Gcedilla</string>
        <string>uni01F4</string>
        <string>H</string>
        <string>Hcircumflex</string>
        <string>I</string>
        <string>Igrave</string>
        <string>Iacute</string>
        <string>Icircumflex</string>
        <string>Idieresis</string>
        <string>Itilde</string>
        <string>Imacron</string>
        <string>Ibreve</string>
        <string>Iogonek</string>
        <string>Idotaccent</string>
        <string>uni0208</string>
        <string>uni020A</string>
        <string>J</string>
        <string>Jcircumflex</string>
        <string>K</string>
        <string>Kcommaaccent</string>
        <string>L</string>
        <string>Lacute</string>
        <string>Lcommaaccent</string>
        <string>Lcaron</string>
        <string>M</string>
        <string>N</string>
        <string>Ntilde</string>
        <string>Nacute</string>
        <string>Ncommaaccent</string>
        <string>Ncaron</string>
        <string>O</string>
        <string>Ograve</string>
        <string>Oacute</string>
        <string>Ocircumflex</string>
        <string>Otilde</string>
        <string>Odieresis</string>
        <string>Omacron</string>
        <string>Obreve</string>
        <string>Ohungarumlaut</string>
        <string>uni020C</string>
        <string>uni020E</string>
        <string>P</string>
        <string>Q</string>
        <string>R</string>
        <string>Racute</string>
        <string>Rcommaaccent</string>
        <string>Rcaron</string>
        <string>uni0210</string>
        <string>uni0212</string>
        <string>S</string>
        <string>Sacute</string>
        <string>Scircumflex</string>
        <string>Scedilla</string>
        <string>Scaron</string>
        <string>Scommaaccent</string>
        <string>uni0218</string>
        <string>T</string>
        <string>Tcaron</string>
        <string>Tcommaaccent</string>
        <string>uni021A</string>
        <string>U</string>
        <string>Ugrave</string>
        <string>Uacute</string>
        <string>Ucircumflex</string>
        <string>Udieresis</string>
        <string>Umacron</string>
        <string>Ubreve</string>
        <string>Uring</string>
        <string>Uhungarumlaut</string>
        <string>Uogonek</string>
        <string>uni0214</string>
        <string>uni0216</string>
        <string>V</string>
        <string>W</string>
        <string>Wcircumflex</string>
        <string>Wgrave</string>
        <string>Wacute</string>
        <string>Wdieresis</string>
        <string>X</string>
        <string>Y</string>
        <string>Yacute</string>
        <string>Ycircumflex</string>
        <string>Ydieresis</string>
        <string>Ygrave</string>
        <string>Z</string>
        <string>Zacute</string>
        <string>Zdotaccent</string>
        <string>Zcaron</string>
        <string>AE</string>
        <string>Eth</string>
        <string>Oslash</string>
        <string>Thorn</string>
        <string>Dcroat</string>
        <string>Hbar</string>
        <string>IJ</string>
        <string>Ldotaccent</string>
        <string>Lslash</string>
        <string>OE</string>
        <string>uni01C4</string>
        <string>uni01C7</string>
        <string>uni01CA</string>
        <string>Delta</string>
        <string>a</string>
        <string>agrave</string>
        <string>aacute</string>
        <string>acircumflex</string>
        <string>atilde</string>
        <string>adieresis</string>
        <string>aring</string>
        <string>amacron</string>
        <string>abreve</string>
        <string>aogonek</string>
        <string>uni0201</string>
        <string>uni0203</string>
        <string>b</string>
        <string>c</string>
        <string>ccedilla</string>
        <string>cacute</string>
        <string>ccircumflex</string>
        <string>cdotaccent</string>
        <string>ccaron</string>
        <string>d</string>
        <string>dcaron</string>
        <string>e</string>
        <string>egrave</string>
        <string>eacute</string>
        <string>ecircumflex</string>
        <string>edieresis</string>
        <string>emacron</string>
        <string>eogonek</string>
        <string>ecaron</string>
        <string>uni0205</string>
        <string>uni0207</string>
        <string>f</string>
        <string>g</string>
        <string>gcircumflex</string>
        <string>gbreve</string>
        <string>gdotaccent</string>
        <string>gcedilla</string>
        <string>uni01F5</string>
        <string>h</string>
        <string>hcircumflex</string>
        <string>i</string>
        <string>igrave</string>
        <string>iacute</string>
        <string>icircumflex</string>
        <string>idieresis</string>
        <string>itilde</string>
        <string>imacron</string>
        <string>ibreve</string>
        <string>iogonek</string>
        <string>uni0209</string>
        <string>uni020B</string>
        <string>j</string>
        <string>jcircumflex</string>
        <string>k</string>
        <string>kcommaaccent</string>
        <string>l</string>
        <string>lacute</string>
        <string>lcommaaccent</string>
        <string>lcaron</string>
        <string>m</string>
        <string>n</string>
        <string>ntilde</string>
        <string>nacute</string>
        <string>ncommaaccent</string>
        <string>ncaron</string>
        <string>o</string>
        <string>ograve</string>
        <string>oacute</string>
        <string>ocircumflex</string>
        <string>otilde</string>
        <string>odieresis</string>
        <string>omacron</string>
        <string>obreve</string>
        <string>ohungarumlaut</string>
        <string>uni020D</string>
        <string>uni020F</string>
        <string>p</string>
        <string>q</string>
        <string>r</string>
        <string>racute</string>
        <string>rcommaaccent</string>
        <string>rcaron</string>
        <string>uni0211</string>
        <string>uni0213</string>
        <string>s</string>
        <string>sacute</string>
        <string>scircumflex</string>
        <string>scedilla</string>
        <string>scaron</string>
        <string>scommaaccent</string>
        <string>uni0219</string>
        <string>t</string>
        <string>tcaron</string>
        <string>tcommaaccent</string>
        <string>uni021B</string>
        <string>u</string>
        <string>ugrave</string>
        <string>uacute</string>
        <string>ucircumflex</string>
        <string>udieresis</string>
        <string>umacron</string>
        <string>ubreve</string>
        <string>uring</string>
        <string>uhungarumlaut</string>
        <string>uogonek</string>
        <string>uni0215</string>
        <string>uni0217</string>
        <string>v</string>
        <string>w</string>
        <string>wcircumflex</string>
        <string>wgrave</string>
        <string>wacute</string>
        <string>wdieresis</string>
        <string>x</string>
        <string>y</string>
        <string>yacute</string>
        <string>ydieresis</string>
        <string>ycircumflex</string>
        <string>ygrave</string>
        <string>z</string>
        <string>zacute</string>
        <string>zdotaccent</string>
        <string>zcaron</string>
        <string>ordfeminine</string>
        <string>ordmasculine</string>
        <string>germandbls</string>
        <string>ae</string>
        <string>eth</string>
        <string>oslash</string>
        <string>thorn</string>
        <string>dcroat</string>
        <string>hbar</string>
        <string>dotlessi</string>
        <string>ij</string>
        <string>kgreenlandic</string>
        <string>ldot</string>
        <string>lslash</string>
        <string>oe</string>
        <string>uni01C6</string>
        <string>uni01C9</string>
        <string>uni01CC</string>
        <string>dz</string>
        <string>dotlessj</string>
        <string>ff</string>
        <string>fi</string>
        <string>fl</string>
        <string>ffi</string>
        <string>ffl</string>
        <string>mu</string>
        <string>uni01C5</string>
        <string>uni01C8</string>
        <string>uni01CB</string>
        <string>DZ</string>
        <string>Dz</string>
        <string>circumflex</string>
        <string>caron</string>
        <string>uni030F</string>
        <string>uni0311</string>
        <string>commaaccent</string>
        <string>uni0326</string>
        <string>zero</string>
        <string>one</string>
        <string>two</string>
        <string>three</string>
        <string>four</string>
        <string>five</string>
        <string>six</string>
        <string>seven</string>
        <string>eight</string>
        <string>nine</string>
        <string>twosuperior</string>
        <string>threesuperior</string>
        <string>onesuperior</string>
        <string>onequarter</string>
        <string>onehalf</string>
        <string>threequarters</string>
        <string>foursuperior</string>
        <string>underscore</string>
        <string>hyphen</string>
        <string>endash</string>
        <string>emdash</string>
        <string>parenleft</string>
        <string>bracketleft</string>
        <string>braceleft</string>
        <string>quotesinglbase</string>
        <string>quotedblbase</string>
        <string>parenright</string>
        <string>bracketright</string>
        <string>braceright</string>
        <string>guillemotleft</string>
        <string>quoteleft</string>
        <string>quotedblleft</string>
        <string>guilsinglleft</string>
        <string>guillemotright</string>
        <string>quoteright</string>
        <string>quotedblright</string>
        <string>guilsinglright</string>
        <string>exclam</string>
        <string>quotedbl</string>
        <string>numbersign</string>
        <string>percent</string>
        <string>ampersand</string>
        <string>quotesingle</string>
        <string>asterisk</string>
        <string>comma</string>
        <string>period</string>
        <string>slash</string>
        <string>colon</string>
        <string>semicolon</string>
        <string>question</string>
        <string>at</string>
        <string>backslash</string>
        <string>exclamdown</string>
        <string>periodcentered</string>
        <string>questiondown</string>
        <string>daggerdbl</string>
        <string>bullet</string>
        <string>plus</string>
        <string>less</string>
        <string>equal</string>
        <string>greater</string>
        <string>bar</string>
        <string>asciitilde</string>
        <string>logicalnot</string>
        <string>plusminus</string>
        <string>multiply</string>
        <string>divide</string>
        <string>fraction</string>
        <string>product</string>
        <string>minus</string>
        <string>integral</string>
        <string>dollar</string>
        <string>cent</string>
        <string>sterling</string>
        <string>currency</string>
        <string>yen</string>
        <string>Euro</string>
        <string>asciicircum</string>
        <string>grave</string>
        <string>dieresis</string>
        <string>macron</string>
        <string>acute</string>
        <string>cedilla</string>
        <string>breve</string>
        <string>dotaccent</string>
        <string>ring</string>
        <string>ogonek</string>
        <string>tilde</string>
        <string>hungarumlaut</string>
        <string>brokenbar</string>
        <string>section</string>
        <string>copyright</string>
        <string>registered</string>
        <string>degree</string>
        <string>paragraph</string>
        <string>trademark</string>
        <string>space</string>
        <string>nbspace</string>
        <string>CR</string>
        <string>uni00AD</string>
        <string>.notdef</string>
        <string>.null</string>
        <string>NULL</string>
        <string>foundryicon</string>
        <string>nonmarkingreturn</string>
        <string>tt</string>
      </array>
    <key>org.robofab.glyphOrder</key>
      <array>
        <string>A</string>
        <string>Aacute</string>
        <string>Abreve</string>
        <string>Acircumflex</string>
        <string>Adieresis</string>
        <string>Agrave</string>
        <string>Amacron</string>
        <string>Aogonek</string>
        <string>Aring</string>
        <string>Atilde</string>
        <string>AE</string>
        <string>B</string>
        <string>C</string>
        <string>Cacute</string>
        <string>Ccaron</string>
        <string>Ccedilla</string>
        <string>Ccircumflex</string>
        <string>Cdotaccent</string>
        <string>D</string>
        <string>DZ</string>
        <string>Eth</string>
        <string>Dcaron</string>
        <string>Dcroat</string>
        <string>Dz</string>
        <string>E</string>
        <string>Eacute</string>
        <string>Ecaron</string>
        <string>Ecircumflex</string>
        <string>Edieresis</string>
        <string>Egrave</string>
        <string>Emacron</string>
        <string>Eogonek</string>
        <string>F</string>
        <string>G</string>
        <string>Gbreve</string>
        <string>Gcircumflex</string>
        <string>Gdotaccent</string>
        <string>H</string>
        <string>Hbar</string>
        <string>Hcircumflex</string>
        <string>I</string>
        <string>IJ</string>
        <string>Iacute</string>
        <string>Ibreve</string>
        <string>Icircumflex</string>
        <string>Idieresis</string>
        <string>Idotaccent</string>
        <string>Igrave</string>
        <string>Imacron</string>
        <string>Iogonek</string>
        <string>Itilde</string>
        <string>J</string>
        <string>Jcircumflex</string>
        <string>K</string>
        <string>Kcommaaccent</string>
        <string>L</string>
        <string>Lacute</string>
        <string>Lcaron</string>
        <string>Lcommaaccent</string>
        <string>Lslash</string>
        <string>M</string>
        <string>N</string>
        <string>Nacute</string>
        <string>Ncaron</string>
        <string>Ncommaaccent</string>
        <string>Ntilde</string>
        <string>O</string>
        <string>Oacute</string>
        <string>Obreve</string>
        <string>Ocircumflex</string>
        <string>Odieresis</string>
        <string>Ograve</string>
        <string>Ohungarumlaut</string>
        <string>Omacron</string>
        <string>Oslash</string>
        <string>Otilde</string>
        <string>OE</string>
        <string>P</string>
        <string>Thorn</string>
        <string>Q</string>
        <string>R</string>
        <string>Racute</string>
        <string>Rcaron</string>
        <string>Rcommaaccent</string>
        <string>S</string>
        <string>Sacute</string>
        <string>Scaron</string>
        <string>Scedilla</string>
        <string>Scircumflex</string>
        <string>Scommaaccent</string>
        <string>T</string>
        <string>Tcaron</string>
        <string>Tcommaaccent</string>
        <string>U</string>
        <string>Uacute</string>
        <string>Ubreve</string>
        <string>Ucircumflex</string>
        <string>Udieresis</string>
        <string>Ugrave</string>
        <string>Uhungarumlaut</string>
        <string>Umacron</string>
        <string>Uogonek</string>
        <string>Uring</string>
        <string>V</string>
        <string>W</string>
        <string>Wacute</string>
        <string>Wcircumflex</string>
        <string>Wdieresis</string>
        <string>Wgrave</string>
        <string>X</string>
        <string>Y</string>
        <string>Yacute</string>
        <string>Ycircumflex</string>
        <string>Ydieresis</string>
        <string>Ygrave</string>
        <string>Z</string>
        <string>Zacute</string>
        <string>Zcaron</string>
        <string>Zdotaccent</string>
        <string>a</string>
        <string>aacute</string>
        <string>abreve</string>
        <string>acircumflex</string>
        <string>adieresis</string>
        <string>agrave</string>
        <string>amacron</string>
        <string>aogonek</string>
        <string>aring</string>
        <string>atilde</string>
        <string>ae</string>
        <string>b</string>
        <string>c</string>
        <string>cacute</string>
        <string>ccaron</string>
        <string>ccedilla</string>
        <string>ccircumflex</string>
        <string>cdotaccent</string>
        <string>d</string>
        <string>eth</string>
        <string>dcaron</string>
        <string>dcroat</string>
        <string>dz</string>
        <string>e</string>
        <string>eacute</string>
        <string>ecaron</string>
        <string>ecircumflex</string>
        <string>edieresis</string>
        <string>egrave</string>
        <string>emacron</string>
        <string>eogonek</string>
        <string>f</string>
        <string>g</string>
        <string>gbreve</string>
        <string>gcircumflex</string>
        <string>gdotaccent</string>
        <string>h</string>
        <string>hbar</string>
        <string>hcircumflex</string>
        <string>i</string>
        <string>dotlessi</string>
        <string>iacute</string>
        <string>ibreve</string>
        <string>icircumflex</string>
        <string>idieresis</string>
        <string>igrave</string>
        <string>ij</string>
        <string>imacron</string>
        <string>iogonek</string>
        <string>itilde</string>
        <string>j</string>
        <string>dotlessj</string>
        <string>jcircumflex</string>
        <string>k</string>
        <string>kcommaaccent</string>
        <string>kgreenlandic</string>
        <string>l</string>
        <string>lacute</string>
        <string>lcaron</string>
        <string>lcommaaccent</string>
        <string>ldot</string>
        <string>lslash</string>
        <string>m</string>
        <string>n</string>
        <string>nacute</string>
        <string>ncaron</string>
        <string>ncommaaccent</string>
        <string>ntilde</string>
        <string>o</string>
        <string>oacute</string>
        <string>obreve</string>
        <string>ocircumflex</string>
        <string>odieresis</string>
        <string>ograve</string>
        <string>ohungarumlaut</string>
        <string>omacron</string>
        <string>oslash</string>
        <string>otilde</string>
        <string>oe</string>
        <string>p</string>
        <string>thorn</string>
        <string>q</string>
        <string>r</string>
        <string>racute</string>
        <string>rcaron</string>
        <string>rcommaaccent</string>
        <string>s</string>
        <string>sacute</string>
        <string>scaron</string>
        <string>scedilla</string>
        <string>scircumflex</string>
        <string>scommaaccent</string>
        <string>germandbls</string>
        <string>t</string>
        <string>tcaron</string>
        <string>tcommaaccent</string>
        <string>u</string>
        <string>uacute</string>
        <string>ubreve</string>
        <string>ucircumflex</string>
        <string>udieresis</string>
        <string>ugrave</string>
        <string>uhungarumlaut</string>
        <string>umacron</string>
        <string>uogonek</string>
        <string>uring</string>
        <string>v</string>
        <string>w</string>
        <string>wacute</string>
        <string>wcircumflex</string>
        <string>wdieresis</string>
        <string>wgrave</string>
        <string>x</string>
        <string>y</string>
        <string>yacute</string>
        <string>ycircumflex</string>
        <string>ydieresis</string>
        <string>ygrave</string>
        <string>z</string>
        <string>zacute</string>
        <string>zcaron</string>
        <string>zdotaccent</string>
        <string>fi</string>
        <string>fl</string>
        <string>Delta</string>
        <string>mu</string>
        <string>zero</string>
        <string>one</string>
        <string>two</string>
        <string>three</string>
        <string>four</string>
        <string>five</string>
        <string>six</string>
        <string>seven</string>
        <string>eight</string>
        <string>nine</string>
        <string>fraction</string>
        <string>onehalf</string>
        <string>onequarter</string>
        <string>threequarters</string>
        <string>onesuperior</string>
        <string>twosuperior</string>
        <string>threesuperior</string>
        <string>foursuperior</string>
        <string>ordfeminine</string>
        <string>ordmasculine</string>
        <string>asterisk</string>
        <string>backslash</string>
        <string>bullet</string>
        <string>colon</string>
        <string>comma</string>
        <string>exclam</string>
        <string>exclamdown</string>
        <string>numbersign</string>
        <string>period</string>
        <string>periodcentered</string>
        <string>question</string>
        <string>questiondown</string>
        <string>quotedbl</string>
        <string>quotesingle</string>
        <string>semicolon</string>
        <string>slash</string>
        <string>underscore</string>
        <string>braceleft</string>
        <string>braceright</string>
        <string>bracketleft</string>
        <string>bracketright</string>
        <string>parenleft</string>
        <string>parenright</string>
        <string>emdash</string>
        <string>endash</string>
        <string>hyphen</string>
        <string>guillemotleft</string>
        <string>guillemotright</string>
        <string>guilsinglleft</string>
        <string>guilsinglright</string>
        <string>quotedblbase</string>
        <string>quotedblleft</string>
        <string>quotedblright</string>
        <string>quoteleft</string>
        <string>quoteright</string>
        <string>quotesinglbase</string>
        <string>space</string>
        <string>nbspace</string>
        <string>CR</string>
        <string>.notdef</string>
        <string>.null</string>
        <string>cent</string>
        <string>currency</string>
        <string>dollar</string>
        <string>sterling</string>
        <string>yen</string>
        <string>asciitilde</string>
        <string>divide</string>
        <string>equal</string>
        <string>greater</string>
        <string>integral</string>
        <string>less</string>
        <string>logicalnot</string>
        <string>multiply</string>
        <string>percent</string>
        <string>plus</string>
        <string>plusminus</string>
        <string>product</string>
        <string>ampersand</string>
        <string>at</string>
        <string>bar</string>
        <string>brokenbar</string>
        <string>copyright</string>
        <string>daggerdbl</string>
        <string>degree</string>
        <string>paragraph</string>
        <string>registered</string>
        <string>section</string>
        <string>trademark</string>
        <string>asciicircum</string>
        <string>commaaccent</string>
        <string>acute</string>
        <string>breve</string>
        <string>caron</string>
        <string>cedilla</string>
        <string>circumflex</string>
        <string>dieresis</string>
        <string>dotaccent</string>
        <string>grave</string>
        <string>hungarumlaut</string>
        <string>macron</string>
        <string>ogonek</string>
        <string>ring</string>
        <string>tilde</string>
        <string>Euro</string>
        <string>Gcedilla</string>
        <string>Ldotaccent</string>
        <string>ff</string>
        <string>ffi</string>
        <string>ffl</string>
        <string>gcedilla</string>
        <string>uni00AD</string>
        <string>uni01C4</string>
        <string>uni01C5</string>
        <string>uni01C6</string>
        <string>uni01C7</string>
        <string>uni01C8</string>
        <string>uni01C9</string>
        <string>uni01CA</string>
        <string>uni01CB</string>
        <string>uni01CC</string>
        <string>uni01F4</string>
        <string>uni01F5</string>
        <string>uni0200</string>
        <string>uni0201</string>
        <string>uni0202</string>
        <string>uni0203</string>
        <string>uni0204</string>
        <string>uni0205</string>
        <string>uni0206</string>
        <string>uni0207</string>
        <string>uni0208</string>
        <string>uni0209</string>
        <string>uni020A</string>
        <string>uni020B</string>
        <string>uni020C</string>
        <string>uni020D</string>
        <string>uni020E</string>
        <string>uni020F</string>
        <string>uni0210</string>
        <string>uni0211</string>
        <string>uni0212</string>
        <string>uni0213</string>
        <string>uni0214</string>
        <string>uni0215</string>
        <string>uni0216</string>
        <string>uni0217</string>
        <string>uni0218</string>
        <string>uni0219</string>
        <string>uni021A</string>
        <string>uni021B</string>
        <string>uni030F</string>
        <string>uni0311</string>
        <string>uni0326</string>
        <string>NULL</string>
        <string>foundryicon</string>
        <string>nonmarkingreturn</string>
        <string>tt</string>
      </array>
    <key>com.typemytype.robofont.layerOrder</key>
      <array>
      </array>
    <key>com.typemytype.robofont.segmentType</key>
      <string>curve</string>
    <key>com.typesupply.MetricsMachine4.groupColors</key>
    <key>@MMK_L_U_Left</key>
      <array>
              </array>
    <key>@MMK_L_X_Left</key>
      <array>
              </array>
    <key>@MMK_L_V_Left</key>
      <array>
              </array>
    <key>@MMK_L_t_Left</key>
      <array>
              </array>
    <key>@MMK_R_n_Right</key>
      <array>
              </array>
    <key>@MMK_R_w_Left</key>
      <array>
              </array>
    <key>@MMK_R_v_Left</key>
      <array>
              </array>
    <key>@MMK_R_A_Right</key>
      <array>
              </array>
    <key>@MMK_R_o_Right</key>
      <array>
              </array>
    <key>@MMK_R_Y_Right</key>
      <array>
              </array>
    <key>@MMK_L_A_Left</key>
      <array>
              </array>
    <key>@MMK_L_T_Left</key>
      <array>
              </array>
    <key>@MMK_L_w_Left</key>
      <array>
              </array>
    <key>@MMK_L_B_Left</key>
      <array>
              </array>
    <key>@MMK_L_k_Left</key>
      <array>
              </array>
    <key>@MMK_R_O_Right</key>
      <array>
              </array>
    <key>@MMK_L_S_Left</key>
      <array>
              </array>
    <key>@MMK_L_n_Left</key>
      <array>
              </array>
    <key>@MMK_L_y_Left</key>
      <array>
              </array>
    <key>@MMK_L_W_Left</key>
      <array>
              </array>
    <key>@MMK_R_T_Right</key>
      <array>
              </array>
    <key>@MMK_R_W_Right</key>
      <array>
              </array>
    <key>@MMK_R_H_Right</key>
      <array>
              </array>
    <key>@MMK_L_r_Left</key>
      <array>
              </array>
    <key>@MMK_R_y_Left</key>
      <array>
              </array>
    <key>@MMK_L_Y_Left</key>
      <array>
              </array>
    <key>@MMK_L_o_Left</key>
      <array>
              </array>
    <key>@MMK_R_V_Right</key>
      <array>
              </array>
    <key>@MMK_L_v_Left</key>
      <array>
              </array>
    <key>@MMK_R_S_Right</key>
      <array>
              </array>
    <key>@MMK_R_u_Left</key>
      <array>
              </array>
    <key>@MMK_L_H_Left</key>
      <array>
              </array>
    <key>@MMK_R_a_Right</key>
      <array>
              </array>
    <key>@MMK_R_U_Right</key>
      <array>
              </array>
    <key>@MMK_L_R_Left</key>
      <array>
              </array>
    <key>@MMK_L_P_Left</key>
      <array>
              </array>
    <key>@MMK_L_O_Left</key>
      <array>
              </array>
    <key>com.typemytype.robofont.sort</key>
      <array>
      <key>type</key>
      <string>glyphList</string>
    <key>ascending</key>
      <array>
        <string>A</string>
        <string>Agrave</string>
        <string>Aacute</string>
        <string>Acircumflex</string>
        <string>Atilde</string>
        <string>Adieresis</string>
        <string>Aring</string>
        <string>Amacron</string>
        <string>Abreve</string>
        <string>Aogonek</string>
        <string>uni0200</string>
        <string>uni0202</string>
        <string>B</string>
        <string>C</string>
        <string>Ccedilla</string>
        <string>Cacute</string>
        <string>Ccircumflex</string>
        <string>Cdotaccent</string>
        <string>Ccaron</string>
        <string>D</string>
        <string>Dcaron</string>
        <string>E</string>
        <string>Egrave</string>
        <string>Eacute</string>
        <string>Ecircumflex</string>
        <string>Edieresis</string>
        <string>Emacron</string>
        <string>Eogonek</string>
        <string>Ecaron</string>
        <string>uni0204</string>
        <string>uni0206</string>
        <string>F</string>
        <string>G</string>
        <string>Gcircumflex</string>
        <string>Gbreve</string>
        <string>Gdotaccent</string>
        <string>Gcedilla</string>
        <string>uni01F4</string>
        <string>H</string>
        <string>Hcircumflex</string>
        <string>I</string>
        <string>Igrave</string>
        <string>Iacute</string>
        <string>Icircumflex</string>
        <string>Idieresis</string>
        <string>Itilde</string>
        <string>Imacron</string>
        <string>Ibreve</string>
        <string>Iogonek</string>
        <string>Idotaccent</string>
        <string>uni0208</string>
        <string>uni020A</string>
        <string>J</string>
        <string>Jcircumflex</string>
        <string>K</string>
        <string>Kcommaaccent</string>
        <string>L</string>
        <string>Lacute</string>
        <string>Lcommaaccent</string>
        <string>Lcaron</string>
        <string>M</string>
        <string>N</string>
        <string>Ntilde</string>
        <string>Nacute</string>
        <string>Ncommaaccent</string>
        <string>Ncaron</string>
        <string>O</string>
        <string>Ograve</string>
        <string>Oacute</string>
        <string>Ocircumflex</string>
        <string>Otilde</string>
        <string>Odieresis</string>
        <string>Omacron</string>
        <string>Obreve</string>
        <string>Ohungarumlaut</string>
        <string>uni020C</string>
        <string>uni020E</string>
        <string>P</string>
        <string>Q</string>
        <string>R</string>
        <string>Racute</string>
        <string>Rcommaaccent</string>
        <string>Rcaron</string>
        <string>uni0210</string>
        <string>uni0212</string>
        <string>S</string>
        <string>Sacute</string>
        <string>Scircumflex</string>
        <string>Scedilla</string>
        <string>Scaron</string>
        <string>Scommaaccent</string>
        <string>uni0218</string>
        <string>T</string>
        <string>Tcaron</string>
        <string>Tcommaaccent</string>
        <string>uni021A</string>
        <string>U</string>
        <string>Ugrave</string>
        <string>Uacute</string>
        <string>Ucircumflex</string>
        <string>Udieresis</string>
        <string>Umacron</string>
        <string>Ubreve</string>
        <string>Uring</string>
        <string>Uhungarumlaut</string>
        <string>Uogonek</string>
        <string>uni0214</string>
        <string>uni0216</string>
        <string>V</string>
        <string>W</string>
        <string>Wcircumflex</string>
        <string>Wgrave</string>
        <string>Wacute</string>
        <string>Wdieresis</string>
        <string>X</string>
        <string>Y</string>
        <string>Yacute</string>
        <string>Ycircumflex</string>
        <string>Ydieresis</string>
        <string>Ygrave</string>
        <string>Z</string>
        <string>Zacute</string>
        <string>Zdotaccent</string>
        <string>Zcaron</string>
        <string>AE</string>
        <string>Eth</string>
        <string>Oslash</string>
        <string>Thorn</string>
        <string>Dcroat</string>
        <string>Hbar</string>
        <string>IJ</string>
        <string>Ldotaccent</string>
        <string>Lslash</string>
        <string>OE</string>
        <string>uni01C4</string>
        <string>uni01C7</string>
        <string>uni01CA</string>
        <string>Delta</string>
        <string>a</string>
        <string>agrave</string>
        <string>aacute</string>
        <string>acircumflex</string>
        <string>atilde</string>
        <string>adieresis</string>
        <string>aring</string>
        <string>amacron</string>
        <string>abreve</string>
        <string>aogonek</string>
        <string>uni0201</string>
        <string>uni0203</string>
        <string>b</string>
        <string>c</string>
        <string>ccedilla</string>
        <string>cacute</string>
        <string>ccircumflex</string>
        <string>cdotaccent</string>
        <string>ccaron</string>
        <string>d</string>
        <string>dcaron</string>
        <string>e</string>
        <string>egrave</string>
        <string>eacute</string>
        <string>ecircumflex</string>
        <string>edieresis</string>
        <string>emacron</string>
        <string>eogonek</string>
        <string>ecaron</string>
        <string>uni0205</string>
        <string>uni0207</string>
        <string>f</string>
        <string>g</string>
        <string>gcircumflex</string>
        <string>gbreve</string>
        <string>gdotaccent</string>
        <string>gcedilla</string>
        <string>uni01F5</string>
        <string>h</string>
        <string>hcircumflex</string>
        <string>i</string>
        <string>igrave</string>
        <string>iacute</string>
        <string>icircumflex</string>
        <string>idieresis</string>
        <string>itilde</string>
        <string>imacron</string>
        <string>ibreve</string>
        <string>iogonek</string>
        <string>uni0209</string>
        <string>uni020B</string>
        <string>j</string>
        <string>jcircumflex</string>
        <string>k</string>
        <string>kcommaaccent</string>
        <string>l</string>
        <string>lacute</string>
        <string>lcommaaccent</string>
        <string>lcaron</string>
        <string>m</string>
        <string>n</string>
        <string>ntilde</string>
        <string>nacute</string>
        <string>ncommaaccent</string>
        <string>ncaron</string>
        <string>o</string>
        <string>ograve</string>
        <string>oacute</string>
        <string>ocircumflex</string>
        <string>otilde</string>
        <string>odieresis</string>
        <string>omacron</string>
        <string>obreve</string>
        <string>ohungarumlaut</string>
        <string>uni020D</string>
        <string>uni020F</string>
        <string>p</string>
        <string>q</string>
        <string>r</string>
        <string>racute</string>
        <string>rcommaaccent</string>
        <string>rcaron</string>
        <string>uni0211</string>
        <string>uni0213</string>
        <string>s</string>
        <string>sacute</string>
        <string>scircumflex</string>
        <string>scedilla</string>
        <string>scaron</string>
        <string>scommaaccent</string>
        <string>uni0219</string>
        <string>t</string>
        <string>tcaron</string>
        <string>tcommaaccent</string>
        <string>uni021B</string>
        <string>u</string>
        <string>ugrave</string>
        <string>uacute</string>
        <string>ucircumflex</string>
        <string>udieresis</string>
        <string>umacron</string>
        <string>ubreve</string>
        <string>uring</string>
        <string>uhungarumlaut</string>
        <string>uogonek</string>
        <string>uni0215</string>
        <string>uni0217</string>
        <string>v</string>
        <string>w</string>
        <string>wcircumflex</string>
        <string>wgrave</string>
        <string>wacute</string>
        <string>wdieresis</string>
        <string>x</string>
        <string>y</string>
        <string>yacute</string>
        <string>ydieresis</string>
        <string>ycircumflex</string>
        <string>ygrave</string>
        <string>z</string>
        <string>zacute</string>
        <string>zdotaccent</string>
        <string>zcaron</string>
        <string>ordfeminine</string>
        <string>ordmasculine</string>
        <string>germandbls</string>
        <string>ae</string>
        <string>eth</string>
        <string>oslash</string>
        <string>thorn</string>
        <string>dcroat</string>
        <string>hbar</string>
        <string>dotlessi</string>
        <string>ij</string>
        <string>kgreenlandic</string>
        <string>ldot</string>
        <string>lslash</string>
        <string>oe</string>
        <string>uni01C6</string>
        <string>uni01C9</string>
        <string>uni01CC</string>
        <string>dz</string>
        <string>dotlessj</string>
        <string>ff</string>
        <string>fi</string>
        <string>fl</string>
        <string>ffi</string>
        <string>ffl</string>
        <string>mu</string>
        <string>uni01C5</string>
        <string>uni01C8</string>
        <string>uni01CB</string>
        <string>DZ</string>
        <string>Dz</string>
        <string>circumflex</string>
        <string>caron</string>
        <string>uni030F</string>
        <string>uni0311</string>
        <string>commaaccent</string>
        <string>uni0326</string>
        <string>zero</string>
        <string>one</string>
        <string>two</string>
        <string>three</string>
        <string>four</string>
        <string>five</string>
        <string>six</string>
        <string>seven</string>
        <string>eight</string>
        <string>nine</string>
        <string>twosuperior</string>
        <string>threesuperior</string>
        <string>onesuperior</string>
        <string>onequarter</string>
        <string>onehalf</string>
        <string>threequarters</string>
        <string>foursuperior</string>
        <string>underscore</string>
        <string>hyphen</string>
        <string>endash</string>
        <string>emdash</string>
        <string>parenleft</string>
        <string>bracketleft</string>
        <string>braceleft</string>
        <string>quotesinglbase</string>
        <string>quotedblbase</string>
        <string>parenright</string>
        <string>bracketright</string>
        <string>braceright</string>
        <string>guillemotleft</string>
        <string>quoteleft</string>
        <string>quotedblleft</string>
        <string>guilsinglleft</string>
        <string>guillemotright</string>
        <string>quoteright</string>
        <string>quotedblright</string>
        <string>guilsinglright</string>
        <string>exclam</string>
        <string>quotedbl</string>
        <string>numbersign</string>
        <string>percent</string>
        <string>ampersand</string>
        <string>quotesingle</string>
        <string>asterisk</string>
        <string>comma</string>
        <string>period</string>
        <string>slash</string>
        <string>colon</string>
        <string>semicolon</string>
        <string>question</string>
        <string>at</string>
        <string>backslash</string>
        <string>exclamdown</string>
        <string>periodcentered</string>
        <string>questiondown</string>
        <string>daggerdbl</string>
        <string>bullet</string>
        <string>plus</string>
        <string>less</string>
        <string>equal</string>
        <string>greater</string>
        <string>bar</string>
        <string>asciitilde</string>
        <string>logicalnot</string>
        <string>plusminus</string>
        <string>multiply</string>
        <string>divide</string>
        <string>fraction</string>
        <string>product</string>
        <string>minus</string>
        <string>integral</string>
        <string>dollar</string>
        <string>cent</string>
        <string>sterling</string>
        <string>currency</string>
        <string>yen</string>
        <string>Euro</string>
        <string>asciicircum</string>
        <string>grave</string>
        <string>dieresis</string>
        <string>macron</string>
        <string>acute</string>
        <string>cedilla</string>
        <string>breve</string>
        <string>dotaccent</string>
        <string>ring</string>
        <string>ogonek</string>
        <string>tilde</string>
        <string>hungarumlaut</string>
        <string>brokenbar</string>
        <string>section</string>
        <string>copyright</string>
        <string>registered</string>
        <string>degree</string>
        <string>paragraph</string>
        <string>trademark</string>
        <string>space</string>
        <string>nbspace</string>
        <string>CR</string>
        <string>uni00AD</string>
        <string>.notdef</string>
        <string>.null</string>
        <string>NULL</string>
        <string>foundryicon</string>
        <string>nonmarkingreturn</string>
        <string>tt</string>
      </array>
      </array>
    <key>com.schriftgestaltung.weight</key>
      <string>Bold</string>
    <key>com.schriftgestaltung.fontMaster.userData</key>
    </dict>
</plist>
