 <div class="row-fluid">
 <div class="span12" style="background-color:#fff;padding:13px 21px 13px 34px">
<p class="lead">About Oswald Webfonts</p>
<p>Oswald is a web font family originally designed for free and easy inclusion in website and web platform themes. The Oswald fonts can be used freely across the internet on desktop computers, laptops and mobile devices.</p>
<p>Oswald is a reworking of a classic generic typeface style historically represented by typefaces such as 'Alternate Gothic'.</p>
<p>
</p>
</div></div>