<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>1766</integer>
	<key>capHeight</key>
	<integer>1766</integer>
	<key>copyright</key>
	<string>Copyright (c) 2011 by vernon adams. All rights reserved.</string>
	<key>descender</key>
	<integer>-377</integer>
	<key>familyName</key>
	<string>OswaldMonoline</string>
	<key>italicAngle</key>
	<real>0.0</real>
	<key>macintoshFONDFamilyID</key>
	<integer>128</integer>
	<key>macintoshFONDName</key>
	<string>OswaldMonoline</string>
	<key>openTypeHeadLowestRecPPEM</key>
	<integer>9</integer>
	<key>openTypeHheaAscender</key>
	<integer>1144</integer>
	<key>openTypeHheaDescender</key>
	<integer>-239</integer>
	<key>openTypeHheaLineGap</key>
	<integer>34</integer>
	<key>openTypeNameCompatibleFullName</key>
	<string>OswaldMonoline</string>
	<key>openTypeNameDescription</key>
	<string>Copyright (c) 2011 by . All rights reserved.</string>
	<key>openTypeNameDesigner</key>
	<string>vernon adams</string>
	<key>openTypeNameDesignerURL</key>
	<string>newtypography.co.uk</string>
	<key>openTypeNameManufacturer</key>
	<string>vernon adams</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>OswaldMonoline</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Regular</string>
	<key>openTypeNameUniqueID</key>
	<string>vernonadams: OswaldMonoline: 2011</string>
	<key>openTypeNameVersion</key>
	<string>Version 1.000</string>
	<key>openTypeOS2CodePageRanges</key>
	<array>
	</array>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Panose</key>
	<array>
		<integer>2</integer>
		<integer>0</integer>
		<integer>5</integer>
		<integer>6</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>2</integer>
		<integer>0</integer>
		<integer>4</integer>
	</array>
	<key>openTypeOS2StrikeoutPosition</key>
	<integer>1751</integer>
	<key>openTypeOS2StrikeoutSize</key>
	<integer>348</integer>
	<key>openTypeOS2SubscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SubscriptXSize</key>
	<integer>37482</integer>
	<key>openTypeOS2SubscriptYOffset</key>
	<integer>7502</integer>
	<key>openTypeOS2SubscriptYSize</key>
	<integer>34791</integer>
	<key>openTypeOS2SuperscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SuperscriptXSize</key>
	<integer>37482</integer>
	<key>openTypeOS2SuperscriptYOffset</key>
	<integer>25537</integer>
	<key>openTypeOS2SuperscriptYSize</key>
	<integer>34791</integer>
	<key>openTypeOS2Type</key>
	<array>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>1765</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-377</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>139</integer>
	<key>openTypeOS2UnicodeRanges</key>
	<array>
	</array>
	<key>openTypeOS2VendorID</key>
	<string>newt</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>2343</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>-489</integer>
	<key>postscriptBlueFuzz</key>
	<integer>1</integer>
	<key>postscriptBlueScale</key>
	<real>0.029251567343762903</real>
	<key>postscriptBlueShift</key>
	<integer>3</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-37</integer>
		<integer>0</integer>
		<integer>1249</integer>
		<integer>1272</integer>
		<integer>1765</integer>
		<integer>1807</integer>
	</array>
	<key>postscriptDefaultWidthX</key>
	<integer>500</integer>
	<key>postscriptFamilyBlues</key>
	<array>
	</array>
	<key>postscriptFamilyOtherBlues</key>
	<array>
	</array>
	<key>postscriptFontName</key>
	<string>OswaldMonoline</string>
	<key>postscriptForceBold</key>
	<false/>
	<key>postscriptFullName</key>
	<string>OswaldMonoline</string>
	<key>postscriptIsFixedPitch</key>
	<false/>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-391</integer>
		<integer>-385</integer>
	</array>
	<key>postscriptSlantAngle</key>
	<real>-0.0</real>
	<key>postscriptStemSnapH</key>
	<array>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-138</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>69</integer>
	<key>postscriptUniqueID</key>
	<integer>-1</integer>
	<key>postscriptWeightName</key>
	<string>Normal</string>
	<key>postscriptWindowsCharacterSet</key>
	<integer>1</integer>
	<key>styleMapFamilyName</key>
	<string>OswaldMonoline</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>trademark</key>
	<string>OswaldMonoline is a trademark of vernon adams.</string>
	<key>unitsPerEm</key>
	<integer>2048</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>1260</integer>
	<key>year</key>
	<integer>2011</integer>
</dict>
</plist>
