<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.H_Left</key>
	<array>
		<string>H'</string>
		<string>B</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>P</string>
		<string>R</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Ntilde</string>
		<string>Thorn</string>
		<string>Hcircumflex</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Nacute</string>
		<string>Rcommaaccent</string>
		<string>IJ</string>
		<string>DZ</string>
		<string>Dz</string>
	</array>
	<key>.H_Right</key>
	<array>
		<string>H'</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>Hcircumflex</string>
		<string>Nacute</string>
	</array>
	<key>.O_Right</key>
	<array>
		<string>O'</string>
		<string>D</string>
		<string>Q</string>
		<string>Eth</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Oslash</string>
	</array>
	<key>.O_left</key>
	<array>
		<string>O'</string>
		<string>C</string>
		<string>G</string>
		<string>Q</string>
		<string>Ccedilla</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Oslash</string>
		<string>Ccircumflex</string>
	</array>
	<key>.n_Left</key>
	<array>
		<string>n'</string>
		<string>b</string>
		<string>h</string>
		<string>k</string>
		<string>m</string>
		<string>p</string>
		<string>r</string>
		<string>ntilde</string>
		<string>thorn</string>
		<string>rcaron</string>
		<string>nacute</string>
		<string>kgreenlandic</string>
		<string>kcommaaccent</string>
	</array>
	<key>.n_Right</key>
	<array>
		<string>n'</string>
		<string>h</string>
		<string>m</string>
		<string>ntilde</string>
		<string>nacute</string>
		<string>hbar</string>
	</array>
	<key>.o_Left</key>
	<array>
		<string>o'</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>q</string>
		<string>ccedilla</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>oslash</string>
		<string>cdieresis</string>
		<string>ccircumflex</string>
		<string>oe</string>
	</array>
	<key>.o_Right</key>
	<array>
		<string>o'</string>
		<string>b</string>
		<string>p</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>oslash</string>
	</array>
</dict>
</plist>
