<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>A</key>
	<dict>
	    <key>Q</key>
	    <integer>-25</integer>
	</dict>
	<key>Aacute</key>
	<dict>
	    <key>Q</key>
	    <integer>-25</integer>
	</dict>
	<key>Abreve</key>
	<dict>
	    <key>Q</key>
	    <integer>-25</integer>
	</dict>
	<key>Acircumflex</key>
	<dict>
	    <key>Q</key>
	    <integer>-25</integer>
	</dict>
	<key>Adieresis</key>
	<dict>
	    <key>Q</key>
	    <integer>-25</integer>
	</dict>
	<key>Agrave</key>
	<dict>
	    <key>Q</key>
	    <integer>-25</integer>
	</dict>
	<key>Amacron</key>
	<dict>
	    <key>Q</key>
	    <integer>-25</integer>
	</dict>
	<key>Aogonek</key>
	<dict>
	    <key>Q</key>
	    <integer>-25</integer>
	</dict>
	<key>Aring</key>
	<dict>
	    <key>Q</key>
	    <integer>-25</integer>
	</dict>
	<key>Atilde</key>
	<dict>
	    <key>Q</key>
	    <integer>-25</integer>
	</dict>
	<key>D</key>
	<dict>
	    <key>W</key>
	    <integer>-29</integer>
	    <key>V</key>
	    <integer>-20</integer>
	    <key>uni0202</key>
	    <integer>-32</integer>
	    <key>Atilde</key>
	    <integer>-32</integer>
	    <key>Aring</key>
	    <integer>-32</integer>
	    <key>Aogonek</key>
	    <integer>-32</integer>
	    <key>Amacron</key>
	    <integer>-32</integer>
	    <key>Agrave</key>
	    <integer>-32</integer>
	    <key>Adieresis</key>
	    <integer>-32</integer>
	    <key>Acircumflex</key>
	    <integer>-32</integer>
	    <key>Abreve</key>
	    <integer>-32</integer>
	    <key>Aacute</key>
	    <integer>-32</integer>
	    <key>A</key>
	    <integer>-32</integer>
	    <key>period</key>
	    <integer>-30</integer>
	    <key>comma</key>
	    <integer>-30</integer>
	    <key>Yacute</key>
	    <integer>-36</integer>
	    <key>Y</key>
	    <integer>-36</integer>
	</dict>
	<key>F</key>
	<dict>
	    <key>uni020D</key>
	    <integer>-37</integer>
	    <key>s</key>
	    <integer>-22</integer>
	    <key>period</key>
	    <integer>-173</integer>
	    <key>comma</key>
	    <integer>-144</integer>
	</dict>
	<key>K</key>
	<dict>
	    <key>uogonek</key>
	    <integer>-25</integer>
	    <key>uni0215</key>
	    <integer>-25</integer>
	    <key>uni020D</key>
	    <integer>-18</integer>
	    <key>umacron</key>
	    <integer>-25</integer>
	</dict>
	<key>L</key>
	<dict>
	    <key>quoteright</key>
	    <integer>-60</integer>
	    <key>quotedblright</key>
	    <integer>-60</integer>
	</dict>
	<key>T</key>
	<dict>
	    <key>C</key>
	    <integer>-52</integer>
	</dict>
	<key>uni021A</key>
	<dict>
	    <key>C</key>
	    <integer>-52</integer>
	</dict>
	<key>Y</key>
	<dict>
	    <key>o</key>
	    <integer>-69</integer>
	</dict>
	<key>Yacute</key>
	<dict>
	    <key>o</key>
	    <integer>-85</integer>
	</dict>
	<key>b</key>
	<dict>
	    <key>ydieresis</key>
	    <integer>-15</integer>
	    <key>yacute</key>
	    <integer>-15</integer>
	    <key>y</key>
	    <integer>-15</integer>
	    <key>v</key>
	    <integer>-14</integer>
	    <key>b</key>
	    <integer>-17</integer>
	</dict>
	<key>c</key>
	<dict>
	    <key>c</key>
	    <integer>-6</integer>
	</dict>
	<key>d</key>
	<dict>
	    <key>d</key>
	    <integer>-25</integer>
	</dict>
	<key>e</key>
	<dict>
	    <key>x</key>
	    <integer>-27</integer>
	</dict>
	<key>eacute</key>
	<dict>
	    <key>x</key>
	    <integer>-26</integer>
	</dict>
	<key>ecircumflex</key>
	<dict>
	    <key>x</key>
	    <integer>-26</integer>
	</dict>
	<key>edieresis</key>
	<dict>
	    <key>x</key>
	    <integer>-26</integer>
	</dict>
	<key>egrave</key>
	<dict>
	    <key>x</key>
	    <integer>-26</integer>
	</dict>
	<key>f</key>
	<dict>
	    <key>uni020D</key>
	    <integer>-23</integer>
	    <key>f</key>
	    <integer>-77</integer>
	</dict>
	<key>g</key>
	<dict>
	    <key>uogonek</key>
	    <integer>-15</integer>
	    <key>uni0215</key>
	    <integer>-15</integer>
	    <key>uni020D</key>
	    <integer>-20</integer>
	    <key>umacron</key>
	    <integer>-15</integer>
	    <key>d</key>
	    <integer>-14</integer>
	</dict>
	<key>h</key>
	<dict>
	    <key>ydieresis</key>
	    <integer>-9</integer>
	    <key>yacute</key>
	    <integer>-9</integer>
	    <key>y</key>
	    <integer>-9</integer>
	</dict>
	<key>m</key>
	<dict>
	    <key>ydieresis</key>
	    <integer>-22</integer>
	    <key>yacute</key>
	    <integer>-22</integer>
	    <key>y</key>
	    <integer>-22</integer>
	</dict>
	<key>p</key>
	<dict>
	    <key>ydieresis</key>
	    <integer>-20</integer>
	    <key>yacute</key>
	    <integer>-20</integer>
	    <key>y</key>
	    <integer>-20</integer>
	</dict>
	<key>r</key>
	<dict>
	    <key>q</key>
	    <integer>-42</integer>
	    <key>d</key>
	    <integer>-24</integer>
	    <key>c</key>
	    <integer>-21</integer>
	</dict>
	<key>rcaron</key>
	<dict>
	    <key>q</key>
	    <integer>-42</integer>
	    <key>d</key>
	    <integer>-24</integer>
	    <key>c</key>
	    <integer>-21</integer>
	</dict>
	<key>rcommaaccent</key>
	<dict>
	    <key>q</key>
	    <integer>-42</integer>
	    <key>d</key>
	    <integer>-24</integer>
	    <key>c</key>
	    <integer>-21</integer>
	</dict>
	<key>uni0202</key>
	<dict>
	    <key>Q</key>
	    <integer>-25</integer>
	</dict>
	<key>uni020D</key>
	<dict>
	    <key>x</key>
	    <integer>-44</integer>
	</dict>
	<key>uni0211</key>
	<dict>
	    <key>uni020D</key>
	    <integer>-49</integer>
	    <key>q</key>
	    <integer>-42</integer>
	    <key>g</key>
	    <integer>-47</integer>
	    <key>d</key>
	    <integer>-35</integer>
	    <key>ccircumflex</key>
	    <integer>-36</integer>
	    <key>ccedilla</key>
	    <integer>-36</integer>
	    <key>c</key>
	    <integer>-36</integer>
	</dict>
	<key>uni0213</key>
	<dict>
	    <key>q</key>
	    <integer>-42</integer>
	    <key>d</key>
	    <integer>-24</integer>
	    <key>c</key>
	    <integer>-21</integer>
	</dict>
	<key>uni021A</key>
	<dict>
	    <key>C</key>
	    <integer>-52</integer>
	</dict>
	<key>v</key>
	<dict>
	    <key>oacute</key>
	    <integer>-22</integer>
	</dict>
	<key>w</key>
	<dict>
	    <key>ocircumflex</key>
	    <integer>-11</integer>
	</dict>
	<key>x</key>
	<dict>
	    <key>uni020F</key>
	    <integer>-37</integer>
	    <key>uni020D</key>
	    <integer>-37</integer>
	    <key>otilde</key>
	    <integer>-37</integer>
	    <key>ograve</key>
	    <integer>-37</integer>
	    <key>odieresis</key>
	    <integer>-37</integer>
	    <key>ocircumflex</key>
	    <integer>-37</integer>
	    <key>oacute</key>
	    <integer>-37</integer>
	    <key>o</key>
	    <integer>-19</integer>
	</dict>
	<key>z</key>
	<dict>
	    <key>uni020D</key>
	    <integer>-13</integer>
	</dict>
    </dict>
</plist>
