<!DOCTYPE html>
<html>
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <link href="stylesheets/stylesheet.css" rel="stylesheet" type="text/css">
    <link href="assets/fonts/fonts.css" rel="stylesheet" type="text/css">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="newtypography free fonts web fonts truetype opentype linux opensource">
    <meta name="viewport" content="width=device-width, initial-scale=1.0d">
    <link href="assets/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="assets/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

<![CDATA[
    (function() {
        var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
        t.parentNode.insertBefore(s, t);
    })();
]]>
    <title>new typography</title>
  </head>
  <body>
      <div class="row">
<div class="span11 offset1">
