 <div class="row-fluid">
 <div class="span12" style="background-color:#fff;padding-left:34px;">
<div>
<p style="font-size:0.8em">
    Gol Calciphobous Amphithecial Tetrastichal Unstructural Nereidiformia Superacknowledgment Bronchiostenosis Psychanalysis Attemperament</p>
    <p style="font-size:0.9em">
    Gol Calciphobous Amphithecial Tetrastichal Unstructural Nereidiformia Superacknowledgment Bronchiostenosis Psychanalysis Attemperament</p>
    <p style="font-size:1.0em">
    Gol Calciphobous Amphithecial Tetrastichal Unstructural Nereidiformia Superacknowledgment Bronchiostenosis Psychanalysis Attemperament Achaemenidae Heterozygosis Quadridentated Enterpriseless Pneumococcal Bottomlessness Moonlikeness Ptilichthyidae Outstandingness Supraconductor</p>
    <p style="font-size:1.0em">Эта страница создана для тестирования поддержки различных кодировок позволяющих корректно показывать кириллицу.
    Основная задача - это проверить насколько хорошо тот или иной навигатор может показывать русский текст. Для сравнения приводится страница с текстом в виде единой картинки. Но не стоит ожидать полного совпадения изображения, поскольку шрифты установленные на вашем компьютере могут отличаться от тех что были установлены на моём в момент создания картинки, совпадать должен только сам текст а не вид букв. Также приводится транслитерированый вариант, но из-за наличия многих стандартов траслитерации приведённый вариант может отличаться от автоматически перекодированых других версий. Все страницы сделаны в двух вариантах с и без мета тэгов определяющих кодировку. Навигация осуществляется с помощью графических кнопок и таким образом в этом тексте используется только кириллица.</p>
    <p style="font-size:1.1em">
    Gol Calciphobous Amphithecial Tetrastichal Unstructural Nereidiformia Superacknowledgment Bronchiostenosis Psychanalysis Attemperament</p>
    <p style="font-size:1.2em">
    Gol Calciphobous Amphithecial Tetrastichal Unstructural Nereidiformia Superacknowledgment Bronchiostenosis Psychanalysis Attemperament Achaemenidae Heterozygosis Quadridentated Enterpriseless Pneumococcal Bottomlessness Moonlikeness Ptilichthyidae Outstandingness Supraconductor</p>
    <p style="font-size:1.3em">
    Gol Calciphobous Amphithecial Tetrastichal Unstructural Nereidiformia Superacknowledgment Bronchiostenosis Psychanalysis Attemperament Achaemenidae Heterozygosis Quadridentated Enterpriseless Pneumococcal Bottomlessness Moonlikeness Ptilichthyidae Outstandingness Supraconductor</p>
    <p style="font-size:1.4em">
    Gol Calciphobous Amphithecial Tetrastichal Unstructural Nereidiformia Superacknowledgment Bronchiostenosis Psychanalysis Attemperament Achaemenidae Heterozygosis Quadridentated Enterpriseless Pneumococcal Bottomlessness Moonlikeness Ptilichthyidae Outstandingness Supraconductor</p>
    <p style="font-size:1.5em">
    Gol Calciphobous Amphithecial Tetrastichal Unstructural Nereidiformia Superacknowledgment Bronchiostenosis Psychanalysis Attemperament Achaemenidae Heterozygosis Quadridentated Enterpriseless Pneumococcal Bottomlessness Moonlikeness Ptilichthyidae Outstandingness Supraconductor </p>
    <p style="font-size:1.5em">Эта страница создана для тестирования поддержки различных кодировок позволяющих корректно показывать кириллицу.
    Основная задача - это проверить насколько хорошо тот или иной навигатор может показывать русский текст. Для сравнения приводится страница с текстом в виде единой картинки. Но не стоит ожидать полного совпадения изображения, поскольку шрифты установленные на вашем компьютере могут отличаться от тех что были установлены на моём в момент создания картинки, совпадать должен только сам текст а не вид букв. Также приводится транслитерированый вариант, но из-за наличия многих стандартов траслитерации приведённый вариант может отличаться от автоматически перекодированых других версий. Все страницы сделаны в двух вариантах с и без мета тэгов определяющих кодировку. Навигация осуществляется с помощью графических кнопок и таким образом в этом тексте используется только кириллица.</p>
    <p style="font-family:'oswald-light';font-size:1.5em">
    Gol Calciphobous Amphithecial Tetrastichal Unstructural Nereidiformia Superacknowledgment Bronchiostenosis Psychanalysis Attemperament Achaemenidae Heterozygosis Quadridentated Enterpriseless Pneumococcal Bottomlessness Moonlikeness Ptilichthyidae Outstandingness Supraconductor </p>
    <p style="font-family:'oswald-light';font-size:1.5em">Эта страница создана для тестирования поддержки различных кодировок позволяющих корректно показывать кириллицу.
    Основная задача - это проверить насколько хорошо тот или иной навигатор может показывать русский текст. Для сравнения приводится страница с текстом в виде единой картинки. Но не стоит ожидать полного совпадения изображения, поскольку шрифты установленные на вашем компьютере могут отличаться от тех что были установлены на моём в момент создания картинки, совпадать должен только сам текст а не вид букв. Также приводится транслитерированый вариант, но из-за наличия многих стандартов траслитерации приведённый вариант может отличаться от автоматически перекодированых других версий. Все страницы сделаны в двух вариантах с и без мета тэгов определяющих кодировку. Навигация осуществляется с помощью графических кнопок и таким образом в этом тексте используется только кириллица.</p>
</div>
     
     <div>
         <p style="font-size:1em" class="btn btn-info">DOWNLOAD FONT</p>
         <p style="font-size:1em" class="btn btn-inverse">VIEW LICENSE</p>
     </div>
     <div>
         <p style="font-size:1em;font-family:'oswald-light';" class="btn btn-info">DOWNLOAD FONT</p>
         <p style="font-size:1em;font-family:'oswald-light';" class="btn btn-inverse">VIEW LICENSE</p>
     </div>
     
 
 </div></div>