<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>F</key>
	<dict>
	    <key>uni020D</key>
	    <integer>-44</integer>
	    <key>ccircumflex</key>
	    <integer>14</integer>
	    <key>agrave</key>
	    <integer>5</integer>
	</dict>
	<key>K</key>
	<dict>
	    <key>uogonek</key>
	    <integer>-30</integer>
	    <key>uni0215</key>
	    <integer>-30</integer>
	    <key>uni020D</key>
	    <integer>-11</integer>
	    <key>umacron</key>
	    <integer>-30</integer>
	    <key>ccircumflex</key>
	    <integer>11</integer>
	    <key>agrave</key>
	    <integer>7</integer>
	</dict>
	<key>T</key>
	<dict>
	    <key>agrave</key>
	    <integer>26</integer>
	</dict>
	<key>V</key>
	<dict>
	    <key>q</key>
	    <integer>-10</integer>
	    <key>period</key>
	    <integer>-28</integer>
	    <key>comma</key>
	    <integer>-24</integer>
	</dict>
	<key>Yacute</key>
	<dict>
	    <key>o</key>
	    <integer>-101</integer>
	</dict>
	<key>afii10017</key>
	<dict>
	    <key>afii10041</key>
	    <integer>-40</integer>
	    <key>afii10036</key>
	    <integer>-17</integer>
	</dict>
	<key>afii10018</key>
	<dict>
	    <key>afii10041</key>
	    <integer>-59</integer>
	</dict>
	<key>afii10034</key>
	<dict>
	    <key>afii10058</key>
	    <integer>-63</integer>
	    <key>afii10029</key>
	    <integer>-107</integer>
	    <key>afii10024</key>
	    <integer>-16</integer>
	    <key>afii10021</key>
	    <integer>-183</integer>
	    <key>afii10017</key>
	    <integer>-38</integer>
	</dict>
	<key>afii10059</key>
	<dict>
	    <key>afii10060</key>
	    <integer>-74</integer>
	    <key>afii10044</key>
	    <integer>-89</integer>
	    <key>afii10041</key>
	    <integer>-125</integer>
	    <key>afii10036</key>
	    <integer>-54</integer>
	</dict>
	<key>afii10066</key>
	<dict>
	    <key>afii10106</key>
	    <integer>-45</integer>
	    <key>afii10077</key>
	    <integer>-27</integer>
	    <key>afii10069</key>
	    <integer>-84</integer>
	</dict>
	<key>afii10067</key>
	<dict>
	    <key>afii10106</key>
	    <integer>-12</integer>
	    <key>afii10089</key>
	    <integer>-14</integer>
	    <key>afii10065</key>
	    <integer>-6</integer>
	</dict>
	<key>afii10069</key>
	<dict>
	    <key>afii10080</key>
	    <integer>-16</integer>
	</dict>
	<key>afii10072</key>
	<dict>
	    <key>afii10080</key>
	    <integer>-22</integer>
	    <key>afii10065</key>
	    <integer>-7</integer>
	</dict>
	<key>afii10080</key>
	<dict>
	    <key>afii10106</key>
	    <integer>-16</integer>
	    <key>afii10084</key>
	    <integer>-18</integer>
	    <key>afii10069</key>
	    <integer>-46</integer>
	</dict>
	<key>afii10084</key>
	<dict>
	    <key>afii10080</key>
	    <integer>-17</integer>
	    <key>afii10077</key>
	    <integer>-102</integer>
	</dict>
	<key>afii10092</key>
	<dict>
	    <key>afii10092</key>
	    <integer>-116</integer>
	    <key>afii10089</key>
	    <integer>-97</integer>
	    <key>afii10084</key>
	    <integer>-66</integer>
	</dict>
	<key>afii10094</key>
	<dict>
	    <key>afii10092</key>
	    <integer>-102</integer>
	    <key>afii10089</key>
	    <integer>-81</integer>
	    <key>afii10084</key>
	    <integer>-100</integer>
	</dict>
	<key>b</key>
	<dict>
	    <key>agrave</key>
	    <integer>5</integer>
	</dict>
	<key>c</key>
	<dict>
	    <key>uni020D</key>
	    <integer>5</integer>
	    <key>ccircumflex</key>
	    <integer>5</integer>
	</dict>
	<key>eacute</key>
	<dict>
	    <key>x</key>
	    <integer>-31</integer>
	</dict>
	<key>ecircumflex</key>
	<dict>
	    <key>x</key>
	    <integer>-31</integer>
	</dict>
	<key>edieresis</key>
	<dict>
	    <key>x</key>
	    <integer>-31</integer>
	</dict>
	<key>egrave</key>
	<dict>
	    <key>x</key>
	    <integer>-31</integer>
	</dict>
	<key>f</key>
	<dict>
	    <key>uogonek</key>
	    <integer>14</integer>
	    <key>uni0215</key>
	    <integer>14</integer>
	    <key>uni020D</key>
	    <integer>-14</integer>
	    <key>umacron</key>
	    <integer>14</integer>
	    <key>egrave</key>
	    <integer>26</integer>
	    <key>ecircumflex</key>
	    <integer>26</integer>
	    <key>eacute</key>
	    <integer>26</integer>
	    <key>ccircumflex</key>
	    <integer>26</integer>
	    <key>ccedilla</key>
	    <integer>26</integer>
	    <key>agrave</key>
	    <integer>14</integer>
	</dict>
	<key>g</key>
	<dict>
	    <key>uogonek</key>
	    <integer>-18</integer>
	    <key>uni0215</key>
	    <integer>-18</integer>
	    <key>uni020D</key>
	    <integer>-18</integer>
	    <key>umacron</key>
	    <integer>-18</integer>
	    <key>ccircumflex</key>
	    <integer>22</integer>
	    <key>agrave</key>
	    <integer>34</integer>
	</dict>
	<key>p</key>
	<dict>
	    <key>agrave</key>
	    <integer>5</integer>
	</dict>
	<key>uni020D</key>
	<dict>
	    <key>x</key>
	    <integer>-52</integer>
	</dict>
	<key>uni0211</key>
	<dict>
	    <key>uni020D</key>
	    <integer>-41</integer>
	    <key>g</key>
	    <integer>-57</integer>
	    <key>d</key>
	    <integer>-41</integer>
	    <key>ccircumflex</key>
	    <integer>-26</integer>
	    <key>ccedilla</key>
	    <integer>-43</integer>
	    <key>c</key>
	    <integer>-43</integer>
	</dict>
	<key>v</key>
	<dict>
	    <key>period</key>
	    <integer>-18</integer>
	    <key>oacute</key>
	    <integer>-26</integer>
	    <key>comma</key>
	    <integer>-21</integer>
	</dict>
	<key>w</key>
	<dict>
	    <key>ocircumflex</key>
	    <integer>-14</integer>
	</dict>
	<key>x</key>
	<dict>
	    <key>uni020F</key>
	    <integer>-44</integer>
	    <key>uni020D</key>
	    <integer>-44</integer>
	    <key>otilde</key>
	    <integer>-44</integer>
	    <key>ograve</key>
	    <integer>-44</integer>
	    <key>odieresis</key>
	    <integer>-44</integer>
	    <key>ocircumflex</key>
	    <integer>-44</integer>
	    <key>oacute</key>
	    <integer>-44</integer>
	    <key>ccircumflex</key>
	    <integer>15</integer>
	    <key>agrave</key>
	    <integer>14</integer>
	</dict>
	<key>z</key>
	<dict>
	    <key>uni020D</key>
	    <integer>-7</integer>
	    <key>ccircumflex</key>
	    <integer>8</integer>
	</dict>
    </dict>
</plist>
