<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-22</integer>
		<key>@MMK_R_W</key>
		<integer>-16</integer>
		<key>@MMK_R_Y</key>
		<integer>-59</integer>
		<key>V</key>
		<integer>-45</integer>
	</dict>
	<key>@MMK_L_D</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_W</key>
		<integer>-10</integer>
		<key>@MMK_R_Y</key>
		<integer>-24</integer>
		<key>V</key>
		<integer>-18</integer>
		<key>comma</key>
		<integer>-16</integer>
		<key>period</key>
		<integer>-16</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>0</integer>
		<key>@MMK_R_c</key>
		<integer>0</integer>
		<key>@MMK_R_g</key>
		<integer>5</integer>
		<key>@MMK_R_o</key>
		<integer>0</integer>
		<key>@MMK_R_s</key>
		<integer>-23</integer>
		<key>comma</key>
		<integer>-71</integer>
		<key>period</key>
		<integer>-54</integer>
	</dict>
	<key>@MMK_L_K</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-16</integer>
		<key>@MMK_R_G</key>
		<integer>-16</integer>
		<key>@MMK_R_O</key>
		<integer>-16</integer>
		<key>@MMK_R_a</key>
		<integer>0</integer>
		<key>@MMK_R_c</key>
		<integer>0</integer>
		<key>@MMK_R_o</key>
		<integer>0</integer>
		<key>@MMK_R_u</key>
		<integer>0</integer>
		<key>Q</key>
		<integer>-16</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-21</integer>
		<key>@MMK_R_G</key>
		<integer>-21</integer>
		<key>@MMK_R_O</key>
		<integer>-21</integer>
		<key>@MMK_R_T</key>
		<integer>-30</integer>
		<key>@MMK_R_W</key>
		<integer>-13</integer>
		<key>@MMK_R_Y</key>
		<integer>-56</integer>
		<key>Q</key>
		<integer>-21</integer>
		<key>V</key>
		<integer>-23</integer>
		<key>quotedbl</key>
		<integer>36</integer>
		<key>quotedblright</key>
		<integer>-14</integer>
		<key>quoteright</key>
		<integer>-14</integer>
		<key>quotesingle</key>
		<integer>36</integer>
	</dict>
	<key>@MMK_L_P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-91</integer>
		<key>@MMK_R_J</key>
		<integer>-30</integer>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>comma</key>
		<integer>-122</integer>
		<key>period</key>
		<integer>-150</integer>
	</dict>
	<key>@MMK_L_R</key>
	<dict>
		<key>@MMK_R_Y</key>
		<integer>-9</integer>
		<key>@MMK_R_a</key>
		<integer>-4</integer>
		<key>V</key>
		<integer>-11</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-62</integer>
		<key>@MMK_R_a</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_W</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-10</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>comma</key>
		<integer>-38</integer>
		<key>period</key>
		<integer>-22</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-15</integer>
		<key>@MMK_R_a</key>
		<integer>-17</integer>
		<key>@MMK_R_c</key>
		<integer>-22</integer>
		<key>@MMK_R_e</key>
		<integer>-22</integer>
		<key>@MMK_R_g</key>
		<integer>-26</integer>
		<key>@MMK_R_o</key>
		<integer>-22</integer>
		<key>@MMK_R_s</key>
		<integer>-24</integer>
		<key>q</key>
		<integer>-18</integer>
	</dict>
	<key>@MMK_L_afii10020</key>
	<dict>
		<key>afii10017</key>
		<integer>-62</integer>
		<key>afii10021</key>
		<integer>-165</integer>
		<key>afii10029</key>
		<integer>-132</integer>
		<key>afii10038</key>
		<integer>-50</integer>
		<key>afii10049</key>
		<integer>-18</integer>
		<key>afii10058</key>
		<integer>-48</integer>
	</dict>
	<key>@MMK_L_afii10037</key>
	<dict>
		<key>afii10021</key>
		<integer>-123</integer>
		<key>afii10029</key>
		<integer>-75</integer>
	</dict>
	<key>@MMK_L_afii10068</key>
	<dict>
		<key>afii10065</key>
		<integer>-14</integer>
		<key>afii10069</key>
		<integer>-126</integer>
		<key>afii10080</key>
		<integer>-17</integer>
	</dict>
	<key>@MMK_L_afii10070</key>
	<dict>
		<key>afii10084</key>
		<integer>-7</integer>
	</dict>
	<key>@MMK_L_afii10076</key>
	<dict>
		<key>@MMK_R_afii10070</key>
		<integer>-8</integer>
		<key>afii10065</key>
		<integer>-9</integer>
		<key>afii10080</key>
		<integer>-6</integer>
		<key>afii10083</key>
		<integer>-6</integer>
		<key>afii10089</key>
		<integer>-15</integer>
		<key>afii10095</key>
		<integer>-13</integer>
		<key>afii10101</key>
		<integer>-9</integer>
	</dict>
	<key>@MMK_L_afii10085</key>
	<dict>
		<key>afii10065</key>
		<integer>-20</integer>
		<key>afii10069</key>
		<integer>-102</integer>
		<key>afii10077</key>
		<integer>-49</integer>
		<key>afii10106</key>
		<integer>-75</integer>
	</dict>
	<key>@MMK_L_b</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>0</integer>
		<key>@MMK_R_b</key>
		<integer>-9</integer>
		<key>@MMK_R_y</key>
		<integer>-12</integer>
		<key>v</key>
		<integer>-7</integer>
	</dict>
	<key>@MMK_L_c</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_d</key>
	<dict>
		<key>@MMK_R_d</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_e</key>
	<dict>
		<key>@MMK_R_w</key>
		<integer>2</integer>
		<key>x</key>
		<integer>-26</integer>
	</dict>
	<key>@MMK_L_f</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>0</integer>
		<key>@MMK_R_c</key>
		<integer>24</integer>
		<key>@MMK_R_e</key>
		<integer>0</integer>
		<key>@MMK_R_f</key>
		<integer>-65</integer>
		<key>@MMK_R_j</key>
		<integer>11</integer>
		<key>@MMK_R_o</key>
		<integer>0</integer>
		<key>@MMK_R_u</key>
		<integer>0</integer>
		<key>ij</key>
		<integer>11</integer>
		<key>quotedblright</key>
		<integer>100</integer>
		<key>quoteright</key>
		<integer>60</integer>
	</dict>
	<key>@MMK_L_g</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>0</integer>
		<key>@MMK_R_c</key>
		<integer>0</integer>
		<key>@MMK_R_d</key>
		<integer>-16</integer>
		<key>@MMK_R_u</key>
		<integer>0</integer>
		<key>oe</key>
		<integer>5</integer>
		<key>q</key>
		<integer>5</integer>
	</dict>
	<key>@MMK_L_h</key>
	<dict>
		<key>@MMK_R_y</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_k</key>
	<dict>
		<key>@MMK_R_e</key>
		<integer>-12</integer>
		<key>@MMK_R_o</key>
		<integer>-12</integer>
	</dict>
	<key>@MMK_L_m</key>
	<dict>
		<key>@MMK_R_y</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_n</key>
	<dict>
		<key>@MMK_R_y</key>
		<integer>-3</integer>
	</dict>
	<key>@MMK_L_o</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_p</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>0</integer>
		<key>@MMK_R_y</key>
		<integer>-14</integer>
		<key>x</key>
		<integer>11</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_c</key>
		<integer>-8</integer>
		<key>@MMK_R_d</key>
		<integer>-8</integer>
		<key>@MMK_R_e</key>
		<integer>-8</integer>
		<key>@MMK_R_g</key>
		<integer>0</integer>
		<key>@MMK_R_o</key>
		<integer>0</integer>
		<key>q</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_w</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>0</integer>
		<key>comma</key>
		<integer>-22</integer>
	</dict>
	<key>@MMK_L_z</key>
	<dict>
		<key>@MMK_R_c</key>
		<integer>0</integer>
		<key>@MMK_R_o</key>
		<integer>0</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>agrave</key>
		<integer>5</integer>
		<key>ccircumflex</key>
		<integer>14</integer>
		<key>uni020D</key>
		<integer>-44</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>agrave</key>
		<integer>7</integer>
		<key>ccircumflex</key>
		<integer>11</integer>
		<key>umacron</key>
		<integer>-30</integer>
		<key>uni020D</key>
		<integer>-11</integer>
		<key>uni0215</key>
		<integer>-30</integer>
		<key>uogonek</key>
		<integer>-30</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>agrave</key>
		<integer>26</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-24</integer>
		<key>@MMK_R_a</key>
		<integer>-14</integer>
		<key>@MMK_R_c</key>
		<integer>-10</integer>
		<key>@MMK_R_e</key>
		<integer>-10</integer>
		<key>@MMK_R_g</key>
		<integer>-11</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_s</key>
		<integer>-13</integer>
		<key>comma</key>
		<integer>-24</integer>
		<key>period</key>
		<integer>-28</integer>
		<key>q</key>
		<integer>-10</integer>
	</dict>
	<key>Yacute</key>
	<dict>
		<key>o</key>
		<integer>-101</integer>
	</dict>
	<key>afii10017</key>
	<dict>
		<key>@MMK_R_afii10037</key>
		<integer>-10</integer>
		<key>afii10036</key>
		<integer>-8</integer>
		<key>afii10041</key>
		<integer>-40</integer>
	</dict>
	<key>afii10018</key>
	<dict>
		<key>@MMK_R_afii10037</key>
		<integer>-26</integer>
		<key>afii10041</key>
		<integer>-59</integer>
	</dict>
	<key>afii10034</key>
	<dict>
		<key>afii10017</key>
		<integer>-22</integer>
		<key>afii10021</key>
		<integer>-171</integer>
		<key>afii10029</key>
		<integer>-92</integer>
		<key>afii10058</key>
		<integer>-37</integer>
	</dict>
	<key>afii10059</key>
	<dict>
		<key>@MMK_R_afii10037</key>
		<integer>-119</integer>
		<key>afii10036</key>
		<integer>-54</integer>
		<key>afii10041</key>
		<integer>-125</integer>
		<key>afii10044</key>
		<integer>-89</integer>
		<key>afii10060</key>
		<integer>-74</integer>
	</dict>
	<key>afii10066</key>
	<dict>
		<key>afii10077</key>
		<integer>-27</integer>
		<key>afii10106</key>
		<integer>-13</integer>
	</dict>
	<key>afii10067</key>
	<dict>
		<key>afii10065</key>
		<integer>-6</integer>
		<key>afii10089</key>
		<integer>-14</integer>
	</dict>
	<key>afii10069</key>
	<dict>
		<key>afii10080</key>
		<integer>-16</integer>
	</dict>
	<key>afii10072</key>
	<dict>
		<key>afii10065</key>
		<integer>-7</integer>
		<key>afii10080</key>
		<integer>-22</integer>
	</dict>
	<key>afii10080</key>
	<dict>
		<key>afii10084</key>
		<integer>-18</integer>
		<key>afii10106</key>
		<integer>-16</integer>
	</dict>
	<key>afii10084</key>
	<dict>
		<key>@MMK_R_afii10070</key>
		<integer>-29</integer>
		<key>afii10077</key>
		<integer>-102</integer>
		<key>afii10080</key>
		<integer>-17</integer>
	</dict>
	<key>afii10092</key>
	<dict>
		<key>@MMK_R_afii10085</key>
		<integer>-55</integer>
		<key>afii10084</key>
		<integer>-66</integer>
		<key>afii10089</key>
		<integer>-97</integer>
		<key>afii10092</key>
		<integer>-91</integer>
	</dict>
	<key>afii10094</key>
	<dict>
		<key>@MMK_R_afii10085</key>
		<integer>-42</integer>
		<key>afii10084</key>
		<integer>-100</integer>
		<key>afii10089</key>
		<integer>-81</integer>
		<key>afii10092</key>
		<integer>-102</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>agrave</key>
		<integer>5</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>ccircumflex</key>
		<integer>5</integer>
		<key>uni020D</key>
		<integer>5</integer>
	</dict>
	<key>eacute</key>
	<dict>
		<key>x</key>
		<integer>-31</integer>
	</dict>
	<key>ecircumflex</key>
	<dict>
		<key>x</key>
		<integer>-31</integer>
	</dict>
	<key>edieresis</key>
	<dict>
		<key>x</key>
		<integer>-31</integer>
	</dict>
	<key>egrave</key>
	<dict>
		<key>x</key>
		<integer>-31</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>agrave</key>
		<integer>14</integer>
		<key>ccedilla</key>
		<integer>26</integer>
		<key>ccircumflex</key>
		<integer>26</integer>
		<key>eacute</key>
		<integer>26</integer>
		<key>ecircumflex</key>
		<integer>26</integer>
		<key>egrave</key>
		<integer>26</integer>
		<key>umacron</key>
		<integer>14</integer>
		<key>uni020D</key>
		<integer>-14</integer>
		<key>uni0215</key>
		<integer>14</integer>
		<key>uogonek</key>
		<integer>14</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>agrave</key>
		<integer>34</integer>
		<key>ccircumflex</key>
		<integer>22</integer>
		<key>umacron</key>
		<integer>-18</integer>
		<key>uni020D</key>
		<integer>-18</integer>
		<key>uni0215</key>
		<integer>-18</integer>
		<key>uogonek</key>
		<integer>-18</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>agrave</key>
		<integer>5</integer>
	</dict>
	<key>uni020D</key>
	<dict>
		<key>x</key>
		<integer>-52</integer>
	</dict>
	<key>uni0211</key>
	<dict>
		<key>c</key>
		<integer>-43</integer>
		<key>ccedilla</key>
		<integer>-43</integer>
		<key>ccircumflex</key>
		<integer>-26</integer>
		<key>d</key>
		<integer>-41</integer>
		<key>g</key>
		<integer>-57</integer>
		<key>uni020D</key>
		<integer>-41</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>0</integer>
		<key>comma</key>
		<integer>-21</integer>
		<key>oacute</key>
		<integer>-26</integer>
		<key>period</key>
		<integer>-18</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>ocircumflex</key>
		<integer>-14</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>0</integer>
		<key>@MMK_R_c</key>
		<integer>-12</integer>
		<key>@MMK_R_e</key>
		<integer>-12</integer>
		<key>@MMK_R_o</key>
		<integer>-12</integer>
		<key>agrave</key>
		<integer>14</integer>
		<key>ccircumflex</key>
		<integer>15</integer>
		<key>oacute</key>
		<integer>-44</integer>
		<key>ocircumflex</key>
		<integer>-44</integer>
		<key>odieresis</key>
		<integer>-44</integer>
		<key>ograve</key>
		<integer>-44</integer>
		<key>otilde</key>
		<integer>-44</integer>
		<key>uni020D</key>
		<integer>-44</integer>
		<key>uni020F</key>
		<integer>-44</integer>
	</dict>
	<key>z</key>
	<dict>
		<key>ccircumflex</key>
		<integer>8</integer>
		<key>uni020D</key>
		<integer>-7</integer>
	</dict>
</dict>
</plist>
