<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>1782</integer>
	<key>capHeight</key>
	<integer>1782</integer>
	<key>descender</key>
	<integer>-374</integer>
	<key>familyName</key>
	<string>Oswald</string>
	<key>italicAngle</key>
	<real>0.0</real>
	<key>openTypeHeadLowestRecPPEM</key>
	<integer>9</integer>
	<key>openTypeHheaAscender</key>
	<integer>2364</integer>
	<key>openTypeHheaDescender</key>
	<integer>-616</integer>
	<key>openTypeHheaLineGap</key>
	<integer>55</integer>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Panose</key>
	<array>
		<integer>2</integer>
		<integer>0</integer>
		<integer>5</integer>
		<integer>6</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>2</integer>
		<integer>0</integer>
		<integer>4</integer>
	</array>
	<key>openTypeOS2StrikeoutPosition</key>
	<integer>632</integer>
	<key>openTypeOS2StrikeoutSize</key>
	<integer>126</integer>
	<key>openTypeOS2SubscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SubscriptXSize</key>
	<integer>10303</integer>
	<key>openTypeOS2SubscriptYOffset</key>
	<integer>2062</integer>
	<key>openTypeOS2SubscriptYSize</key>
	<integer>9563</integer>
	<key>openTypeOS2SuperscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SuperscriptXSize</key>
	<integer>10303</integer>
	<key>openTypeOS2SuperscriptYOffset</key>
	<integer>7020</integer>
	<key>openTypeOS2SuperscriptYSize</key>
	<integer>9563</integer>
	<key>openTypeOS2TypoAscender</key>
	<integer>2650</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-675</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>59</integer>
	<key>openTypeOS2WeightClass</key>
	<integer>611</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>2889</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>-738</integer>
	<key>postscriptBlueFuzz</key>
	<integer>1</integer>
	<key>postscriptBlueScale</key>
	<real>0.0098823697639234612</real>
	<key>postscriptBlueShift</key>
	<integer>-6</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-49</integer>
		<integer>0</integer>
		<integer>1308</integer>
		<integer>1325</integer>
		<integer>1817</integer>
		<integer>1879</integer>
	</array>
	<key>postscriptDefaultWidthX</key>
	<integer>500</integer>
	<key>postscriptFamilyBlues</key>
	<array>
	</array>
	<key>postscriptFamilyOtherBlues</key>
	<array>
	</array>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-387</integer>
		<integer>-385</integer>
	</array>
	<key>postscriptSlantAngle</key>
	<real>0.0</real>
	<key>postscriptStemSnapH</key>
	<array>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-182</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>90</integer>
	<key>postscriptWeightName</key>
	<string>Semi-bold</string>
	<key>styleName</key>
	<string>--0_xx0_78</string>
	<key>unitsPerEm</key>
	<integer>2048</integer>
	<key>xHeight</key>
	<integer>1281</integer>
</dict>
</plist>
