.blanket {
	background-color:white;
	padding:21px;
	margin-bottom:34px;
}

.headerBlanket {
	background-color:#222;
	padding:21px;
	margin-top:55px;
}

body { 
  background: #e7e7e7 url(../images/body-bg.png) 0 0 repeat;
  font-family: 'Pontano Sans', Helvetica, Arial, serif;
  /*text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);*/
  color: #3d3d3d;
}

header {
  padding-top: 21px;
  padding-bottom: 0px;
}

header h1 {
  font-family: 'Oswald', 'Helvetica Neue', Helvetica, Arial, serif; font-weight: 900;
  letter-spacing: -1px;
  font-size: 48px;
  color: #eee;
  line-height: 1.2;
text-transform:uppercase;
}

header h4 {
	color:#eee;
}

#container {
  background: transparent url(../images/highlight-bg.jpg) 50% 0 no-repeat;
  min-height: 595px;
}

#downloads {
  margin-bottom: 40px;
}


#download-zip span {
  background: transparent url(../images/zip-icon.png) 12px 50% no-repeat;
}
#download-tar-gz span {
  background: transparent url(../images/tar-gz-icon.png) 12px 50% no-repeat;
}
#view-on-github span {
  background: transparent url(../images/octocat-icon.png) 12px 50% no-repeat;
}
#view-on-github {
  margin-right: 0;
}

