<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>1800</integer>
	<key>capHeight</key>
	<integer>1800</integer>
	<key>copyright</key>
	<string>Copyright (c) 2011 by vernon adams. All rights reserved.</string>
	<key>descender</key>
	<integer>-371</integer>
	<key>familyName</key>
	<string>Oswald</string>
	<key>italicAngle</key>
	<real>0.0</real>
	<key>macintoshFONDFamilyID</key>
	<integer>128</integer>
	<key>macintoshFONDName</key>
	<string>Oswald</string>
	<key>openTypeHeadLowestRecPPEM</key>
	<integer>9</integer>
	<key>openTypeHheaAscender</key>
	<integer>2398</integer>
	<key>openTypeHheaDescender</key>
	<integer>-643</integer>
	<key>openTypeHheaLineGap</key>
	<integer>52</integer>
	<key>openTypeNameCompatibleFullName</key>
	<string>Oswald Bold</string>
	<key>openTypeNameDescription</key>
	<string>Copyright (c) 2011 by vernon adams. All rights reserved.</string>
	<key>openTypeNameDesigner</key>
	<string>vernon adams</string>
	<key>openTypeNameDesignerURL</key>
	<string>newtypography.co.uk</string>
	<key>openTypeNameLicenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeNameManufacturer</key>
	<string>vernon adams</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Oswald</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Bold</string>
	<key>openTypeNameUniqueID</key>
	<string>vernonadams: Oswald Bold: 2011</string>
	<key>openTypeNameVersion</key>
	<string>Version 1.000</string>
	<key>openTypeOS2CodePageRanges</key>
	<array>
	</array>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Panose</key>
	<array>
		<integer>2</integer>
		<integer>0</integer>
		<integer>5</integer>
		<integer>6</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>2</integer>
		<integer>0</integer>
		<integer>4</integer>
	</array>
	<key>openTypeOS2StrikeoutPosition</key>
	<integer>512</integer>
	<key>openTypeOS2StrikeoutSize</key>
	<integer>102</integer>
	<key>openTypeOS2SubscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SubscriptXSize</key>
	<integer>6015</integer>
	<key>openTypeOS2SubscriptYOffset</key>
	<integer>1204</integer>
	<key>openTypeOS2SubscriptYSize</key>
	<integer>5583</integer>
	<key>openTypeOS2SuperscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SuperscriptXSize</key>
	<integer>6015</integer>
	<key>openTypeOS2SuperscriptYOffset</key>
	<integer>4098</integer>
	<key>openTypeOS2SuperscriptYSize</key>
	<integer>5583</integer>
	<key>openTypeOS2Type</key>
	<array>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>2398</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-643</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2UnicodeRanges</key>
	<array>
	</array>
	<key>openTypeOS2VendorID</key>
	<string>newt</string>
	<key>openTypeOS2WeightClass</key>
	<integer>700</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>2398</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>-643</integer>
	<key>postscriptBlueFuzz</key>
	<integer>1</integer>
	<key>postscriptBlueScale</key>
	<real>-0.00050131022011692256</real>
	<key>postscriptBlueShift</key>
	<integer>-10</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-55</integer>
		<integer>0</integer>
		<integer>1339</integer>
		<integer>1354</integer>
		<integer>1844</integer>
		<integer>1918</integer>
	</array>
	<key>postscriptDefaultWidthX</key>
	<integer>500</integer>
	<key>postscriptFamilyBlues</key>
	<array>
	</array>
	<key>postscriptFamilyOtherBlues</key>
	<array>
	</array>
	<key>postscriptFontName</key>
	<string>Oswald-Bold</string>
	<key>postscriptForceBold</key>
	<false/>
	<key>postscriptFullName</key>
	<string>Oswald Bold</string>
	<key>postscriptIsFixedPitch</key>
	<false/>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-385</integer>
		<integer>-385</integer>
	</array>
	<key>postscriptSlantAngle</key>
	<real>-0.0</real>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>248</integer>
		<integer>184</integer>
		<integer>312</integer>
		<integer>440</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>358</integer>
		<integer>326</integer>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-205</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>102</integer>
	<key>postscriptUniqueID</key>
	<integer>-1</integer>
	<key>postscriptWeightName</key>
	<string>Bold</string>
	<key>postscriptWindowsCharacterSet</key>
	<integer>1</integer>
	<key>styleMapFamilyName</key>
	<string>Oswald</string>
	<key>styleMapStyleName</key>
	<string>bold</string>
	<key>styleName</key>
	<string>Bold</string>
	<key>trademark</key>
	<string>Oswald Bold is a trademark of vernon adams.</string>
	<key>unitsPerEm</key>
	<integer>2048</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>1305</integer>
	<key>year</key>
	<integer>2011</integer>
</dict>
</plist>
