<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.H_Left</key>
	<array>
		<string>H'</string>
		<string>B</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>P</string>
		<string>R</string>
	</array>
	<key>.H_Right</key>
	<array>
		<string>H'</string>
		<string>M</string>
		<string>N</string>
		<string>J</string>
	</array>
	<key>.O_Right</key>
	<array>
		<string>O'</string>
		<string>D</string>
		<string>Q</string>
	</array>
	<key>.O_left</key>
	<array>
		<string>O'</string>
		<string>C</string>
		<string>G</string>
		<string>Q</string>
		<string>OE</string>
	</array>
	<key>.a_dia</key>
	<array>
		<string>a'</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>atilde</string>
		<string>aring</string>
	</array>
	<key>.e_dia</key>
	<array>
		<string>e'</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>oe</string>
	</array>
	<key>.n_Right</key>
	<array>
		<string>n'</string>
		<string>h</string>
		<string>m</string>
	</array>
	<key>.n_left</key>
	<array>
		<string>n'</string>
		<string>m</string>
		<string>r</string>
	</array>
	<key>.o_dia</key>
	<array>
		<string>o'</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>oslash</string>
		<string>uni020D</string>
		<string>uni020F</string>
	</array>
	<key>.o_left</key>
	<array>
		<string>o'</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>q</string>
	</array>
	<key>.o_right</key>
	<array>
		<string>o'</string>
		<string>b</string>
		<string>p</string>
		<string></string>
	</array>
	<key>.u_dia</key>
	<array>
		<string>u'</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uni0215</string>
		<string>uni0217</string>
	</array>
</dict>
</plist>
