<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>Ccedilla</key>
		<integer>-2</integer>
		<key>G</key>
		<integer>-1</integer>
	</dict>
	<key>Aacute</key>
	<dict>
		<key>Ccedilla</key>
		<integer>-2</integer>
		<key>G</key>
		<integer>-1</integer>
	</dict>
	<key>Abreve</key>
	<dict>
		<key>Ccedilla</key>
		<integer>-2</integer>
		<key>G</key>
		<integer>-1</integer>
	</dict>
	<key>Acircumflex</key>
	<dict>
		<key>Ccedilla</key>
		<integer>-2</integer>
		<key>G</key>
		<integer>-1</integer>
	</dict>
	<key>Adieresis</key>
	<dict>
		<key>Ccedilla</key>
		<integer>-2</integer>
		<key>G</key>
		<integer>-1</integer>
	</dict>
	<key>Agrave</key>
	<dict>
		<key>Ccedilla</key>
		<integer>-2</integer>
		<key>G</key>
		<integer>-1</integer>
	</dict>
	<key>Amacron</key>
	<dict>
		<key>Ccedilla</key>
		<integer>-2</integer>
		<key>G</key>
		<integer>-1</integer>
	</dict>
	<key>Aogonek</key>
	<dict>
		<key>Ccedilla</key>
		<integer>-2</integer>
		<key>G</key>
		<integer>-1</integer>
	</dict>
	<key>Aring</key>
	<dict>
		<key>Ccedilla</key>
		<integer>-2</integer>
		<key>G</key>
		<integer>-1</integer>
	</dict>
	<key>Atilde</key>
	<dict>
		<key>Ccedilla</key>
		<integer>-2</integer>
		<key>G</key>
		<integer>-1</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>A</key>
		<integer>-2</integer>
		<key>Aacute</key>
		<integer>-2</integer>
		<key>Abreve</key>
		<integer>-2</integer>
		<key>Acircumflex</key>
		<integer>-2</integer>
		<key>Adieresis</key>
		<integer>-2</integer>
		<key>Agrave</key>
		<integer>-2</integer>
		<key>Amacron</key>
		<integer>-2</integer>
		<key>Aogonek</key>
		<integer>-2</integer>
		<key>Aring</key>
		<integer>-2</integer>
		<key>Atilde</key>
		<integer>-2</integer>
		<key>V</key>
		<integer>-2</integer>
		<key>W</key>
		<integer>-1</integer>
		<key>Y</key>
		<integer>-1</integer>
		<key>Yacute</key>
		<integer>-1</integer>
		<key>Ydieresis</key>
		<integer>-1</integer>
		<key>comma</key>
		<integer>-2</integer>
		<key>period</key>
		<integer>-2</integer>
		<key>uni0202</key>
		<integer>-2</integer>
	</dict>
	<key>Dcaron</key>
	<dict>
		<key>comma</key>
		<integer>-2</integer>
		<key>period</key>
		<integer>-2</integer>
	</dict>
	<key>E</key>
	<dict>
		<key>ccircumflex</key>
		<integer>-4</integer>
		<key>cdotaccent</key>
		<integer>-4</integer>
		<key>ecaron</key>
		<integer>-4</integer>
		<key>g</key>
		<integer>-4</integer>
		<key>gbreve</key>
		<integer>-4</integer>
		<key>gcircumflex</key>
		<integer>-4</integer>
		<key>gdotaccent</key>
		<integer>-4</integer>
		<key>ohungarumlaut</key>
		<integer>-4</integer>
		<key>s</key>
		<integer>-4</integer>
		<key>sacute</key>
		<integer>-4</integer>
		<key>scaron</key>
		<integer>-4</integer>
		<key>scedilla</key>
		<integer>-4</integer>
		<key>scircumflex</key>
		<integer>-4</integer>
	</dict>
	<key>Eacute</key>
	<dict>
		<key>ccircumflex</key>
		<integer>-4</integer>
		<key>cdotaccent</key>
		<integer>-4</integer>
		<key>ecaron</key>
		<integer>-4</integer>
		<key>g</key>
		<integer>-4</integer>
		<key>gbreve</key>
		<integer>-4</integer>
		<key>gcircumflex</key>
		<integer>-4</integer>
		<key>gdotaccent</key>
		<integer>-4</integer>
		<key>ohungarumlaut</key>
		<integer>-4</integer>
		<key>s</key>
		<integer>-4</integer>
		<key>sacute</key>
		<integer>-4</integer>
		<key>scaron</key>
		<integer>-4</integer>
		<key>scedilla</key>
		<integer>-4</integer>
		<key>scircumflex</key>
		<integer>-4</integer>
	</dict>
	<key>Ecaron</key>
	<dict>
		<key>ccircumflex</key>
		<integer>-4</integer>
		<key>cdotaccent</key>
		<integer>-4</integer>
		<key>ecaron</key>
		<integer>-4</integer>
		<key>g</key>
		<integer>-4</integer>
		<key>gbreve</key>
		<integer>-4</integer>
		<key>gcircumflex</key>
		<integer>-4</integer>
		<key>gdotaccent</key>
		<integer>-4</integer>
		<key>ohungarumlaut</key>
		<integer>-4</integer>
		<key>s</key>
		<integer>-4</integer>
		<key>sacute</key>
		<integer>-4</integer>
		<key>scaron</key>
		<integer>-4</integer>
		<key>scedilla</key>
		<integer>-4</integer>
		<key>scircumflex</key>
		<integer>-4</integer>
	</dict>
	<key>Ecircumflex</key>
	<dict>
		<key>ccircumflex</key>
		<integer>-4</integer>
		<key>cdotaccent</key>
		<integer>-4</integer>
		<key>ecaron</key>
		<integer>-4</integer>
		<key>g</key>
		<integer>-4</integer>
		<key>gbreve</key>
		<integer>-4</integer>
		<key>gcircumflex</key>
		<integer>-4</integer>
		<key>gdotaccent</key>
		<integer>-4</integer>
		<key>ohungarumlaut</key>
		<integer>-4</integer>
		<key>s</key>
		<integer>-4</integer>
		<key>sacute</key>
		<integer>-4</integer>
		<key>scaron</key>
		<integer>-4</integer>
		<key>scedilla</key>
		<integer>-4</integer>
		<key>scircumflex</key>
		<integer>-4</integer>
	</dict>
	<key>Edieresis</key>
	<dict>
		<key>ccircumflex</key>
		<integer>-4</integer>
		<key>cdotaccent</key>
		<integer>-4</integer>
		<key>ecaron</key>
		<integer>-4</integer>
		<key>g</key>
		<integer>-4</integer>
		<key>gbreve</key>
		<integer>-4</integer>
		<key>gcircumflex</key>
		<integer>-4</integer>
		<key>gdotaccent</key>
		<integer>-4</integer>
		<key>ohungarumlaut</key>
		<integer>-4</integer>
		<key>s</key>
		<integer>-4</integer>
		<key>sacute</key>
		<integer>-4</integer>
		<key>scaron</key>
		<integer>-4</integer>
		<key>scedilla</key>
		<integer>-4</integer>
		<key>scircumflex</key>
		<integer>-4</integer>
	</dict>
	<key>Egrave</key>
	<dict>
		<key>ccircumflex</key>
		<integer>-4</integer>
		<key>cdotaccent</key>
		<integer>-4</integer>
		<key>ecaron</key>
		<integer>-4</integer>
		<key>g</key>
		<integer>-4</integer>
		<key>gbreve</key>
		<integer>-4</integer>
		<key>gcircumflex</key>
		<integer>-4</integer>
		<key>gdotaccent</key>
		<integer>-4</integer>
		<key>ohungarumlaut</key>
		<integer>-4</integer>
		<key>s</key>
		<integer>-4</integer>
		<key>sacute</key>
		<integer>-4</integer>
		<key>scaron</key>
		<integer>-4</integer>
		<key>scedilla</key>
		<integer>-4</integer>
		<key>scircumflex</key>
		<integer>-4</integer>
	</dict>
	<key>Eogonek</key>
	<dict>
		<key>ccircumflex</key>
		<integer>-4</integer>
		<key>cdotaccent</key>
		<integer>-4</integer>
		<key>ecaron</key>
		<integer>-4</integer>
		<key>g</key>
		<integer>-4</integer>
		<key>gbreve</key>
		<integer>-4</integer>
		<key>gcircumflex</key>
		<integer>-4</integer>
		<key>gdotaccent</key>
		<integer>-4</integer>
		<key>ohungarumlaut</key>
		<integer>-4</integer>
		<key>s</key>
		<integer>-4</integer>
		<key>sacute</key>
		<integer>-4</integer>
		<key>scaron</key>
		<integer>-4</integer>
		<key>scedilla</key>
		<integer>-4</integer>
		<key>scircumflex</key>
		<integer>-4</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>agrave</key>
		<integer>5</integer>
		<key>cacute</key>
		<integer>-4</integer>
		<key>ccaron</key>
		<integer>-4</integer>
		<key>ccedilla</key>
		<integer>-4</integer>
		<key>ccircumflex</key>
		<integer>9</integer>
		<key>cdotaccent</key>
		<integer>-4</integer>
		<key>comma</key>
		<integer>-8</integer>
		<key>ecaron</key>
		<integer>-5</integer>
		<key>g</key>
		<integer>-4</integer>
		<key>gbreve</key>
		<integer>-4</integer>
		<key>gcircumflex</key>
		<integer>-4</integer>
		<key>gdotaccent</key>
		<integer>-4</integer>
		<key>oacute</key>
		<integer>-8</integer>
		<key>ocircumflex</key>
		<integer>-8</integer>
		<key>odieresis</key>
		<integer>-8</integer>
		<key>ograve</key>
		<integer>-8</integer>
		<key>ohungarumlaut</key>
		<integer>-8</integer>
		<key>otilde</key>
		<integer>-8</integer>
		<key>period</key>
		<integer>-8</integer>
		<key>r</key>
		<integer>-2</integer>
		<key>racute</key>
		<integer>-2</integer>
		<key>rcaron</key>
		<integer>-2</integer>
		<key>s</key>
		<integer>-3</integer>
		<key>sacute</key>
		<integer>-4</integer>
		<key>scaron</key>
		<integer>-4</integer>
		<key>scedilla</key>
		<integer>-4</integer>
		<key>scircumflex</key>
		<integer>-4</integer>
		<key>uni020D</key>
		<integer>-40</integer>
		<key>uni020F</key>
		<integer>-8</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>oacute</key>
		<integer>-1</integer>
		<key>ocircumflex</key>
		<integer>-1</integer>
		<key>odieresis</key>
		<integer>-1</integer>
		<key>ograve</key>
		<integer>-1</integer>
		<key>ohungarumlaut</key>
		<integer>-1</integer>
		<key>otilde</key>
		<integer>-1</integer>
		<key>uni020F</key>
		<integer>-1</integer>
	</dict>
	<key>Jcircumflex</key>
	<dict>
		<key>o</key>
		<integer>-1</integer>
		<key>oacute</key>
		<integer>-1</integer>
		<key>ocircumflex</key>
		<integer>-1</integer>
		<key>odieresis</key>
		<integer>-1</integer>
		<key>ograve</key>
		<integer>-1</integer>
		<key>ohungarumlaut</key>
		<integer>-1</integer>
		<key>otilde</key>
		<integer>-1</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>Ohungarumlaut</key>
		<integer>-7</integer>
		<key>agrave</key>
		<integer>6</integer>
		<key>c</key>
		<integer>-4</integer>
		<key>cacute</key>
		<integer>-4</integer>
		<key>ccaron</key>
		<integer>-4</integer>
		<key>ccedilla</key>
		<integer>-4</integer>
		<key>ccircumflex</key>
		<integer>6</integer>
		<key>cdotaccent</key>
		<integer>-4</integer>
		<key>ecaron</key>
		<integer>-5</integer>
		<key>g</key>
		<integer>-4</integer>
		<key>gbreve</key>
		<integer>-4</integer>
		<key>gcircumflex</key>
		<integer>-4</integer>
		<key>gdotaccent</key>
		<integer>-4</integer>
		<key>ohungarumlaut</key>
		<integer>-5</integer>
		<key>s</key>
		<integer>-4</integer>
		<key>sacute</key>
		<integer>-4</integer>
		<key>scaron</key>
		<integer>-4</integer>
		<key>scedilla</key>
		<integer>-4</integer>
		<key>scircumflex</key>
		<integer>-4</integer>
		<key>ubreve</key>
		<integer>-3</integer>
		<key>uhungarumlaut</key>
		<integer>-3</integer>
		<key>umacron</key>
		<integer>-28</integer>
		<key>uni020D</key>
		<integer>-10</integer>
		<key>uni0215</key>
		<integer>-28</integer>
		<key>uogonek</key>
		<integer>-28</integer>
		<key>uring</key>
		<integer>-3</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>Tcaron</key>
		<integer>-8</integer>
		<key>Ubreve</key>
		<integer>-3</integer>
		<key>Uhungarumlaut</key>
		<integer>-3</integer>
		<key>Uring</key>
		<integer>-3</integer>
		<key>ccircumflex</key>
		<integer>-2</integer>
		<key>cdotaccent</key>
		<integer>-2</integer>
		<key>ecaron</key>
		<integer>-2</integer>
		<key>g</key>
		<integer>-2</integer>
		<key>gbreve</key>
		<integer>-2</integer>
		<key>gcircumflex</key>
		<integer>-2</integer>
		<key>gdotaccent</key>
		<integer>-2</integer>
		<key>ohungarumlaut</key>
		<integer>-2</integer>
		<key>quotedblright</key>
		<integer>-9</integer>
		<key>quoteright</key>
		<integer>-10</integer>
		<key>s</key>
		<integer>-2</integer>
		<key>sacute</key>
		<integer>-2</integer>
		<key>scaron</key>
		<integer>-2</integer>
		<key>scedilla</key>
		<integer>-2</integer>
		<key>scircumflex</key>
		<integer>-2</integer>
	</dict>
	<key>Lacute</key>
	<dict>
		<key>Tcaron</key>
		<integer>-8</integer>
		<key>Ubreve</key>
		<integer>-3</integer>
		<key>Uhungarumlaut</key>
		<integer>-3</integer>
		<key>Uring</key>
		<integer>-3</integer>
		<key>ccircumflex</key>
		<integer>-2</integer>
		<key>cdotaccent</key>
		<integer>-2</integer>
		<key>ecaron</key>
		<integer>-2</integer>
		<key>g</key>
		<integer>-2</integer>
		<key>gbreve</key>
		<integer>-2</integer>
		<key>gcircumflex</key>
		<integer>-2</integer>
		<key>gdotaccent</key>
		<integer>-2</integer>
		<key>ohungarumlaut</key>
		<integer>-2</integer>
		<key>s</key>
		<integer>-2</integer>
		<key>sacute</key>
		<integer>-2</integer>
		<key>scaron</key>
		<integer>-2</integer>
		<key>scedilla</key>
		<integer>-2</integer>
		<key>scircumflex</key>
		<integer>-2</integer>
	</dict>
	<key>Lcaron</key>
	<dict>
		<key>Tcaron</key>
		<integer>-8</integer>
		<key>Ubreve</key>
		<integer>-3</integer>
		<key>Uhungarumlaut</key>
		<integer>-3</integer>
		<key>Uring</key>
		<integer>-3</integer>
		<key>ccircumflex</key>
		<integer>-2</integer>
		<key>cdotaccent</key>
		<integer>-2</integer>
		<key>ecaron</key>
		<integer>-2</integer>
		<key>g</key>
		<integer>-2</integer>
		<key>gbreve</key>
		<integer>-2</integer>
		<key>gcircumflex</key>
		<integer>-2</integer>
		<key>gdotaccent</key>
		<integer>-2</integer>
		<key>ohungarumlaut</key>
		<integer>-2</integer>
		<key>s</key>
		<integer>-2</integer>
		<key>sacute</key>
		<integer>-2</integer>
		<key>scaron</key>
		<integer>-2</integer>
		<key>scedilla</key>
		<integer>-2</integer>
		<key>scircumflex</key>
		<integer>-2</integer>
	</dict>
	<key>Ohungarumlaut</key>
	<dict>
		<key>Tcaron</key>
		<integer>-3</integer>
		<key>X</key>
		<integer>-3</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>c</key>
		<integer>-4</integer>
		<key>ocircumflex</key>
		<integer>-5</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>agrave</key>
		<integer>24</integer>
		<key>c</key>
		<integer>-5</integer>
		<key>oacute</key>
		<integer>-10</integer>
	</dict>
	<key>Tcaron</key>
	<dict>
		<key>Ohungarumlaut</key>
		<integer>-4</integer>
		<key>c</key>
		<integer>-8</integer>
		<key>cacute</key>
		<integer>-8</integer>
		<key>ccaron</key>
		<integer>-8</integer>
		<key>ccedilla</key>
		<integer>-8</integer>
		<key>ccircumflex</key>
		<integer>-8</integer>
		<key>cdotaccent</key>
		<integer>-8</integer>
		<key>comma</key>
		<integer>-10</integer>
		<key>ecaron</key>
		<integer>-10</integer>
		<key>g</key>
		<integer>-8</integer>
		<key>gbreve</key>
		<integer>-8</integer>
		<key>gcircumflex</key>
		<integer>-8</integer>
		<key>gdotaccent</key>
		<integer>-8</integer>
		<key>h</key>
		<integer>-2</integer>
		<key>i</key>
		<integer>-2</integer>
		<key>iacute</key>
		<integer>-2</integer>
		<key>icircumflex</key>
		<integer>-2</integer>
		<key>idieresis</key>
		<integer>-2</integer>
		<key>igrave</key>
		<integer>-2</integer>
		<key>o</key>
		<integer>-10</integer>
		<key>oacute</key>
		<integer>-10</integer>
		<key>ocircumflex</key>
		<integer>-10</integer>
		<key>odieresis</key>
		<integer>-10</integer>
		<key>ograve</key>
		<integer>-10</integer>
		<key>ohungarumlaut</key>
		<integer>-10</integer>
		<key>otilde</key>
		<integer>-10</integer>
		<key>period</key>
		<integer>-6</integer>
		<key>r</key>
		<integer>-8</integer>
		<key>racute</key>
		<integer>-8</integer>
		<key>rcaron</key>
		<integer>-8</integer>
		<key>s</key>
		<integer>-8</integer>
		<key>sacute</key>
		<integer>-8</integer>
		<key>scaron</key>
		<integer>-8</integer>
		<key>scedilla</key>
		<integer>-8</integer>
		<key>scircumflex</key>
		<integer>-8</integer>
		<key>ubreve</key>
		<integer>-6</integer>
		<key>uhungarumlaut</key>
		<integer>-6</integer>
		<key>uring</key>
		<integer>-6</integer>
	</dict>
	<key>Tcommaaccent</key>
	<dict>
		<key>c</key>
		<integer>-5</integer>
		<key>oacute</key>
		<integer>-10</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>cacute</key>
		<integer>-8</integer>
		<key>comma</key>
		<integer>-23</integer>
		<key>ocircumflex</key>
		<integer>-7</integer>
		<key>period</key>
		<integer>-26</integer>
		<key>q</key>
		<integer>-11</integer>
	</dict>
	<key>Yacute</key>
	<dict>
		<key>o</key>
		<integer>-93</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>t</key>
		<integer>-2</integer>
		<key>tcaron</key>
		<integer>-2</integer>
	</dict>
	<key>aacute</key>
	<dict>
		<key>t</key>
		<integer>-2</integer>
		<key>tcaron</key>
		<integer>-2</integer>
	</dict>
	<key>abreve</key>
	<dict>
		<key>t</key>
		<integer>-2</integer>
		<key>tcaron</key>
		<integer>-2</integer>
	</dict>
	<key>acircumflex</key>
	<dict>
		<key>t</key>
		<integer>-2</integer>
		<key>tcaron</key>
		<integer>-2</integer>
	</dict>
	<key>adieresis</key>
	<dict>
		<key>t</key>
		<integer>-2</integer>
		<key>tcaron</key>
		<integer>-2</integer>
	</dict>
	<key>afii10017</key>
	<dict>
		<key>afii10036</key>
		<integer>-20</integer>
		<key>afii10041</key>
		<integer>-41</integer>
	</dict>
	<key>afii10018</key>
	<dict>
		<key>afii10041</key>
		<integer>-58</integer>
	</dict>
	<key>afii10034</key>
	<dict>
		<key>afii10017</key>
		<integer>-37</integer>
		<key>afii10021</key>
		<integer>-175</integer>
		<key>afii10024</key>
		<integer>-15</integer>
		<key>afii10029</key>
		<integer>-104</integer>
		<key>afii10058</key>
		<integer>-63</integer>
	</dict>
	<key>afii10059</key>
	<dict>
		<key>afii10036</key>
		<integer>-54</integer>
		<key>afii10041</key>
		<integer>-126</integer>
		<key>afii10044</key>
		<integer>-89</integer>
		<key>afii10060</key>
		<integer>-73</integer>
	</dict>
	<key>afii10066</key>
	<dict>
		<key>afii10069</key>
		<integer>-77</integer>
		<key>afii10077</key>
		<integer>-26</integer>
		<key>afii10106</key>
		<integer>-41</integer>
	</dict>
	<key>afii10067</key>
	<dict>
		<key>afii10065</key>
		<integer>-6</integer>
		<key>afii10077</key>
		<integer>-1</integer>
		<key>afii10089</key>
		<integer>-13</integer>
		<key>afii10106</key>
		<integer>-11</integer>
	</dict>
	<key>afii10069</key>
	<dict>
		<key>afii10080</key>
		<integer>-17</integer>
	</dict>
	<key>afii10072</key>
	<dict>
		<key>afii10065</key>
		<integer>-8</integer>
		<key>afii10080</key>
		<integer>-22</integer>
	</dict>
	<key>afii10080</key>
	<dict>
		<key>afii10069</key>
		<integer>-42</integer>
		<key>afii10072</key>
		<integer>-1</integer>
		<key>afii10077</key>
		<integer>-2</integer>
		<key>afii10084</key>
		<integer>-18</integer>
		<key>afii10106</key>
		<integer>-15</integer>
	</dict>
	<key>afii10084</key>
	<dict>
		<key>afii10077</key>
		<integer>-94</integer>
		<key>afii10080</key>
		<integer>-17</integer>
	</dict>
	<key>afii10092</key>
	<dict>
		<key>afii10084</key>
		<integer>-65</integer>
		<key>afii10089</key>
		<integer>-93</integer>
		<key>afii10092</key>
		<integer>-114</integer>
	</dict>
	<key>afii10094</key>
	<dict>
		<key>afii10084</key>
		<integer>-98</integer>
		<key>afii10089</key>
		<integer>-78</integer>
		<key>afii10092</key>
		<integer>-100</integer>
	</dict>
	<key>agrave</key>
	<dict>
		<key>t</key>
		<integer>-2</integer>
		<key>tcaron</key>
		<integer>-2</integer>
	</dict>
	<key>aogonek</key>
	<dict>
		<key>t</key>
		<integer>-2</integer>
		<key>tcaron</key>
		<integer>-2</integer>
	</dict>
	<key>aring</key>
	<dict>
		<key>t</key>
		<integer>-2</integer>
		<key>tcaron</key>
		<integer>-2</integer>
	</dict>
	<key>atilde</key>
	<dict>
		<key>t</key>
		<integer>-2</integer>
		<key>tcaron</key>
		<integer>-2</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>agrave</key>
		<integer>5</integer>
		<key>j</key>
		<integer>-2</integer>
		<key>jcircumflex</key>
		<integer>-2</integer>
		<key>v</key>
		<integer>-2</integer>
		<key>y</key>
		<integer>-2</integer>
		<key>yacute</key>
		<integer>-2</integer>
		<key>ydieresis</key>
		<integer>-2</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>ccircumflex</key>
		<integer>5</integer>
		<key>j</key>
		<integer>-2</integer>
		<key>jcircumflex</key>
		<integer>-2</integer>
		<key>uni020D</key>
		<integer>5</integer>
	</dict>
	<key>cacute</key>
	<dict>
		<key>j</key>
		<integer>-2</integer>
		<key>jcircumflex</key>
		<integer>-2</integer>
	</dict>
	<key>ccaron</key>
	<dict>
		<key>j</key>
		<integer>-2</integer>
		<key>jcircumflex</key>
		<integer>-2</integer>
	</dict>
	<key>ccedilla</key>
	<dict>
		<key>j</key>
		<integer>-2</integer>
		<key>jcircumflex</key>
		<integer>-2</integer>
	</dict>
	<key>ccircumflex</key>
	<dict>
		<key>j</key>
		<integer>-2</integer>
		<key>jcircumflex</key>
		<integer>-2</integer>
	</dict>
	<key>cdotaccent</key>
	<dict>
		<key>j</key>
		<integer>-2</integer>
		<key>jcircumflex</key>
		<integer>-2</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>d</key>
		<integer>-3</integer>
		<key>dcaron</key>
		<integer>-3</integer>
	</dict>
	<key>dcaron</key>
	<dict>
		<key>d</key>
		<integer>-3</integer>
		<key>dcaron</key>
		<integer>-3</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>j</key>
		<integer>-2</integer>
		<key>jcircumflex</key>
		<integer>-2</integer>
	</dict>
	<key>eacute</key>
	<dict>
		<key>j</key>
		<integer>-2</integer>
		<key>jcircumflex</key>
		<integer>-2</integer>
		<key>x</key>
		<integer>-32</integer>
	</dict>
	<key>ecaron</key>
	<dict>
		<key>j</key>
		<integer>-2</integer>
		<key>jcircumflex</key>
		<integer>-2</integer>
		<key>x</key>
		<integer>-4</integer>
	</dict>
	<key>ecircumflex</key>
	<dict>
		<key>j</key>
		<integer>-2</integer>
		<key>jcircumflex</key>
		<integer>-2</integer>
		<key>x</key>
		<integer>-32</integer>
	</dict>
	<key>edieresis</key>
	<dict>
		<key>j</key>
		<integer>-2</integer>
		<key>jcircumflex</key>
		<integer>-2</integer>
		<key>x</key>
		<integer>-32</integer>
	</dict>
	<key>egrave</key>
	<dict>
		<key>j</key>
		<integer>-2</integer>
		<key>jcircumflex</key>
		<integer>-2</integer>
		<key>x</key>
		<integer>-32</integer>
	</dict>
	<key>eogonek</key>
	<dict>
		<key>j</key>
		<integer>-2</integer>
		<key>jcircumflex</key>
		<integer>-2</integer>
		<key>x</key>
		<integer>-4</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>agrave</key>
		<integer>13</integer>
		<key>ccedilla</key>
		<integer>24</integer>
		<key>ccircumflex</key>
		<integer>24</integer>
		<key>comma</key>
		<integer>-3</integer>
		<key>eacute</key>
		<integer>24</integer>
		<key>ecaron</key>
		<integer>-1</integer>
		<key>ecircumflex</key>
		<integer>24</integer>
		<key>egrave</key>
		<integer>24</integer>
		<key>f</key>
		<integer>-3</integer>
		<key>iacute</key>
		<integer>-1</integer>
		<key>icircumflex</key>
		<integer>-1</integer>
		<key>idieresis</key>
		<integer>-1</integer>
		<key>igrave</key>
		<integer>-1</integer>
		<key>oacute</key>
		<integer>-1</integer>
		<key>ocircumflex</key>
		<integer>-1</integer>
		<key>odieresis</key>
		<integer>-1</integer>
		<key>ograve</key>
		<integer>-1</integer>
		<key>ohungarumlaut</key>
		<integer>-1</integer>
		<key>otilde</key>
		<integer>-1</integer>
		<key>period</key>
		<integer>-2</integer>
		<key>umacron</key>
		<integer>13</integer>
		<key>uni020D</key>
		<integer>-13</integer>
		<key>uni020F</key>
		<integer>-1</integer>
		<key>uni0215</key>
		<integer>13</integer>
		<key>uogonek</key>
		<integer>13</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>agrave</key>
		<integer>31</integer>
		<key>ccircumflex</key>
		<integer>20</integer>
		<key>ecaron</key>
		<integer>-1</integer>
		<key>g</key>
		<integer>-1</integer>
		<key>oacute</key>
		<integer>-1</integer>
		<key>ocircumflex</key>
		<integer>-1</integer>
		<key>odieresis</key>
		<integer>-1</integer>
		<key>ograve</key>
		<integer>-1</integer>
		<key>ohungarumlaut</key>
		<integer>-1</integer>
		<key>otilde</key>
		<integer>-1</integer>
		<key>umacron</key>
		<integer>-17</integer>
		<key>uni020D</key>
		<integer>-17</integer>
		<key>uni020F</key>
		<integer>-1</integer>
		<key>uni0215</key>
		<integer>-17</integer>
		<key>uogonek</key>
		<integer>-17</integer>
	</dict>
	<key>gbreve</key>
	<dict>
		<key>ecaron</key>
		<integer>-1</integer>
		<key>o</key>
		<integer>-1</integer>
		<key>oacute</key>
		<integer>-1</integer>
		<key>ocircumflex</key>
		<integer>-1</integer>
		<key>odieresis</key>
		<integer>-1</integer>
		<key>ograve</key>
		<integer>-1</integer>
		<key>ohungarumlaut</key>
		<integer>-1</integer>
		<key>otilde</key>
		<integer>-1</integer>
	</dict>
	<key>gcircumflex</key>
	<dict>
		<key>ecaron</key>
		<integer>-1</integer>
		<key>o</key>
		<integer>-1</integer>
		<key>oacute</key>
		<integer>-1</integer>
		<key>ocircumflex</key>
		<integer>-1</integer>
		<key>odieresis</key>
		<integer>-1</integer>
		<key>ograve</key>
		<integer>-1</integer>
		<key>ohungarumlaut</key>
		<integer>-1</integer>
		<key>otilde</key>
		<integer>-1</integer>
	</dict>
	<key>gdotaccent</key>
	<dict>
		<key>ecaron</key>
		<integer>-1</integer>
		<key>o</key>
		<integer>-1</integer>
		<key>oacute</key>
		<integer>-1</integer>
		<key>ocircumflex</key>
		<integer>-1</integer>
		<key>odieresis</key>
		<integer>-1</integer>
		<key>ograve</key>
		<integer>-1</integer>
		<key>ohungarumlaut</key>
		<integer>-1</integer>
		<key>otilde</key>
		<integer>-1</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>y</key>
		<integer>-1</integer>
		<key>yacute</key>
		<integer>-1</integer>
		<key>ydieresis</key>
		<integer>-1</integer>
	</dict>
	<key>ohungarumlaut</key>
	<dict>
		<key>g</key>
		<integer>-1</integer>
		<key>gbreve</key>
		<integer>-1</integer>
		<key>gcircumflex</key>
		<integer>-1</integer>
		<key>gdotaccent</key>
		<integer>-1</integer>
		<key>j</key>
		<integer>-2</integer>
		<key>jcircumflex</key>
		<integer>-2</integer>
		<key>x</key>
		<integer>-2</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>agrave</key>
		<integer>5</integer>
		<key>j</key>
		<integer>-3</integer>
		<key>jcircumflex</key>
		<integer>-3</integer>
		<key>v</key>
		<integer>-2</integer>
		<key>y</key>
		<integer>-1</integer>
		<key>yacute</key>
		<integer>-1</integer>
		<key>ydieresis</key>
		<integer>-1</integer>
	</dict>
	<key>quoteright</key>
	<dict>
		<key>d</key>
		<integer>-4</integer>
		<key>dcaron</key>
		<integer>-4</integer>
	</dict>
	<key>racute</key>
	<dict>
		<key>comma</key>
		<integer>-6</integer>
		<key>g</key>
		<integer>-1</integer>
		<key>gbreve</key>
		<integer>-1</integer>
		<key>gcircumflex</key>
		<integer>-1</integer>
		<key>gdotaccent</key>
		<integer>-1</integer>
		<key>period</key>
		<integer>-2</integer>
		<key>r</key>
		<integer>-1</integer>
		<key>racute</key>
		<integer>-1</integer>
		<key>rcaron</key>
		<integer>-1</integer>
	</dict>
	<key>uni0202</key>
	<dict>
		<key>Ccedilla</key>
		<integer>-2</integer>
		<key>G</key>
		<integer>-1</integer>
	</dict>
	<key>uni020D</key>
	<dict>
		<key>x</key>
		<integer>-48</integer>
	</dict>
	<key>uni0211</key>
	<dict>
		<key>c</key>
		<integer>-40</integer>
		<key>ccedilla</key>
		<integer>-40</integer>
		<key>ccircumflex</key>
		<integer>-24</integer>
		<key>d</key>
		<integer>-38</integer>
		<key>g</key>
		<integer>-52</integer>
		<key>uni020D</key>
		<integer>-38</integer>
	</dict>
	<key>uni021A</key>
	<dict>
		<key>c</key>
		<integer>-5</integer>
		<key>oacute</key>
		<integer>-10</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>ccaron</key>
		<integer>-4</integer>
		<key>comma</key>
		<integer>-19</integer>
		<key>oacute</key>
		<integer>-24</integer>
		<key>period</key>
		<integer>-17</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>eogonek</key>
		<integer>-1</integer>
		<key>ocircumflex</key>
		<integer>-13</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>agrave</key>
		<integer>13</integer>
		<key>ccircumflex</key>
		<integer>14</integer>
		<key>ecaron</key>
		<integer>-1</integer>
		<key>oacute</key>
		<integer>-40</integer>
		<key>ocircumflex</key>
		<integer>-40</integer>
		<key>odieresis</key>
		<integer>-40</integer>
		<key>ograve</key>
		<integer>-40</integer>
		<key>otilde</key>
		<integer>-40</integer>
		<key>uni020D</key>
		<integer>-40</integer>
		<key>uni020F</key>
		<integer>-40</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>ccaron</key>
		<integer>-4</integer>
		<key>uni020F</key>
		<integer>-2</integer>
	</dict>
	<key>yacute</key>
	<dict>
		<key>ccaron</key>
		<integer>-4</integer>
		<key>uni020F</key>
		<integer>-2</integer>
	</dict>
	<key>ydieresis</key>
	<dict>
		<key>ccaron</key>
		<integer>-4</integer>
		<key>uni020F</key>
		<integer>-2</integer>
	</dict>
	<key>z</key>
	<dict>
		<key>ccircumflex</key>
		<integer>7</integer>
		<key>uni020D</key>
		<integer>-6</integer>
	</dict>
</dict>
</plist>
