<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>1666</integer>
	<key>capHeight</key>
	<integer>1670</integer>
	<key>descender</key>
	<integer>-487</integer>
	<key>familyName</key>
	<string>Oswald Thin</string>
	<key>italicAngle</key>
	<real>0.0</real>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>2134</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-194</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>2405</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>596</integer>
	<key>postscriptBlueScale</key>
	<real>0.03392</real>
	<key>postscriptBlueShift</key>
	<integer>0</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-26</integer>
		<integer>0</integer>
		<integer>1110</integer>
		<integer>1136</integer>
		<integer>1595</integer>
		<integer>1618</integer>
	</array>
	<key>postscriptFullName</key>
	<string>Oswald Thin medium</string>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-365</integer>
		<integer>-357</integer>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-36</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>11</integer>
	<key>postscriptWeightName</key>
	<string>Normal</string>
	<key>styleName</key>
	<string>medium</string>
	<key>unitsPerEm</key>
	<integer>2059</integer>
	<key>xHeight</key>
	<integer>1171</integer>
</dict>
</plist>
