<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.H_Left</key>
	<array>
		<string>H'</string>
		<string>B</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>P</string>
		<string>R</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Ntilde</string>
		<string>Thorn</string>
		<string>Hcircumflex</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Nacute</string>
		<string>Rcommaaccent</string>
		<string>IJ</string>
		<string>DZ</string>
		<string>Dz</string>
	</array>
	<key>.H_Right</key>
	<array>
		<string>H'</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>Hcircumflex</string>
		<string>Nacute</string>
	</array>
	<key>.O_Right</key>
	<array>
		<string>O'</string>
		<string>D</string>
		<string>Q</string>
		<string>Eth</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Oslash</string>
	</array>
	<key>.O_left</key>
	<array>
		<string>O'</string>
		<string>C</string>
		<string>G</string>
		<string>Q</string>
		<string>Ccedilla</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Oslash</string>
		<string>Ccircumflex</string>
	</array>
	<key>.n_Left</key>
	<array>
		<string>n'</string>
		<string>b</string>
		<string>h</string>
		<string>k</string>
		<string>m</string>
		<string>p</string>
		<string>r</string>
		<string>ntilde</string>
		<string>thorn</string>
		<string>rcaron</string>
		<string>nacute</string>
		<string>kgreenlandic</string>
		<string>kcommaaccent</string>
	</array>
	<key>.n_Right</key>
	<array>
		<string>n'</string>
		<string>h</string>
		<string>m</string>
		<string>ntilde</string>
		<string>nacute</string>
		<string>hbar</string>
	</array>
	<key>.o_Left</key>
	<array>
		<string>o'</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>q</string>
		<string>ccedilla</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>oslash</string>
		<string>cdieresis</string>
		<string>ccircumflex</string>
		<string>oe</string>
	</array>
	<key>.o_Right</key>
	<array>
		<string>o'</string>
		<string>b</string>
		<string>p</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>oslash</string>
	</array>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>a</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
		<string>AE</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>c</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>OE</string>
		<string>oe</string>
	</array>
	<key>@MMK_L_I</key>
	<array>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>dotlessi</string>
		<string>i</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>uni020B</string>
	</array>
	<key>@MMK_L_J</key>
	<array>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>j</string>
		<string>jcircumflex</string>
		<string>dotlessj</string>
	</array>
	<key>@MMK_L_N</key>
	<array>
		<string>N</string>
		<string>Nacute</string>
		<string>Ntilde</string>
		<string>n</string>
		<string>nacute</string>
		<string>ntilde</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Otilde</string>
		<string>uni020C</string>
		<string>uni020E</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>otilde</string>
		<string>uni020D</string>
		<string>uni020F</string>
		<string>q</string>
		<string>Q</string>
	</array>
	<key>@MMK_L_R</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>uni0210</string>
		<string>uni0212</string>
		<string>r</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>uni0211</string>
		<string>uni0213</string>
	</array>
	<key>@MMK_L_S</key>
	<array>
		<string>S</string>
		<string>Scaron</string>
		<string>s</string>
		<string>scaron</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>uni0214</string>
		<string>uni0216</string>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>umacron</string>
		<string>uni0215</string>
		<string>uni0217</string>
		<string>uogonek</string>
	</array>
	<key>@MMK_L_VW</key>
	<array>
		<string>V</string>
		<string>W</string>
		<string>v</string>
		<string>w</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_L_Z</key>
	<array>
		<string>Z</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>z</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>a</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
	</array>
	<key>@MMK_R_C</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>c</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
	</array>
	<key>@MMK_R_E</key>
	<array>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
	</array>
	<key>@MMK_R_I</key>
	<array>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>i</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>uni020B</string>
	</array>
	<key>@MMK_R_J</key>
	<array>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>j</string>
		<string>jcircumflex</string>
	</array>
	<key>@MMK_R_N</key>
	<array>
		<string>N</string>
		<string>Nacute</string>
		<string>Ntilde</string>
		<string>n</string>
		<string>nacute</string>
		<string>ntilde</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Otilde</string>
		<string>uni020C</string>
		<string>uni020E</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>otilde</string>
		<string>uni020D</string>
		<string>uni020F</string>
		<string>q</string>
		<string>Q</string>
	</array>
	<key>@MMK_R_R</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>uni0210</string>
		<string>uni0212</string>
		<string>r</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>uni0211</string>
		<string>uni0213</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>S</string>
		<string>Scaron</string>
		<string>s</string>
		<string>scaron</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>uni0214</string>
		<string>uni0216</string>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>umacron</string>
		<string>uni0215</string>
		<string>uni0217</string>
		<string>uogonek</string>
	</array>
	<key>@MMK_R_VW</key>
	<array>
		<string>V</string>
		<string>W</string>
		<string>v</string>
		<string>w</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_R_Z</key>
	<array>
		<string>Z</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>z</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
</dict>
</plist>
