<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-29</integer>
		<key>@MMK_R_O</key>
		<integer>-29</integer>
		<key>@MMK_R_S</key>
		<integer>-10</integer>
		<key>@MMK_R_U</key>
		<integer>-15</integer>
		<key>@MMK_R_VW</key>
		<integer>0</integer>
		<key>@MMK_R_Y</key>
		<integer>-90</integer>
		<key>G</key>
		<integer>-29</integer>
		<key>T</key>
		<integer>-103</integer>
		<key>V</key>
		<integer>-79</integer>
		<key>W</key>
		<integer>-49</integer>
		<key>Yacute</key>
		<integer>-84</integer>
		<key>c</key>
		<integer>0</integer>
		<key>ccedilla</key>
		<integer>-19</integer>
		<key>ccircumflex</key>
		<integer>-19</integer>
		<key>g</key>
		<integer>-29</integer>
		<key>p</key>
		<integer>-5</integer>
		<key>quotedblright</key>
		<integer>-136</integer>
		<key>quoteright</key>
		<integer>-74</integer>
		<key>t</key>
		<integer>-88</integer>
		<key>uacute</key>
		<integer>-9</integer>
		<key>v</key>
		<integer>-77</integer>
		<key>w</key>
		<integer>-67</integer>
		<key>y</key>
		<integer>-97</integer>
		<key>yacute</key>
		<integer>-97</integer>
		<key>ydieresis</key>
		<integer>-95</integer>
	</dict>
	<key>@MMK_L_C</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-3</integer>
		<key>@MMK_R_Y</key>
		<integer>8</integer>
		<key>a</key>
		<integer>-6</integer>
		<key>aacute</key>
		<integer>-6</integer>
		<key>acircumflex</key>
		<integer>-6</integer>
		<key>adieresis</key>
		<integer>-6</integer>
		<key>agrave</key>
		<integer>-6</integer>
		<key>aring</key>
		<integer>-6</integer>
		<key>atilde</key>
		<integer>-6</integer>
		<key>y</key>
		<integer>-33</integer>
		<key>yacute</key>
		<integer>-33</integer>
		<key>ydieresis</key>
		<integer>-33</integer>
	</dict>
	<key>@MMK_L_J</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-15</integer>
		<key>@MMK_R_VW</key>
		<integer>0</integer>
		<key>@MMK_R_Y</key>
		<integer>-23</integer>
		<key>T</key>
		<integer>-23</integer>
		<key>V</key>
		<integer>-12</integer>
		<key>W</key>
		<integer>-18</integer>
		<key>X</key>
		<integer>-26</integer>
		<key>t</key>
		<integer>-23</integer>
		<key>v</key>
		<integer>-12</integer>
		<key>w</key>
		<integer>-23</integer>
		<key>x</key>
		<integer>-45</integer>
	</dict>
	<key>@MMK_L_R</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>0</integer>
		<key>@MMK_R_U</key>
		<integer>0</integer>
		<key>@MMK_R_VW</key>
		<integer>0</integer>
		<key>@MMK_R_Y</key>
		<integer>0</integer>
		<key>T</key>
		<integer>0</integer>
		<key>t</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_S</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-7</integer>
		<key>@MMK_R_VW</key>
		<integer>0</integer>
		<key>@MMK_R_Y</key>
		<integer>-25</integer>
		<key>T</key>
		<integer>-30</integer>
		<key>V</key>
		<integer>-9</integer>
		<key>period</key>
		<integer>-8</integer>
		<key>t</key>
		<integer>-30</integer>
		<key>v</key>
		<integer>-9</integer>
	</dict>
	<key>@MMK_L_U</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-27</integer>
	</dict>
	<key>@MMK_L_VW</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-72</integer>
		<key>@MMK_R_C</key>
		<integer>-27</integer>
		<key>@MMK_R_E</key>
		<integer>-15</integer>
		<key>@MMK_R_O</key>
		<integer>-45</integer>
		<key>@MMK_R_U</key>
		<integer>-16</integer>
		<key>@MMK_R_Y</key>
		<integer>-12</integer>
		<key>G</key>
		<integer>-19</integer>
		<key>colon</key>
		<integer>-9</integer>
		<key>comma</key>
		<integer>-13</integer>
		<key>d</key>
		<integer>-7</integer>
		<key>g</key>
		<integer>-16</integer>
		<key>h</key>
		<integer>-5</integer>
		<key>hyphen</key>
		<integer>-11</integer>
		<key>oe</key>
		<integer>-7</integer>
		<key>oslash</key>
		<integer>-7</integer>
		<key>period</key>
		<integer>-13</integer>
		<key>semicolon</key>
		<integer>-9</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-76</integer>
		<key>@MMK_R_C</key>
		<integer>0</integer>
		<key>@MMK_R_E</key>
		<integer>0</integer>
		<key>@MMK_R_O</key>
		<integer>-15</integer>
		<key>@MMK_R_S</key>
		<integer>-23</integer>
		<key>@MMK_R_U</key>
		<integer>0</integer>
		<key>c</key>
		<integer>-11</integer>
		<key>ccedilla</key>
		<integer>-11</integer>
		<key>ccircumflex</key>
		<integer>-11</integer>
		<key>d</key>
		<integer>-11</integer>
		<key>e</key>
		<integer>-51</integer>
		<key>eacute</key>
		<integer>-51</integer>
		<key>ecircumflex</key>
		<integer>-51</integer>
		<key>edieresis</key>
		<integer>-51</integer>
		<key>egrave</key>
		<integer>-51</integer>
		<key>oe</key>
		<integer>-11</integer>
		<key>oslash</key>
		<integer>-11</integer>
		<key>q</key>
		<integer>-11</integer>
		<key>semicolon</key>
		<integer>-8</integer>
		<key>u</key>
		<integer>-31</integer>
		<key>uacute</key>
		<integer>-31</integer>
		<key>ucircumflex</key>
		<integer>-31</integer>
		<key>udieresis</key>
		<integer>-31</integer>
		<key>ugrave</key>
		<integer>-31</integer>
		<key>umacron</key>
		<integer>-31</integer>
		<key>uni0215</key>
		<integer>-31</integer>
		<key>uni0217</key>
		<integer>-31</integer>
		<key>uogonek</key>
		<integer>-31</integer>
	</dict>
	<key>Aacute</key>
	<dict>
		<key>T</key>
		<integer>-100</integer>
		<key>V</key>
		<integer>-75</integer>
		<key>W</key>
		<integer>-71</integer>
		<key>t</key>
		<integer>-100</integer>
		<key>v</key>
		<integer>-75</integer>
		<key>w</key>
		<integer>-71</integer>
		<key>y</key>
		<integer>-78</integer>
	</dict>
	<key>Acircumflex</key>
	<dict>
		<key>T</key>
		<integer>-100</integer>
		<key>V</key>
		<integer>-75</integer>
		<key>W</key>
		<integer>-71</integer>
		<key>t</key>
		<integer>-100</integer>
		<key>v</key>
		<integer>-75</integer>
		<key>w</key>
		<integer>-71</integer>
		<key>y</key>
		<integer>-78</integer>
	</dict>
	<key>Adieresis</key>
	<dict>
		<key>T</key>
		<integer>-100</integer>
		<key>V</key>
		<integer>-75</integer>
		<key>W</key>
		<integer>-71</integer>
		<key>t</key>
		<integer>-100</integer>
		<key>v</key>
		<integer>-75</integer>
		<key>w</key>
		<integer>-71</integer>
		<key>y</key>
		<integer>-78</integer>
	</dict>
	<key>Agrave</key>
	<dict>
		<key>T</key>
		<integer>-100</integer>
		<key>V</key>
		<integer>-75</integer>
		<key>W</key>
		<integer>-71</integer>
		<key>t</key>
		<integer>-100</integer>
		<key>v</key>
		<integer>-75</integer>
		<key>w</key>
		<integer>-71</integer>
		<key>y</key>
		<integer>-78</integer>
	</dict>
	<key>Aring</key>
	<dict>
		<key>T</key>
		<integer>-100</integer>
		<key>V</key>
		<integer>-75</integer>
		<key>W</key>
		<integer>-71</integer>
		<key>t</key>
		<integer>-100</integer>
		<key>v</key>
		<integer>-75</integer>
		<key>w</key>
		<integer>-71</integer>
		<key>y</key>
		<integer>-78</integer>
	</dict>
	<key>Atilde</key>
	<dict>
		<key>T</key>
		<integer>-100</integer>
		<key>V</key>
		<integer>-75</integer>
		<key>W</key>
		<integer>-71</integer>
		<key>t</key>
		<integer>-100</integer>
		<key>v</key>
		<integer>-75</integer>
		<key>w</key>
		<integer>-71</integer>
		<key>y</key>
		<integer>-78</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-22</integer>
		<key>@MMK_R_U</key>
		<integer>-15</integer>
		<key>a</key>
		<integer>-21</integer>
		<key>aacute</key>
		<integer>-21</integer>
		<key>acircumflex</key>
		<integer>-21</integer>
		<key>adieresis</key>
		<integer>-21</integer>
		<key>agrave</key>
		<integer>-21</integer>
		<key>aring</key>
		<integer>-21</integer>
		<key>atilde</key>
		<integer>-21</integer>
		<key>comma</key>
		<integer>-49</integer>
		<key>period</key>
		<integer>-39</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-21</integer>
		<key>@MMK_R_VW</key>
		<integer>-16</integer>
		<key>@MMK_R_Y</key>
		<integer>-35</integer>
		<key>W</key>
		<integer>-13</integer>
		<key>X</key>
		<integer>-11</integer>
		<key>comma</key>
		<integer>-43</integer>
		<key>period</key>
		<integer>-63</integer>
		<key>w</key>
		<integer>-13</integer>
		<key>x</key>
		<integer>-6</integer>
		<key>y</key>
		<integer>-12</integer>
		<key>yacute</key>
		<integer>-12</integer>
		<key>ydieresis</key>
		<integer>-12</integer>
	</dict>
	<key>Eth</key>
	<dict>
		<key>X</key>
		<integer>-6</integer>
		<key>x</key>
		<integer>-6</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-93</integer>
		<key>@MMK_R_C</key>
		<integer>0</integer>
		<key>@MMK_R_E</key>
		<integer>0</integer>
		<key>@MMK_R_O</key>
		<integer>0</integer>
		<key>a</key>
		<integer>-79</integer>
		<key>aacute</key>
		<integer>-26</integer>
		<key>acircumflex</key>
		<integer>-26</integer>
		<key>adieresis</key>
		<integer>-26</integer>
		<key>agrave</key>
		<integer>-29</integer>
		<key>aring</key>
		<integer>-26</integer>
		<key>atilde</key>
		<integer>-26</integer>
		<key>c</key>
		<integer>-14</integer>
		<key>ccedilla</key>
		<integer>-14</integer>
		<key>ccircumflex</key>
		<integer>-14</integer>
		<key>comma</key>
		<integer>-194</integer>
		<key>e</key>
		<integer>-27</integer>
		<key>eacute</key>
		<integer>-27</integer>
		<key>ecircumflex</key>
		<integer>-27</integer>
		<key>edieresis</key>
		<integer>-27</integer>
		<key>egrave</key>
		<integer>-27</integer>
		<key>o</key>
		<integer>-29</integer>
		<key>oacute</key>
		<integer>-29</integer>
		<key>ocircumflex</key>
		<integer>-29</integer>
		<key>odieresis</key>
		<integer>-29</integer>
		<key>ograve</key>
		<integer>-29</integer>
		<key>otilde</key>
		<integer>-29</integer>
		<key>q</key>
		<integer>-29</integer>
		<key>uni020D</key>
		<integer>-29</integer>
		<key>uni020F</key>
		<integer>-29</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-34</integer>
		<key>@MMK_R_VW</key>
		<integer>-116</integer>
		<key>@MMK_R_Y</key>
		<integer>-139</integer>
		<key>T</key>
		<integer>-109</integer>
		<key>W</key>
		<integer>-112</integer>
		<key>quotedbl</key>
		<integer>-82</integer>
		<key>quotedblright</key>
		<integer>-107</integer>
		<key>quoteright</key>
		<integer>-97</integer>
		<key>quotesingle</key>
		<integer>-92</integer>
		<key>t</key>
		<integer>-100</integer>
		<key>w</key>
		<integer>-109</integer>
		<key>yacute</key>
		<integer>-132</integer>
		<key>ydieresis</key>
		<integer>-133</integer>
	</dict>
	<key>Oslash</key>
	<dict>
		<key>X</key>
		<integer>-6</integer>
		<key>x</key>
		<integer>-6</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-102</integer>
		<key>@MMK_R_E</key>
		<integer>0</integer>
		<key>@MMK_R_O</key>
		<integer>0</integer>
		<key>@MMK_R_R</key>
		<integer>-10</integer>
		<key>aacute</key>
		<integer>-106</integer>
		<key>acircumflex</key>
		<integer>-106</integer>
		<key>adieresis</key>
		<integer>-106</integer>
		<key>agrave</key>
		<integer>-106</integer>
		<key>aring</key>
		<integer>-106</integer>
		<key>atilde</key>
		<integer>-106</integer>
		<key>comma</key>
		<integer>-410</integer>
		<key>e</key>
		<integer>-22</integer>
		<key>eacute</key>
		<integer>-22</integer>
		<key>ecircumflex</key>
		<integer>-22</integer>
		<key>edieresis</key>
		<integer>-22</integer>
		<key>egrave</key>
		<integer>-22</integer>
		<key>o</key>
		<integer>-22</integer>
		<key>oacute</key>
		<integer>-22</integer>
		<key>ocircumflex</key>
		<integer>-22</integer>
		<key>odieresis</key>
		<integer>-22</integer>
		<key>ograve</key>
		<integer>-9</integer>
		<key>otilde</key>
		<integer>-22</integer>
		<key>period</key>
		<integer>-460</integer>
		<key>uni020D</key>
		<integer>-22</integer>
		<key>uni020F</key>
		<integer>-22</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>X</key>
		<integer>-6</integer>
		<key>x</key>
		<integer>-6</integer>
	</dict>
	<key>Rcommaaccent</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-1</integer>
		<key>@MMK_R_U</key>
		<integer>-9</integer>
		<key>T</key>
		<integer>-24</integer>
		<key>V</key>
		<integer>-12</integer>
		<key>W</key>
		<integer>-4</integer>
		<key>Y</key>
		<integer>-16</integer>
		<key>Yacute</key>
		<integer>-16</integer>
		<key>o</key>
		<integer>-1</integer>
		<key>t</key>
		<integer>-24</integer>
		<key>u</key>
		<integer>-9</integer>
		<key>v</key>
		<integer>-12</integer>
		<key>w</key>
		<integer>-4</integer>
		<key>y</key>
		<integer>-16</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-74</integer>
		<key>@MMK_R_C</key>
		<integer>-30</integer>
		<key>@MMK_R_E</key>
		<integer>0</integer>
		<key>@MMK_R_O</key>
		<integer>-27</integer>
		<key>@MMK_R_R</key>
		<integer>0</integer>
		<key>@MMK_R_U</key>
		<integer>0</integer>
		<key>@MMK_R_VW</key>
		<integer>10</integer>
		<key>@MMK_R_Y</key>
		<integer>0</integer>
		<key>Aacute</key>
		<integer>-86</integer>
		<key>Acircumflex</key>
		<integer>-86</integer>
		<key>Adieresis</key>
		<integer>-86</integer>
		<key>Agrave</key>
		<integer>-86</integer>
		<key>Aring</key>
		<integer>-86</integer>
		<key>Atilde</key>
		<integer>-86</integer>
		<key>aacute</key>
		<integer>-86</integer>
		<key>acircumflex</key>
		<integer>-86</integer>
		<key>adieresis</key>
		<integer>-86</integer>
		<key>agrave</key>
		<integer>-86</integer>
		<key>aring</key>
		<integer>-86</integer>
		<key>atilde</key>
		<integer>-86</integer>
		<key>ccedilla</key>
		<integer>-17</integer>
		<key>ccircumflex</key>
		<integer>-17</integer>
		<key>colon</key>
		<integer>-13</integer>
		<key>comma</key>
		<integer>-93</integer>
		<key>d</key>
		<integer>-17</integer>
		<key>e</key>
		<integer>-46</integer>
		<key>eacute</key>
		<integer>-33</integer>
		<key>ecircumflex</key>
		<integer>-33</integer>
		<key>edieresis</key>
		<integer>-33</integer>
		<key>egrave</key>
		<integer>-33</integer>
		<key>hyphen</key>
		<integer>-70</integer>
		<key>oacute</key>
		<integer>-53</integer>
		<key>ocircumflex</key>
		<integer>-53</integer>
		<key>odieresis</key>
		<integer>-53</integer>
		<key>oe</key>
		<integer>-17</integer>
		<key>ograve</key>
		<integer>-53</integer>
		<key>oslash</key>
		<integer>-17</integer>
		<key>otilde</key>
		<integer>-53</integer>
		<key>period</key>
		<integer>-76</integer>
		<key>q</key>
		<integer>-17</integer>
		<key>r</key>
		<integer>-8</integer>
		<key>rcaron</key>
		<integer>-8</integer>
		<key>rcommaaccent</key>
		<integer>-8</integer>
		<key>semicolon</key>
		<integer>-13</integer>
		<key>u</key>
		<integer>-12</integer>
		<key>uacute</key>
		<integer>-12</integer>
		<key>ucircumflex</key>
		<integer>-12</integer>
		<key>udieresis</key>
		<integer>-12</integer>
		<key>ugrave</key>
		<integer>-12</integer>
		<key>umacron</key>
		<integer>-12</integer>
		<key>uni020D</key>
		<integer>-73</integer>
		<key>uni020F</key>
		<integer>-53</integer>
		<key>uni0211</key>
		<integer>-8</integer>
		<key>uni0213</key>
		<integer>-8</integer>
		<key>uni0215</key>
		<integer>-12</integer>
		<key>uni0217</key>
		<integer>-12</integer>
		<key>uogonek</key>
		<integer>-12</integer>
		<key>y</key>
		<integer>28</integer>
		<key>yacute</key>
		<integer>-12</integer>
		<key>ydieresis</key>
		<integer>-12</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-16</integer>
		<key>Aacute</key>
		<integer>-102</integer>
		<key>Acircumflex</key>
		<integer>-102</integer>
		<key>Adieresis</key>
		<integer>-102</integer>
		<key>Agrave</key>
		<integer>-102</integer>
		<key>Aring</key>
		<integer>-102</integer>
		<key>Atilde</key>
		<integer>-102</integer>
		<key>aacute</key>
		<integer>-64</integer>
		<key>acircumflex</key>
		<integer>-64</integer>
		<key>adieresis</key>
		<integer>-64</integer>
		<key>agrave</key>
		<integer>-62</integer>
		<key>aring</key>
		<integer>-64</integer>
		<key>atilde</key>
		<integer>-64</integer>
		<key>colon</key>
		<integer>-4</integer>
		<key>comma</key>
		<integer>-79</integer>
		<key>hyphen</key>
		<integer>-19</integer>
		<key>o</key>
		<integer>-16</integer>
		<key>period</key>
		<integer>-69</integer>
		<key>q</key>
		<integer>-7</integer>
		<key>semicolon</key>
		<integer>-4</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-88</integer>
		<key>@MMK_R_O</key>
		<integer>-25</integer>
		<key>Aacute</key>
		<integer>-80</integer>
		<key>Acircumflex</key>
		<integer>-80</integer>
		<key>Adieresis</key>
		<integer>-80</integer>
		<key>Agrave</key>
		<integer>-80</integer>
		<key>Aring</key>
		<integer>-80</integer>
		<key>Atilde</key>
		<integer>-80</integer>
		<key>a</key>
		<integer>-88</integer>
		<key>aacute</key>
		<integer>-29</integer>
		<key>acircumflex</key>
		<integer>-29</integer>
		<key>adieresis</key>
		<integer>-29</integer>
		<key>agrave</key>
		<integer>-37</integer>
		<key>aring</key>
		<integer>-29</integer>
		<key>atilde</key>
		<integer>-29</integer>
		<key>c</key>
		<integer>-6</integer>
		<key>ccedilla</key>
		<integer>-6</integer>
		<key>ccircumflex</key>
		<integer>-6</integer>
		<key>d</key>
		<integer>-6</integer>
		<key>e</key>
		<integer>-25</integer>
		<key>eacute</key>
		<integer>-25</integer>
		<key>ecircumflex</key>
		<integer>-25</integer>
		<key>edieresis</key>
		<integer>-25</integer>
		<key>egrave</key>
		<integer>-25</integer>
		<key>o</key>
		<integer>-13</integer>
		<key>oacute</key>
		<integer>-25</integer>
		<key>ocircumflex</key>
		<integer>-25</integer>
		<key>odieresis</key>
		<integer>-25</integer>
		<key>oe</key>
		<integer>-6</integer>
		<key>ograve</key>
		<integer>-25</integer>
		<key>oslash</key>
		<integer>-6</integer>
		<key>otilde</key>
		<integer>-25</integer>
		<key>q</key>
		<integer>-6</integer>
		<key>u</key>
		<integer>-19</integer>
		<key>uacute</key>
		<integer>-19</integer>
		<key>ucircumflex</key>
		<integer>-19</integer>
		<key>udieresis</key>
		<integer>-19</integer>
		<key>ugrave</key>
		<integer>-19</integer>
		<key>umacron</key>
		<integer>-19</integer>
		<key>uni020D</key>
		<integer>-25</integer>
		<key>uni020F</key>
		<integer>-25</integer>
		<key>uni0215</key>
		<integer>-19</integer>
		<key>uni0217</key>
		<integer>-19</integer>
		<key>uogonek</key>
		<integer>-19</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-6</integer>
		<key>@MMK_R_E</key>
		<integer>0</integer>
		<key>@MMK_R_O</key>
		<integer>-49</integer>
		<key>G</key>
		<integer>-6</integer>
		<key>OE</key>
		<integer>-6</integer>
		<key>Oslash</key>
		<integer>-6</integer>
		<key>Q</key>
		<integer>-6</integer>
		<key>ccedilla</key>
		<integer>-8</integer>
		<key>ccircumflex</key>
		<integer>-8</integer>
		<key>d</key>
		<integer>-8</integer>
		<key>e</key>
		<integer>-8</integer>
		<key>eacute</key>
		<integer>-8</integer>
		<key>ecircumflex</key>
		<integer>-8</integer>
		<key>edieresis</key>
		<integer>-8</integer>
		<key>egrave</key>
		<integer>-8</integer>
		<key>g</key>
		<integer>-6</integer>
		<key>oacute</key>
		<integer>-8</integer>
		<key>ocircumflex</key>
		<integer>-8</integer>
		<key>odieresis</key>
		<integer>-8</integer>
		<key>oe</key>
		<integer>-8</integer>
		<key>ograve</key>
		<integer>-8</integer>
		<key>oslash</key>
		<integer>-8</integer>
		<key>otilde</key>
		<integer>-8</integer>
		<key>q</key>
		<integer>-6</integer>
		<key>uni020C</key>
		<integer>-43</integer>
		<key>uni020D</key>
		<integer>-8</integer>
		<key>uni020E</key>
		<integer>-43</integer>
		<key>uni020F</key>
		<integer>-8</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>aacute</key>
		<integer>-39</integer>
		<key>acircumflex</key>
		<integer>-39</integer>
		<key>adieresis</key>
		<integer>-39</integer>
		<key>agrave</key>
		<integer>-39</integer>
		<key>aring</key>
		<integer>-39</integer>
		<key>atilde</key>
		<integer>-39</integer>
		<key>oacute</key>
		<integer>-90</integer>
		<key>ocircumflex</key>
		<integer>-90</integer>
		<key>odieresis</key>
		<integer>-90</integer>
		<key>ograve</key>
		<integer>-90</integer>
		<key>otilde</key>
		<integer>-90</integer>
		<key>uni020D</key>
		<integer>-90</integer>
		<key>uni020F</key>
		<integer>-90</integer>
	</dict>
	<key>Yacute</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-68</integer>
		<key>a</key>
		<integer>-68</integer>
		<key>aacute</key>
		<integer>-39</integer>
		<key>acircumflex</key>
		<integer>-39</integer>
		<key>adieresis</key>
		<integer>-39</integer>
		<key>agrave</key>
		<integer>-39</integer>
		<key>aring</key>
		<integer>-39</integer>
		<key>atilde</key>
		<integer>-39</integer>
		<key>e</key>
		<integer>-40</integer>
		<key>eacute</key>
		<integer>-40</integer>
		<key>ecircumflex</key>
		<integer>-40</integer>
		<key>edieresis</key>
		<integer>-40</integer>
		<key>egrave</key>
		<integer>-40</integer>
		<key>oacute</key>
		<integer>-78</integer>
		<key>ocircumflex</key>
		<integer>-78</integer>
		<key>odieresis</key>
		<integer>-78</integer>
		<key>ograve</key>
		<integer>-78</integer>
		<key>otilde</key>
		<integer>-78</integer>
		<key>uni020D</key>
		<integer>-78</integer>
		<key>uni020F</key>
		<integer>-78</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>0</integer>
		<key>@MMK_R_U</key>
		<integer>0</integer>
		<key>Aacute</key>
		<integer>-21</integer>
		<key>Acircumflex</key>
		<integer>-21</integer>
		<key>Adieresis</key>
		<integer>-21</integer>
		<key>Agrave</key>
		<integer>-21</integer>
		<key>Aring</key>
		<integer>-21</integer>
		<key>Atilde</key>
		<integer>-21</integer>
		<key>Uacute</key>
		<integer>-17</integer>
		<key>Ucircumflex</key>
		<integer>-17</integer>
		<key>Udieresis</key>
		<integer>-17</integer>
		<key>Ugrave</key>
		<integer>-17</integer>
		<key>Umacron</key>
		<integer>-17</integer>
		<key>Uogonek</key>
		<integer>-17</integer>
		<key>comma</key>
		<integer>-19</integer>
		<key>period</key>
		<integer>-19</integer>
		<key>uni0214</key>
		<integer>-17</integer>
		<key>uni0216</key>
		<integer>-17</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>0</integer>
		<key>@MMK_R_Y</key>
		<integer>0</integer>
		<key>Aacute</key>
		<integer>-6</integer>
		<key>Acircumflex</key>
		<integer>-6</integer>
		<key>Adieresis</key>
		<integer>-6</integer>
		<key>Agrave</key>
		<integer>-6</integer>
		<key>Aring</key>
		<integer>-6</integer>
		<key>Atilde</key>
		<integer>-6</integer>
		<key>Yacute</key>
		<integer>-39</integer>
		<key>y</key>
		<integer>0</integer>
		<key>yacute</key>
		<integer>0</integer>
		<key>ydieresis</key>
		<integer>0</integer>
	</dict>
	<key>ccedilla</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>0</integer>
		<key>@MMK_R_Y</key>
		<integer>0</integer>
		<key>y</key>
		<integer>-7</integer>
		<key>yacute</key>
		<integer>-7</integer>
		<key>ydieresis</key>
		<integer>-7</integer>
	</dict>
	<key>ccircumflex</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>0</integer>
		<key>@MMK_R_Y</key>
		<integer>0</integer>
		<key>y</key>
		<integer>0</integer>
		<key>yacute</key>
		<integer>0</integer>
		<key>ydieresis</key>
		<integer>0</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>0</integer>
		<key>@MMK_R_Y</key>
		<integer>0</integer>
		<key>Aacute</key>
		<integer>-21</integer>
		<key>Acircumflex</key>
		<integer>-21</integer>
		<key>Adieresis</key>
		<integer>-21</integer>
		<key>Agrave</key>
		<integer>-21</integer>
		<key>Aring</key>
		<integer>-21</integer>
		<key>Atilde</key>
		<integer>-21</integer>
		<key>Yacute</key>
		<integer>-12</integer>
		<key>comma</key>
		<integer>-23</integer>
		<key>period</key>
		<integer>-23</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>0</integer>
		<key>@MMK_R_C</key>
		<integer>0</integer>
		<key>@MMK_R_E</key>
		<integer>0</integer>
		<key>@MMK_R_O</key>
		<integer>0</integer>
		<key>Aacute</key>
		<integer>-79</integer>
		<key>Acircumflex</key>
		<integer>-79</integer>
		<key>Adieresis</key>
		<integer>-79</integer>
		<key>Agrave</key>
		<integer>-79</integer>
		<key>Aring</key>
		<integer>-79</integer>
		<key>Atilde</key>
		<integer>-79</integer>
		<key>a</key>
		<integer>-62</integer>
		<key>aacute</key>
		<integer>-26</integer>
		<key>acircumflex</key>
		<integer>-26</integer>
		<key>adieresis</key>
		<integer>-26</integer>
		<key>agrave</key>
		<integer>-29</integer>
		<key>aring</key>
		<integer>-26</integer>
		<key>atilde</key>
		<integer>-26</integer>
		<key>c</key>
		<integer>-8</integer>
		<key>ccedilla</key>
		<integer>-8</integer>
		<key>ccircumflex</key>
		<integer>-8</integer>
		<key>comma</key>
		<integer>-54</integer>
		<key>d</key>
		<integer>-8</integer>
		<key>e</key>
		<integer>-37</integer>
		<key>eacute</key>
		<integer>-37</integer>
		<key>ecircumflex</key>
		<integer>-37</integer>
		<key>edieresis</key>
		<integer>-37</integer>
		<key>egrave</key>
		<integer>-37</integer>
		<key>o</key>
		<integer>-29</integer>
		<key>oacute</key>
		<integer>-29</integer>
		<key>ocircumflex</key>
		<integer>-29</integer>
		<key>odieresis</key>
		<integer>-29</integer>
		<key>ograve</key>
		<integer>-29</integer>
		<key>otilde</key>
		<integer>-29</integer>
		<key>q</key>
		<integer>-8</integer>
		<key>uni020D</key>
		<integer>-29</integer>
		<key>uni020F</key>
		<integer>-29</integer>
	</dict>
	<key>j</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>0</integer>
	</dict>
	<key>jcircumflex</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>0</integer>
	</dict>
	<key>l</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>0</integer>
		<key>@MMK_R_Y</key>
		<integer>0</integer>
		<key>Oacute</key>
		<integer>-31</integer>
		<key>Ocircumflex</key>
		<integer>-31</integer>
		<key>Odieresis</key>
		<integer>-31</integer>
		<key>Ograve</key>
		<integer>-31</integer>
		<key>Otilde</key>
		<integer>-31</integer>
		<key>Yacute</key>
		<integer>-36</integer>
		<key>quotedbl</key>
		<integer>-22</integer>
		<key>quotedblright</key>
		<integer>-47</integer>
		<key>quoteright</key>
		<integer>-47</integer>
		<key>quotesingle</key>
		<integer>-22</integer>
		<key>uni020C</key>
		<integer>-31</integer>
		<key>uni020E</key>
		<integer>-31</integer>
		<key>y</key>
		<integer>-43</integer>
		<key>yacute</key>
		<integer>-43</integer>
		<key>ydieresis</key>
		<integer>-43</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>0</integer>
		<key>@MMK_R_Y</key>
		<integer>0</integer>
	</dict>
	<key>oacute</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>0</integer>
		<key>@MMK_R_Y</key>
		<integer>0</integer>
	</dict>
	<key>ocircumflex</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>0</integer>
		<key>@MMK_R_Y</key>
		<integer>0</integer>
	</dict>
	<key>odieresis</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>0</integer>
		<key>@MMK_R_Y</key>
		<integer>0</integer>
	</dict>
	<key>ograve</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>0</integer>
		<key>@MMK_R_Y</key>
		<integer>0</integer>
	</dict>
	<key>otilde</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>0</integer>
		<key>@MMK_R_Y</key>
		<integer>0</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>0</integer>
		<key>@MMK_R_E</key>
		<integer>0</integer>
		<key>@MMK_R_O</key>
		<integer>0</integer>
		<key>@MMK_R_R</key>
		<integer>-10</integer>
		<key>Aacute</key>
		<integer>-94</integer>
		<key>Acircumflex</key>
		<integer>-94</integer>
		<key>Adieresis</key>
		<integer>-94</integer>
		<key>Agrave</key>
		<integer>-94</integer>
		<key>Aring</key>
		<integer>-94</integer>
		<key>Atilde</key>
		<integer>-94</integer>
		<key>a</key>
		<integer>-60</integer>
		<key>aacute</key>
		<integer>-9</integer>
		<key>acircumflex</key>
		<integer>-9</integer>
		<key>adieresis</key>
		<integer>-9</integer>
		<key>agrave</key>
		<integer>-16</integer>
		<key>aring</key>
		<integer>-9</integer>
		<key>atilde</key>
		<integer>-9</integer>
		<key>comma</key>
		<integer>-120</integer>
		<key>e</key>
		<integer>-22</integer>
		<key>eacute</key>
		<integer>-22</integer>
		<key>ecircumflex</key>
		<integer>-22</integer>
		<key>edieresis</key>
		<integer>-22</integer>
		<key>egrave</key>
		<integer>-22</integer>
		<key>o</key>
		<integer>-22</integer>
		<key>oacute</key>
		<integer>-22</integer>
		<key>ocircumflex</key>
		<integer>-22</integer>
		<key>odieresis</key>
		<integer>-22</integer>
		<key>ograve</key>
		<integer>-22</integer>
		<key>otilde</key>
		<integer>-22</integer>
		<key>period</key>
		<integer>-120</integer>
		<key>uni020D</key>
		<integer>-22</integer>
		<key>uni020F</key>
		<integer>-22</integer>
	</dict>
	<key>quotedblleft</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-132</integer>
	</dict>
	<key>quoteleft</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-132</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>0</integer>
		<key>@MMK_R_C</key>
		<integer>0</integer>
		<key>@MMK_R_E</key>
		<integer>0</integer>
		<key>@MMK_R_O</key>
		<integer>0</integer>
		<key>@MMK_R_R</key>
		<integer>0</integer>
		<key>@MMK_R_U</key>
		<integer>0</integer>
		<key>@MMK_R_VW</key>
		<integer>-30</integer>
		<key>@MMK_R_Y</key>
		<integer>0</integer>
		<key>Aacute</key>
		<integer>-66</integer>
		<key>Acircumflex</key>
		<integer>-66</integer>
		<key>Adieresis</key>
		<integer>-66</integer>
		<key>Agrave</key>
		<integer>-66</integer>
		<key>Aring</key>
		<integer>-66</integer>
		<key>Atilde</key>
		<integer>-66</integer>
		<key>Ccedilla</key>
		<integer>-40</integer>
		<key>Ccircumflex</key>
		<integer>-40</integer>
		<key>Oacute</key>
		<integer>-14</integer>
		<key>Ocircumflex</key>
		<integer>-14</integer>
		<key>Odieresis</key>
		<integer>-14</integer>
		<key>Ograve</key>
		<integer>-14</integer>
		<key>Otilde</key>
		<integer>-14</integer>
		<key>a</key>
		<integer>-55</integer>
		<key>aacute</key>
		<integer>-55</integer>
		<key>acircumflex</key>
		<integer>-55</integer>
		<key>adieresis</key>
		<integer>-55</integer>
		<key>agrave</key>
		<integer>-71</integer>
		<key>aring</key>
		<integer>-55</integer>
		<key>atilde</key>
		<integer>-55</integer>
		<key>c</key>
		<integer>-17</integer>
		<key>ccedilla</key>
		<integer>-17</integer>
		<key>ccircumflex</key>
		<integer>-17</integer>
		<key>colon</key>
		<integer>-13</integer>
		<key>comma</key>
		<integer>-13</integer>
		<key>d</key>
		<integer>-17</integer>
		<key>e</key>
		<integer>-73</integer>
		<key>eacute</key>
		<integer>-73</integer>
		<key>ecircumflex</key>
		<integer>-73</integer>
		<key>edieresis</key>
		<integer>-73</integer>
		<key>egrave</key>
		<integer>-73</integer>
		<key>hyphen</key>
		<integer>-9</integer>
		<key>o</key>
		<integer>-47</integer>
		<key>oacute</key>
		<integer>-73</integer>
		<key>ocircumflex</key>
		<integer>-73</integer>
		<key>odieresis</key>
		<integer>-73</integer>
		<key>oe</key>
		<integer>-17</integer>
		<key>ograve</key>
		<integer>-73</integer>
		<key>oslash</key>
		<integer>-17</integer>
		<key>otilde</key>
		<integer>-73</integer>
		<key>period</key>
		<integer>-13</integer>
		<key>q</key>
		<integer>-17</integer>
		<key>r</key>
		<integer>-8</integer>
		<key>rcaron</key>
		<integer>-8</integer>
		<key>rcommaaccent</key>
		<integer>-8</integer>
		<key>semicolon</key>
		<integer>-13</integer>
		<key>u</key>
		<integer>-12</integer>
		<key>uacute</key>
		<integer>-12</integer>
		<key>ucircumflex</key>
		<integer>-12</integer>
		<key>udieresis</key>
		<integer>-12</integer>
		<key>ugrave</key>
		<integer>-12</integer>
		<key>umacron</key>
		<integer>-12</integer>
		<key>uni020C</key>
		<integer>-14</integer>
		<key>uni020D</key>
		<integer>-73</integer>
		<key>uni020E</key>
		<integer>-14</integer>
		<key>uni020F</key>
		<integer>-73</integer>
		<key>uni0211</key>
		<integer>-8</integer>
		<key>uni0213</key>
		<integer>-8</integer>
		<key>uni0215</key>
		<integer>-12</integer>
		<key>uni0217</key>
		<integer>-12</integer>
		<key>uogonek</key>
		<integer>-12</integer>
		<key>y</key>
		<integer>-12</integer>
		<key>yacute</key>
		<integer>-12</integer>
		<key>ydieresis</key>
		<integer>-12</integer>
	</dict>
	<key>uni020D</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>0</integer>
		<key>@MMK_R_Y</key>
		<integer>0</integer>
	</dict>
	<key>uni020F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>0</integer>
		<key>@MMK_R_Y</key>
		<integer>0</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>0</integer>
		<key>@MMK_R_O</key>
		<integer>0</integer>
		<key>Aacute</key>
		<integer>-82</integer>
		<key>Acircumflex</key>
		<integer>-82</integer>
		<key>Adieresis</key>
		<integer>-82</integer>
		<key>Agrave</key>
		<integer>-82</integer>
		<key>Aring</key>
		<integer>-82</integer>
		<key>Atilde</key>
		<integer>-82</integer>
		<key>Oacute</key>
		<integer>-16</integer>
		<key>Ocircumflex</key>
		<integer>-16</integer>
		<key>Odieresis</key>
		<integer>-16</integer>
		<key>Ograve</key>
		<integer>-16</integer>
		<key>Otilde</key>
		<integer>-16</integer>
		<key>a</key>
		<integer>-88</integer>
		<key>aacute</key>
		<integer>-34</integer>
		<key>acircumflex</key>
		<integer>-34</integer>
		<key>adieresis</key>
		<integer>-34</integer>
		<key>agrave</key>
		<integer>-42</integer>
		<key>aring</key>
		<integer>-34</integer>
		<key>atilde</key>
		<integer>-34</integer>
		<key>colon</key>
		<integer>-4</integer>
		<key>comma</key>
		<integer>-9</integer>
		<key>hyphen</key>
		<integer>-9</integer>
		<key>period</key>
		<integer>-9</integer>
		<key>q</key>
		<integer>-7</integer>
		<key>semicolon</key>
		<integer>-4</integer>
		<key>uni020C</key>
		<integer>-16</integer>
		<key>uni020E</key>
		<integer>-16</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>0</integer>
		<key>@MMK_R_O</key>
		<integer>0</integer>
		<key>Aacute</key>
		<integer>-80</integer>
		<key>Acircumflex</key>
		<integer>-80</integer>
		<key>Adieresis</key>
		<integer>-80</integer>
		<key>Agrave</key>
		<integer>-80</integer>
		<key>Aring</key>
		<integer>-80</integer>
		<key>Atilde</key>
		<integer>-80</integer>
		<key>Oacute</key>
		<integer>-25</integer>
		<key>Ocircumflex</key>
		<integer>-25</integer>
		<key>Odieresis</key>
		<integer>-25</integer>
		<key>Ograve</key>
		<integer>-25</integer>
		<key>Otilde</key>
		<integer>-25</integer>
		<key>a</key>
		<integer>-61</integer>
		<key>aacute</key>
		<integer>-29</integer>
		<key>acircumflex</key>
		<integer>-29</integer>
		<key>adieresis</key>
		<integer>-29</integer>
		<key>agrave</key>
		<integer>-37</integer>
		<key>aring</key>
		<integer>-29</integer>
		<key>atilde</key>
		<integer>-29</integer>
		<key>c</key>
		<integer>-6</integer>
		<key>ccedilla</key>
		<integer>-6</integer>
		<key>ccircumflex</key>
		<integer>-6</integer>
		<key>d</key>
		<integer>-6</integer>
		<key>e</key>
		<integer>-25</integer>
		<key>eacute</key>
		<integer>-25</integer>
		<key>ecircumflex</key>
		<integer>-25</integer>
		<key>edieresis</key>
		<integer>-25</integer>
		<key>egrave</key>
		<integer>-25</integer>
		<key>o</key>
		<integer>-13</integer>
		<key>oacute</key>
		<integer>-25</integer>
		<key>ocircumflex</key>
		<integer>-25</integer>
		<key>odieresis</key>
		<integer>-25</integer>
		<key>oe</key>
		<integer>-6</integer>
		<key>ograve</key>
		<integer>-25</integer>
		<key>oslash</key>
		<integer>-6</integer>
		<key>otilde</key>
		<integer>-25</integer>
		<key>q</key>
		<integer>-6</integer>
		<key>u</key>
		<integer>-19</integer>
		<key>uacute</key>
		<integer>-19</integer>
		<key>ucircumflex</key>
		<integer>-19</integer>
		<key>udieresis</key>
		<integer>-19</integer>
		<key>ugrave</key>
		<integer>-19</integer>
		<key>umacron</key>
		<integer>-19</integer>
		<key>uni020C</key>
		<integer>-25</integer>
		<key>uni020D</key>
		<integer>-25</integer>
		<key>uni020E</key>
		<integer>-25</integer>
		<key>uni020F</key>
		<integer>-25</integer>
		<key>uni0215</key>
		<integer>-19</integer>
		<key>uni0217</key>
		<integer>-19</integer>
		<key>uogonek</key>
		<integer>-19</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>0</integer>
		<key>@MMK_R_E</key>
		<integer>0</integer>
		<key>@MMK_R_O</key>
		<integer>0</integer>
		<key>Ccedilla</key>
		<integer>-6</integer>
		<key>Ccircumflex</key>
		<integer>-6</integer>
		<key>OE</key>
		<integer>-6</integer>
		<key>Oacute</key>
		<integer>-49</integer>
		<key>Ocircumflex</key>
		<integer>-49</integer>
		<key>Odieresis</key>
		<integer>-49</integer>
		<key>Ograve</key>
		<integer>-49</integer>
		<key>Oslash</key>
		<integer>-6</integer>
		<key>Otilde</key>
		<integer>-49</integer>
		<key>c</key>
		<integer>-8</integer>
		<key>ccedilla</key>
		<integer>-8</integer>
		<key>ccircumflex</key>
		<integer>-8</integer>
		<key>d</key>
		<integer>-8</integer>
		<key>e</key>
		<integer>-8</integer>
		<key>eacute</key>
		<integer>-8</integer>
		<key>ecircumflex</key>
		<integer>-8</integer>
		<key>edieresis</key>
		<integer>-8</integer>
		<key>egrave</key>
		<integer>-8</integer>
		<key>o</key>
		<integer>-8</integer>
		<key>oacute</key>
		<integer>-8</integer>
		<key>ocircumflex</key>
		<integer>-8</integer>
		<key>odieresis</key>
		<integer>-8</integer>
		<key>oe</key>
		<integer>-8</integer>
		<key>ograve</key>
		<integer>-8</integer>
		<key>oslash</key>
		<integer>-8</integer>
		<key>otilde</key>
		<integer>-8</integer>
		<key>q</key>
		<integer>-8</integer>
		<key>uni020C</key>
		<integer>-43</integer>
		<key>uni020D</key>
		<integer>-8</integer>
		<key>uni020E</key>
		<integer>-43</integer>
		<key>uni020F</key>
		<integer>-8</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>0</integer>
		<key>@MMK_R_O</key>
		<integer>0</integer>
		<key>Aacute</key>
		<integer>-68</integer>
		<key>Acircumflex</key>
		<integer>-68</integer>
		<key>Adieresis</key>
		<integer>-68</integer>
		<key>Agrave</key>
		<integer>-68</integer>
		<key>Aring</key>
		<integer>-68</integer>
		<key>Atilde</key>
		<integer>-68</integer>
		<key>a</key>
		<integer>-39</integer>
		<key>aacute</key>
		<integer>-39</integer>
		<key>acircumflex</key>
		<integer>-39</integer>
		<key>adieresis</key>
		<integer>-39</integer>
		<key>agrave</key>
		<integer>-39</integer>
		<key>aring</key>
		<integer>-39</integer>
		<key>atilde</key>
		<integer>-39</integer>
		<key>c</key>
		<integer>-11</integer>
		<key>ccedilla</key>
		<integer>-11</integer>
		<key>ccircumflex</key>
		<integer>-11</integer>
		<key>e</key>
		<integer>-51</integer>
		<key>eacute</key>
		<integer>-51</integer>
		<key>ecircumflex</key>
		<integer>-51</integer>
		<key>edieresis</key>
		<integer>-51</integer>
		<key>egrave</key>
		<integer>-51</integer>
		<key>o</key>
		<integer>-15</integer>
		<key>oacute</key>
		<integer>-90</integer>
		<key>ocircumflex</key>
		<integer>-90</integer>
		<key>odieresis</key>
		<integer>-90</integer>
		<key>ograve</key>
		<integer>-90</integer>
		<key>otilde</key>
		<integer>-90</integer>
		<key>q</key>
		<integer>-11</integer>
		<key>u</key>
		<integer>-31</integer>
		<key>uacute</key>
		<integer>-31</integer>
		<key>ucircumflex</key>
		<integer>-31</integer>
		<key>udieresis</key>
		<integer>-31</integer>
		<key>ugrave</key>
		<integer>-31</integer>
		<key>umacron</key>
		<integer>-31</integer>
		<key>uni020D</key>
		<integer>-90</integer>
		<key>uni020F</key>
		<integer>-90</integer>
		<key>uni0215</key>
		<integer>-31</integer>
		<key>uni0217</key>
		<integer>-31</integer>
		<key>uogonek</key>
		<integer>-31</integer>
	</dict>
	<key>yacute</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>0</integer>
		<key>@MMK_R_O</key>
		<integer>0</integer>
		<key>a</key>
		<integer>-39</integer>
		<key>aacute</key>
		<integer>-39</integer>
		<key>acircumflex</key>
		<integer>-39</integer>
		<key>adieresis</key>
		<integer>-39</integer>
		<key>agrave</key>
		<integer>-39</integer>
		<key>aring</key>
		<integer>-39</integer>
		<key>atilde</key>
		<integer>-39</integer>
		<key>c</key>
		<integer>-11</integer>
		<key>ccedilla</key>
		<integer>-11</integer>
		<key>ccircumflex</key>
		<integer>-11</integer>
		<key>e</key>
		<integer>-51</integer>
		<key>eacute</key>
		<integer>-51</integer>
		<key>ecircumflex</key>
		<integer>-51</integer>
		<key>edieresis</key>
		<integer>-51</integer>
		<key>egrave</key>
		<integer>-51</integer>
		<key>o</key>
		<integer>-90</integer>
		<key>oacute</key>
		<integer>-90</integer>
		<key>ocircumflex</key>
		<integer>-90</integer>
		<key>odieresis</key>
		<integer>-90</integer>
		<key>ograve</key>
		<integer>-90</integer>
		<key>otilde</key>
		<integer>-90</integer>
		<key>q</key>
		<integer>-11</integer>
		<key>u</key>
		<integer>-31</integer>
		<key>uacute</key>
		<integer>-31</integer>
		<key>ucircumflex</key>
		<integer>-31</integer>
		<key>udieresis</key>
		<integer>-31</integer>
		<key>ugrave</key>
		<integer>-31</integer>
		<key>umacron</key>
		<integer>-31</integer>
		<key>uni020D</key>
		<integer>-90</integer>
		<key>uni020F</key>
		<integer>-90</integer>
		<key>uni0215</key>
		<integer>-31</integer>
		<key>uni0217</key>
		<integer>-31</integer>
		<key>uogonek</key>
		<integer>-31</integer>
	</dict>
	<key>ydieresis</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>0</integer>
		<key>@MMK_R_O</key>
		<integer>0</integer>
		<key>a</key>
		<integer>-39</integer>
		<key>aacute</key>
		<integer>-39</integer>
		<key>acircumflex</key>
		<integer>-39</integer>
		<key>adieresis</key>
		<integer>-39</integer>
		<key>agrave</key>
		<integer>-39</integer>
		<key>aring</key>
		<integer>-39</integer>
		<key>atilde</key>
		<integer>-39</integer>
		<key>c</key>
		<integer>-11</integer>
		<key>ccedilla</key>
		<integer>-11</integer>
		<key>ccircumflex</key>
		<integer>-11</integer>
		<key>e</key>
		<integer>-51</integer>
		<key>eacute</key>
		<integer>-51</integer>
		<key>ecircumflex</key>
		<integer>-51</integer>
		<key>edieresis</key>
		<integer>-51</integer>
		<key>egrave</key>
		<integer>-51</integer>
		<key>o</key>
		<integer>-90</integer>
		<key>oacute</key>
		<integer>-90</integer>
		<key>ocircumflex</key>
		<integer>-90</integer>
		<key>odieresis</key>
		<integer>-90</integer>
		<key>ograve</key>
		<integer>-90</integer>
		<key>otilde</key>
		<integer>-90</integer>
		<key>q</key>
		<integer>-11</integer>
		<key>u</key>
		<integer>-31</integer>
		<key>uacute</key>
		<integer>-31</integer>
		<key>ucircumflex</key>
		<integer>-31</integer>
		<key>udieresis</key>
		<integer>-31</integer>
		<key>ugrave</key>
		<integer>-31</integer>
		<key>umacron</key>
		<integer>-31</integer>
		<key>uni020D</key>
		<integer>-90</integer>
		<key>uni020F</key>
		<integer>-90</integer>
		<key>uni0215</key>
		<integer>-31</integer>
		<key>uni0217</key>
		<integer>-31</integer>
		<key>uogonek</key>
		<integer>-31</integer>
	</dict>
</dict>
</plist>
