<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>A</key>
	<dict>
	    <key>Q</key>
	    <integer>-9</integer>
	    <key>G</key>
	    <integer>-16</integer>
	    <key>Ccedilla</key>
	    <integer>-25</integer>
	</dict>
	<key>Aacute</key>
	<dict>
	    <key>Q</key>
	    <integer>-9</integer>
	    <key>G</key>
	    <integer>-16</integer>
	    <key>Ccedilla</key>
	    <integer>-25</integer>
	</dict>
	<key>Abreve</key>
	<dict>
	    <key>Q</key>
	    <integer>-9</integer>
	    <key>G</key>
	    <integer>-16</integer>
	    <key>Ccedilla</key>
	    <integer>-25</integer>
	</dict>
	<key>Acircumflex</key>
	<dict>
	    <key>Q</key>
	    <integer>-9</integer>
	    <key>G</key>
	    <integer>-16</integer>
	    <key>Ccedilla</key>
	    <integer>-25</integer>
	</dict>
	<key>Adieresis</key>
	<dict>
	    <key>Q</key>
	    <integer>-9</integer>
	    <key>G</key>
	    <integer>-16</integer>
	    <key>Ccedilla</key>
	    <integer>-25</integer>
	</dict>
	<key>Agrave</key>
	<dict>
	    <key>Q</key>
	    <integer>-9</integer>
	    <key>G</key>
	    <integer>-16</integer>
	    <key>Ccedilla</key>
	    <integer>-25</integer>
	</dict>
	<key>Amacron</key>
	<dict>
	    <key>Q</key>
	    <integer>-9</integer>
	    <key>G</key>
	    <integer>-16</integer>
	    <key>Ccedilla</key>
	    <integer>-25</integer>
	</dict>
	<key>Aogonek</key>
	<dict>
	    <key>Q</key>
	    <integer>-9</integer>
	    <key>G</key>
	    <integer>-16</integer>
	    <key>Ccedilla</key>
	    <integer>-25</integer>
	</dict>
	<key>Aring</key>
	<dict>
	    <key>Q</key>
	    <integer>-9</integer>
	    <key>G</key>
	    <integer>-16</integer>
	    <key>Ccedilla</key>
	    <integer>-25</integer>
	</dict>
	<key>Atilde</key>
	<dict>
	    <key>Q</key>
	    <integer>-9</integer>
	    <key>G</key>
	    <integer>-16</integer>
	    <key>Ccedilla</key>
	    <integer>-25</integer>
	</dict>
	<key>D</key>
	<dict>
	    <key>Ydieresis</key>
	    <integer>-21</integer>
	    <key>Yacute</key>
	    <integer>-21</integer>
	    <key>Y</key>
	    <integer>-21</integer>
	    <key>W</key>
	    <integer>-20</integer>
	    <key>V</key>
	    <integer>-35</integer>
	    <key>uni0202</key>
	    <integer>-32</integer>
	    <key>Atilde</key>
	    <integer>-32</integer>
	    <key>Aring</key>
	    <integer>-32</integer>
	    <key>Aogonek</key>
	    <integer>-32</integer>
	    <key>Amacron</key>
	    <integer>-32</integer>
	    <key>Agrave</key>
	    <integer>-32</integer>
	    <key>Adieresis</key>
	    <integer>-32</integer>
	    <key>Acircumflex</key>
	    <integer>-32</integer>
	    <key>Abreve</key>
	    <integer>-32</integer>
	    <key>Aacute</key>
	    <integer>-32</integer>
	    <key>A</key>
	    <integer>-32</integer>
	    <key>period</key>
	    <integer>-40</integer>
	    <key>comma</key>
	    <integer>-40</integer>
	</dict>
	<key>Dcaron</key>
	<dict>
	    <key>period</key>
	    <integer>-40</integer>
	    <key>comma</key>
	    <integer>-40</integer>
	</dict>
	<key>E</key>
	<dict>
	    <key>scircumflex</key>
	    <integer>-64</integer>
	    <key>scedilla</key>
	    <integer>-64</integer>
	    <key>scaron</key>
	    <integer>-64</integer>
	    <key>sacute</key>
	    <integer>-64</integer>
	    <key>s</key>
	    <integer>-64</integer>
	    <key>ohungarumlaut</key>
	    <integer>-64</integer>
	    <key>gdotaccent</key>
	    <integer>-64</integer>
	    <key>gcircumflex</key>
	    <integer>-64</integer>
	    <key>gbreve</key>
	    <integer>-64</integer>
	    <key>g</key>
	    <integer>-64</integer>
	    <key>ecaron</key>
	    <integer>-64</integer>
	    <key>cdotaccent</key>
	    <integer>-64</integer>
	    <key>ccircumflex</key>
	    <integer>-64</integer>
	</dict>
	<key>Eacute</key>
	<dict>
	    <key>scircumflex</key>
	    <integer>-64</integer>
	    <key>scedilla</key>
	    <integer>-64</integer>
	    <key>scaron</key>
	    <integer>-64</integer>
	    <key>sacute</key>
	    <integer>-64</integer>
	    <key>s</key>
	    <integer>-64</integer>
	    <key>ohungarumlaut</key>
	    <integer>-64</integer>
	    <key>gdotaccent</key>
	    <integer>-64</integer>
	    <key>gcircumflex</key>
	    <integer>-64</integer>
	    <key>gbreve</key>
	    <integer>-64</integer>
	    <key>g</key>
	    <integer>-64</integer>
	    <key>ecaron</key>
	    <integer>-64</integer>
	    <key>cdotaccent</key>
	    <integer>-64</integer>
	    <key>ccircumflex</key>
	    <integer>-64</integer>
	</dict>
	<key>Ecaron</key>
	<dict>
	    <key>scircumflex</key>
	    <integer>-64</integer>
	    <key>scedilla</key>
	    <integer>-64</integer>
	    <key>scaron</key>
	    <integer>-64</integer>
	    <key>sacute</key>
	    <integer>-64</integer>
	    <key>s</key>
	    <integer>-64</integer>
	    <key>ohungarumlaut</key>
	    <integer>-64</integer>
	    <key>gdotaccent</key>
	    <integer>-64</integer>
	    <key>gcircumflex</key>
	    <integer>-64</integer>
	    <key>gbreve</key>
	    <integer>-64</integer>
	    <key>g</key>
	    <integer>-64</integer>
	    <key>ecaron</key>
	    <integer>-64</integer>
	    <key>cdotaccent</key>
	    <integer>-64</integer>
	    <key>ccircumflex</key>
	    <integer>-64</integer>
	</dict>
	<key>Ecircumflex</key>
	<dict>
	    <key>scircumflex</key>
	    <integer>-64</integer>
	    <key>scedilla</key>
	    <integer>-64</integer>
	    <key>scaron</key>
	    <integer>-64</integer>
	    <key>sacute</key>
	    <integer>-64</integer>
	    <key>s</key>
	    <integer>-64</integer>
	    <key>ohungarumlaut</key>
	    <integer>-64</integer>
	    <key>gdotaccent</key>
	    <integer>-64</integer>
	    <key>gcircumflex</key>
	    <integer>-64</integer>
	    <key>gbreve</key>
	    <integer>-64</integer>
	    <key>g</key>
	    <integer>-64</integer>
	    <key>ecaron</key>
	    <integer>-64</integer>
	    <key>cdotaccent</key>
	    <integer>-64</integer>
	    <key>ccircumflex</key>
	    <integer>-64</integer>
	</dict>
	<key>Edieresis</key>
	<dict>
	    <key>scircumflex</key>
	    <integer>-64</integer>
	    <key>scedilla</key>
	    <integer>-64</integer>
	    <key>scaron</key>
	    <integer>-64</integer>
	    <key>sacute</key>
	    <integer>-64</integer>
	    <key>s</key>
	    <integer>-64</integer>
	    <key>ohungarumlaut</key>
	    <integer>-64</integer>
	    <key>gdotaccent</key>
	    <integer>-64</integer>
	    <key>gcircumflex</key>
	    <integer>-64</integer>
	    <key>gbreve</key>
	    <integer>-64</integer>
	    <key>g</key>
	    <integer>-64</integer>
	    <key>ecaron</key>
	    <integer>-64</integer>
	    <key>cdotaccent</key>
	    <integer>-64</integer>
	    <key>ccircumflex</key>
	    <integer>-64</integer>
	</dict>
	<key>Egrave</key>
	<dict>
	    <key>scircumflex</key>
	    <integer>-64</integer>
	    <key>scedilla</key>
	    <integer>-64</integer>
	    <key>scaron</key>
	    <integer>-64</integer>
	    <key>sacute</key>
	    <integer>-64</integer>
	    <key>s</key>
	    <integer>-64</integer>
	    <key>ohungarumlaut</key>
	    <integer>-64</integer>
	    <key>gdotaccent</key>
	    <integer>-64</integer>
	    <key>gcircumflex</key>
	    <integer>-64</integer>
	    <key>gbreve</key>
	    <integer>-64</integer>
	    <key>g</key>
	    <integer>-64</integer>
	    <key>ecaron</key>
	    <integer>-64</integer>
	    <key>cdotaccent</key>
	    <integer>-64</integer>
	    <key>ccircumflex</key>
	    <integer>-64</integer>
	</dict>
	<key>Eogonek</key>
	<dict>
	    <key>scircumflex</key>
	    <integer>-64</integer>
	    <key>scedilla</key>
	    <integer>-64</integer>
	    <key>scaron</key>
	    <integer>-64</integer>
	    <key>sacute</key>
	    <integer>-64</integer>
	    <key>s</key>
	    <integer>-64</integer>
	    <key>ohungarumlaut</key>
	    <integer>-64</integer>
	    <key>gdotaccent</key>
	    <integer>-64</integer>
	    <key>gcircumflex</key>
	    <integer>-64</integer>
	    <key>gbreve</key>
	    <integer>-64</integer>
	    <key>g</key>
	    <integer>-64</integer>
	    <key>ecaron</key>
	    <integer>-64</integer>
	    <key>cdotaccent</key>
	    <integer>-64</integer>
	    <key>ccircumflex</key>
	    <integer>-64</integer>
	</dict>
	<key>F</key>
	<dict>
	    <key>uni020F</key>
	    <integer>-121</integer>
	    <key>scircumflex</key>
	    <integer>-64</integer>
	    <key>scedilla</key>
	    <integer>-64</integer>
	    <key>scaron</key>
	    <integer>-64</integer>
	    <key>sacute</key>
	    <integer>-64</integer>
	    <key>s</key>
	    <integer>-43</integer>
	    <key>rcaron</key>
	    <integer>-40</integer>
	    <key>racute</key>
	    <integer>-40</integer>
	    <key>r</key>
	    <integer>-40</integer>
	    <key>period</key>
	    <integer>-120</integer>
	    <key>otilde</key>
	    <integer>-121</integer>
	    <key>ohungarumlaut</key>
	    <integer>-121</integer>
	    <key>ograve</key>
	    <integer>-121</integer>
	    <key>odieresis</key>
	    <integer>-121</integer>
	    <key>ocircumflex</key>
	    <integer>-121</integer>
	    <key>oacute</key>
	    <integer>-121</integer>
	    <key>gdotaccent</key>
	    <integer>-64</integer>
	    <key>gcircumflex</key>
	    <integer>-64</integer>
	    <key>gbreve</key>
	    <integer>-64</integer>
	    <key>g</key>
	    <integer>-64</integer>
	    <key>ecaron</key>
	    <integer>-83</integer>
	    <key>comma</key>
	    <integer>-120</integer>
	    <key>cdotaccent</key>
	    <integer>-64</integer>
	    <key>ccircumflex</key>
	    <integer>-64</integer>
	    <key>ccedilla</key>
	    <integer>-64</integer>
	    <key>ccaron</key>
	    <integer>-64</integer>
	    <key>cacute</key>
	    <integer>-64</integer>
	</dict>
	<key>J</key>
	<dict>
	    <key>uring</key>
	    <integer>7</integer>
	    <key>uni020F</key>
	    <integer>-10</integer>
	    <key>uhungarumlaut</key>
	    <integer>7</integer>
	    <key>ubreve</key>
	    <integer>7</integer>
	    <key>otilde</key>
	    <integer>-10</integer>
	    <key>ohungarumlaut</key>
	    <integer>-10</integer>
	    <key>ograve</key>
	    <integer>-10</integer>
	    <key>odieresis</key>
	    <integer>-10</integer>
	    <key>ocircumflex</key>
	    <integer>-10</integer>
	    <key>oacute</key>
	    <integer>-10</integer>
	    <key>ecaron</key>
	    <integer>-5</integer>
	</dict>
	<key>Jcircumflex</key>
	<dict>
	    <key>uring</key>
	    <integer>7</integer>
	    <key>uhungarumlaut</key>
	    <integer>7</integer>
	    <key>ubreve</key>
	    <integer>7</integer>
	    <key>otilde</key>
	    <integer>-10</integer>
	    <key>ohungarumlaut</key>
	    <integer>-10</integer>
	    <key>ograve</key>
	    <integer>-10</integer>
	    <key>odieresis</key>
	    <integer>-10</integer>
	    <key>ocircumflex</key>
	    <integer>-10</integer>
	    <key>oacute</key>
	    <integer>-10</integer>
	    <key>o</key>
	    <integer>-10</integer>
	    <key>ecaron</key>
	    <integer>-5</integer>
	</dict>
	<key>K</key>
	<dict>
	    <key>uring</key>
	    <integer>-52</integer>
	    <key>uhungarumlaut</key>
	    <integer>-52</integer>
	    <key>ubreve</key>
	    <integer>-52</integer>
	    <key>scircumflex</key>
	    <integer>-64</integer>
	    <key>scedilla</key>
	    <integer>-64</integer>
	    <key>scaron</key>
	    <integer>-64</integer>
	    <key>sacute</key>
	    <integer>-64</integer>
	    <key>s</key>
	    <integer>-64</integer>
	    <key>ohungarumlaut</key>
	    <integer>-74</integer>
	    <key>gdotaccent</key>
	    <integer>-64</integer>
	    <key>gcircumflex</key>
	    <integer>-64</integer>
	    <key>gbreve</key>
	    <integer>-64</integer>
	    <key>g</key>
	    <integer>-64</integer>
	    <key>ecaron</key>
	    <integer>-74</integer>
	    <key>cdotaccent</key>
	    <integer>-64</integer>
	    <key>ccircumflex</key>
	    <integer>-64</integer>
	    <key>ccedilla</key>
	    <integer>-64</integer>
	    <key>ccaron</key>
	    <integer>-64</integer>
	    <key>cacute</key>
	    <integer>-64</integer>
	    <key>c</key>
	    <integer>-64</integer>
	    <key>Ohungarumlaut</key>
	    <integer>-104</integer>
	</dict>
	<key>L</key>
	<dict>
	    <key>scircumflex</key>
	    <integer>-32</integer>
	    <key>scedilla</key>
	    <integer>-32</integer>
	    <key>scaron</key>
	    <integer>-32</integer>
	    <key>sacute</key>
	    <integer>-32</integer>
	    <key>s</key>
	    <integer>-32</integer>
	    <key>quoteright</key>
	    <integer>-160</integer>
	    <key>quotedblright</key>
	    <integer>-140</integer>
	    <key>ohungarumlaut</key>
	    <integer>-32</integer>
	    <key>gdotaccent</key>
	    <integer>-32</integer>
	    <key>gcircumflex</key>
	    <integer>-32</integer>
	    <key>gbreve</key>
	    <integer>-32</integer>
	    <key>g</key>
	    <integer>-32</integer>
	    <key>ecaron</key>
	    <integer>-32</integer>
	    <key>cdotaccent</key>
	    <integer>-32</integer>
	    <key>ccircumflex</key>
	    <integer>-32</integer>
	    <key>Uring</key>
	    <integer>-48</integer>
	    <key>Uhungarumlaut</key>
	    <integer>-48</integer>
	    <key>Ubreve</key>
	    <integer>-48</integer>
	    <key>Tcaron</key>
	    <integer>-129</integer>
	</dict>
	<key>Lacute</key>
	<dict>
	    <key>scircumflex</key>
	    <integer>-32</integer>
	    <key>scedilla</key>
	    <integer>-32</integer>
	    <key>scaron</key>
	    <integer>-32</integer>
	    <key>sacute</key>
	    <integer>-32</integer>
	    <key>s</key>
	    <integer>-32</integer>
	    <key>ohungarumlaut</key>
	    <integer>-32</integer>
	    <key>gdotaccent</key>
	    <integer>-32</integer>
	    <key>gcircumflex</key>
	    <integer>-32</integer>
	    <key>gbreve</key>
	    <integer>-32</integer>
	    <key>g</key>
	    <integer>-32</integer>
	    <key>ecaron</key>
	    <integer>-32</integer>
	    <key>cdotaccent</key>
	    <integer>-32</integer>
	    <key>ccircumflex</key>
	    <integer>-32</integer>
	    <key>Uring</key>
	    <integer>-48</integer>
	    <key>Uhungarumlaut</key>
	    <integer>-48</integer>
	    <key>Ubreve</key>
	    <integer>-48</integer>
	    <key>Tcaron</key>
	    <integer>-129</integer>
	</dict>
	<key>Lcaron</key>
	<dict>
	    <key>scircumflex</key>
	    <integer>-32</integer>
	    <key>scedilla</key>
	    <integer>-32</integer>
	    <key>scaron</key>
	    <integer>-32</integer>
	    <key>sacute</key>
	    <integer>-32</integer>
	    <key>s</key>
	    <integer>-32</integer>
	    <key>ohungarumlaut</key>
	    <integer>-32</integer>
	    <key>gdotaccent</key>
	    <integer>-32</integer>
	    <key>gcircumflex</key>
	    <integer>-32</integer>
	    <key>gbreve</key>
	    <integer>-32</integer>
	    <key>g</key>
	    <integer>-32</integer>
	    <key>ecaron</key>
	    <integer>-32</integer>
	    <key>cdotaccent</key>
	    <integer>-32</integer>
	    <key>ccircumflex</key>
	    <integer>-32</integer>
	    <key>Uring</key>
	    <integer>-48</integer>
	    <key>Uhungarumlaut</key>
	    <integer>-48</integer>
	    <key>Ubreve</key>
	    <integer>-48</integer>
	    <key>Tcaron</key>
	    <integer>-129</integer>
	</dict>
	<key>Ohungarumlaut</key>
	<dict>
	    <key>X</key>
	    <integer>-54</integer>
	    <key>Tcaron</key>
	    <integer>-47</integer>
	</dict>
	<key>P</key>
	<dict>
	    <key>ocircumflex</key>
	    <integer>-79</integer>
	    <key>c</key>
	    <integer>-68</integer>
	</dict>
	<key>T</key>
	<dict>
	    <key>oacute</key>
	    <integer>-164</integer>
	    <key>c</key>
	    <integer>-80</integer>
	</dict>
	<key>Tcaron</key>
	<dict>
	    <key>uring</key>
	    <integer>-99</integer>
	    <key>uhungarumlaut</key>
	    <integer>-99</integer>
	    <key>ubreve</key>
	    <integer>-99</integer>
	    <key>scircumflex</key>
	    <integer>-128</integer>
	    <key>scedilla</key>
	    <integer>-128</integer>
	    <key>scaron</key>
	    <integer>-128</integer>
	    <key>sacute</key>
	    <integer>-128</integer>
	    <key>s</key>
	    <integer>-128</integer>
	    <key>rcaron</key>
	    <integer>-128</integer>
	    <key>racute</key>
	    <integer>-128</integer>
	    <key>r</key>
	    <integer>-128</integer>
	    <key>period</key>
	    <integer>-90</integer>
	    <key>otilde</key>
	    <integer>-164</integer>
	    <key>ohungarumlaut</key>
	    <integer>-164</integer>
	    <key>ograve</key>
	    <integer>-164</integer>
	    <key>odieresis</key>
	    <integer>-164</integer>
	    <key>ocircumflex</key>
	    <integer>-164</integer>
	    <key>oacute</key>
	    <integer>-164</integer>
	    <key>o</key>
	    <integer>-164</integer>
	    <key>igrave</key>
	    <integer>-31</integer>
	    <key>idieresis</key>
	    <integer>-31</integer>
	    <key>icircumflex</key>
	    <integer>-31</integer>
	    <key>iacute</key>
	    <integer>-31</integer>
	    <key>i</key>
	    <integer>-31</integer>
	    <key>h</key>
	    <integer>-31</integer>
	    <key>gdotaccent</key>
	    <integer>-128</integer>
	    <key>gcircumflex</key>
	    <integer>-128</integer>
	    <key>gbreve</key>
	    <integer>-128</integer>
	    <key>g</key>
	    <integer>-128</integer>
	    <key>ecaron</key>
	    <integer>-169</integer>
	    <key>comma</key>
	    <integer>-160</integer>
	    <key>cdotaccent</key>
	    <integer>-128</integer>
	    <key>ccircumflex</key>
	    <integer>-128</integer>
	    <key>ccedilla</key>
	    <integer>-128</integer>
	    <key>ccaron</key>
	    <integer>-128</integer>
	    <key>cacute</key>
	    <integer>-128</integer>
	    <key>c</key>
	    <integer>-128</integer>
	    <key>Ohungarumlaut</key>
	    <integer>-72</integer>
	</dict>
	<key>V</key>
	<dict>
	    <key>ocircumflex</key>
	    <integer>-118</integer>
	    <key>cacute</key>
	    <integer>-128</integer>
	</dict>
	<key>a</key>
	<dict>
	    <key>tcaron</key>
	    <integer>-34</integer>
	    <key>t</key>
	    <integer>-34</integer>
	</dict>
	<key>aacute</key>
	<dict>
	    <key>tcaron</key>
	    <integer>-34</integer>
	    <key>t</key>
	    <integer>-34</integer>
	</dict>
	<key>abreve</key>
	<dict>
	    <key>tcaron</key>
	    <integer>-34</integer>
	    <key>t</key>
	    <integer>-34</integer>
	</dict>
	<key>acircumflex</key>
	<dict>
	    <key>tcaron</key>
	    <integer>-34</integer>
	    <key>t</key>
	    <integer>-34</integer>
	</dict>
	<key>adieresis</key>
	<dict>
	    <key>tcaron</key>
	    <integer>-34</integer>
	    <key>t</key>
	    <integer>-34</integer>
	</dict>
	<key>agrave</key>
	<dict>
	    <key>tcaron</key>
	    <integer>-34</integer>
	    <key>t</key>
	    <integer>-34</integer>
	</dict>
	<key>aogonek</key>
	<dict>
	    <key>tcaron</key>
	    <integer>-34</integer>
	    <key>t</key>
	    <integer>-34</integer>
	</dict>
	<key>aring</key>
	<dict>
	    <key>tcaron</key>
	    <integer>-34</integer>
	    <key>t</key>
	    <integer>-34</integer>
	</dict>
	<key>atilde</key>
	<dict>
	    <key>tcaron</key>
	    <integer>-34</integer>
	    <key>t</key>
	    <integer>-34</integer>
	</dict>
	<key>b</key>
	<dict>
	    <key>ydieresis</key>
	    <integer>-40</integer>
	    <key>yacute</key>
	    <integer>-40</integer>
	    <key>y</key>
	    <integer>-40</integer>
	    <key>v</key>
	    <integer>-40</integer>
	    <key>jcircumflex</key>
	    <integer>-40</integer>
	    <key>j</key>
	    <integer>-40</integer>
	</dict>
	<key>c</key>
	<dict>
	    <key>jcircumflex</key>
	    <integer>-39</integer>
	    <key>j</key>
	    <integer>-39</integer>
	</dict>
	<key>cacute</key>
	<dict>
	    <key>jcircumflex</key>
	    <integer>-39</integer>
	    <key>j</key>
	    <integer>-39</integer>
	</dict>
	<key>ccaron</key>
	<dict>
	    <key>jcircumflex</key>
	    <integer>-39</integer>
	    <key>j</key>
	    <integer>-39</integer>
	</dict>
	<key>ccedilla</key>
	<dict>
	    <key>jcircumflex</key>
	    <integer>-39</integer>
	    <key>j</key>
	    <integer>-39</integer>
	</dict>
	<key>ccircumflex</key>
	<dict>
	    <key>jcircumflex</key>
	    <integer>-39</integer>
	    <key>j</key>
	    <integer>-39</integer>
	</dict>
	<key>cdotaccent</key>
	<dict>
	    <key>jcircumflex</key>
	    <integer>-39</integer>
	    <key>j</key>
	    <integer>-39</integer>
	</dict>
	<key>d</key>
	<dict>
	    <key>dcaron</key>
	    <integer>-52</integer>
	    <key>d</key>
	    <integer>-52</integer>
	</dict>
	<key>dcaron</key>
	<dict>
	    <key>dcaron</key>
	    <integer>-52</integer>
	    <key>d</key>
	    <integer>-52</integer>
	</dict>
	<key>e</key>
	<dict>
	    <key>jcircumflex</key>
	    <integer>-36</integer>
	    <key>j</key>
	    <integer>-36</integer>
	</dict>
	<key>eacute</key>
	<dict>
	    <key>x</key>
	    <integer>-56</integer>
	    <key>jcircumflex</key>
	    <integer>-36</integer>
	    <key>j</key>
	    <integer>-36</integer>
	</dict>
	<key>ecaron</key>
	<dict>
	    <key>x</key>
	    <integer>-56</integer>
	    <key>jcircumflex</key>
	    <integer>-36</integer>
	    <key>j</key>
	    <integer>-36</integer>
	</dict>
	<key>ecircumflex</key>
	<dict>
	    <key>x</key>
	    <integer>-56</integer>
	    <key>jcircumflex</key>
	    <integer>-36</integer>
	    <key>j</key>
	    <integer>-36</integer>
	</dict>
	<key>edieresis</key>
	<dict>
	    <key>x</key>
	    <integer>-56</integer>
	    <key>jcircumflex</key>
	    <integer>-36</integer>
	    <key>j</key>
	    <integer>-36</integer>
	</dict>
	<key>egrave</key>
	<dict>
	    <key>x</key>
	    <integer>-56</integer>
	    <key>jcircumflex</key>
	    <integer>-36</integer>
	    <key>j</key>
	    <integer>-36</integer>
	</dict>
	<key>eogonek</key>
	<dict>
	    <key>x</key>
	    <integer>-56</integer>
	    <key>jcircumflex</key>
	    <integer>-36</integer>
	    <key>j</key>
	    <integer>-36</integer>
	</dict>
	<key>f</key>
	<dict>
	    <key>uni020F</key>
	    <integer>-10</integer>
	    <key>period</key>
	    <integer>-40</integer>
	    <key>otilde</key>
	    <integer>-10</integer>
	    <key>ohungarumlaut</key>
	    <integer>-10</integer>
	    <key>ograve</key>
	    <integer>-10</integer>
	    <key>odieresis</key>
	    <integer>-10</integer>
	    <key>ocircumflex</key>
	    <integer>-10</integer>
	    <key>oacute</key>
	    <integer>-10</integer>
	    <key>o</key>
	    <integer>-6</integer>
	    <key>lcaron</key>
	    <integer>-6</integer>
	    <key>lacute</key>
	    <integer>-6</integer>
	    <key>igrave</key>
	    <integer>-11</integer>
	    <key>idieresis</key>
	    <integer>-11</integer>
	    <key>icircumflex</key>
	    <integer>-11</integer>
	    <key>iacute</key>
	    <integer>-11</integer>
	    <key>f</key>
	    <integer>-48</integer>
	    <key>ecaron</key>
	    <integer>-17</integer>
	    <key>comma</key>
	    <integer>-50</integer>
	</dict>
	<key>g</key>
	<dict>
	    <key>uni020F</key>
	    <integer>-15</integer>
	    <key>otilde</key>
	    <integer>-15</integer>
	    <key>ohungarumlaut</key>
	    <integer>-15</integer>
	    <key>ograve</key>
	    <integer>-15</integer>
	    <key>odieresis</key>
	    <integer>-15</integer>
	    <key>ocircumflex</key>
	    <integer>-15</integer>
	    <key>oacute</key>
	    <integer>-15</integer>
	    <key>o</key>
	    <integer>-7</integer>
	    <key>g</key>
	    <integer>-14</integer>
	    <key>ecaron</key>
	    <integer>-13</integer>
	</dict>
	<key>gbreve</key>
	<dict>
	    <key>otilde</key>
	    <integer>-15</integer>
	    <key>ohungarumlaut</key>
	    <integer>-15</integer>
	    <key>ograve</key>
	    <integer>-15</integer>
	    <key>odieresis</key>
	    <integer>-15</integer>
	    <key>ocircumflex</key>
	    <integer>-15</integer>
	    <key>oacute</key>
	    <integer>-15</integer>
	    <key>o</key>
	    <integer>-15</integer>
	    <key>ecaron</key>
	    <integer>-13</integer>
	</dict>
	<key>gcircumflex</key>
	<dict>
	    <key>otilde</key>
	    <integer>-15</integer>
	    <key>ohungarumlaut</key>
	    <integer>-15</integer>
	    <key>ograve</key>
	    <integer>-15</integer>
	    <key>odieresis</key>
	    <integer>-15</integer>
	    <key>ocircumflex</key>
	    <integer>-15</integer>
	    <key>oacute</key>
	    <integer>-15</integer>
	    <key>o</key>
	    <integer>-15</integer>
	    <key>ecaron</key>
	    <integer>-13</integer>
	</dict>
	<key>gdotaccent</key>
	<dict>
	    <key>otilde</key>
	    <integer>-15</integer>
	    <key>ohungarumlaut</key>
	    <integer>-15</integer>
	    <key>ograve</key>
	    <integer>-15</integer>
	    <key>odieresis</key>
	    <integer>-15</integer>
	    <key>ocircumflex</key>
	    <integer>-15</integer>
	    <key>oacute</key>
	    <integer>-15</integer>
	    <key>o</key>
	    <integer>-15</integer>
	    <key>ecaron</key>
	    <integer>-13</integer>
	</dict>
	<key>h</key>
	<dict>
	    <key>ydieresis</key>
	    <integer>-19</integer>
	    <key>yacute</key>
	    <integer>-19</integer>
	    <key>y</key>
	    <integer>-19</integer>
	</dict>
	<key>ohungarumlaut</key>
	<dict>
	    <key>x</key>
	    <integer>-40</integer>
	    <key>jcircumflex</key>
	    <integer>-36</integer>
	    <key>j</key>
	    <integer>-36</integer>
	    <key>gdotaccent</key>
	    <integer>-21</integer>
	    <key>gcircumflex</key>
	    <integer>-21</integer>
	    <key>gbreve</key>
	    <integer>-21</integer>
	    <key>g</key>
	    <integer>-21</integer>
	</dict>
	<key>p</key>
	<dict>
	    <key>ydieresis</key>
	    <integer>-21</integer>
	    <key>yacute</key>
	    <integer>-21</integer>
	    <key>y</key>
	    <integer>-21</integer>
	    <key>v</key>
	    <integer>-37</integer>
	    <key>jcircumflex</key>
	    <integer>-48</integer>
	    <key>j</key>
	    <integer>-48</integer>
	</dict>
	<key>quoteright</key>
	<dict>
	    <key>dcaron</key>
	    <integer>-70</integer>
	    <key>d</key>
	    <integer>-70</integer>
	</dict>
	<key>r</key>
	<dict>
	    <key>otilde</key>
	    <integer>-9</integer>
	    <key>ograve</key>
	    <integer>-9</integer>
	    <key>odieresis</key>
	    <integer>-9</integer>
	    <key>ocircumflex</key>
	    <integer>-9</integer>
	    <key>oacute</key>
	    <integer>-9</integer>
	    <key>ccedilla</key>
	    <integer>-9</integer>
	    <key>ccaron</key>
	    <integer>-9</integer>
	    <key>cacute</key>
	    <integer>-9</integer>
	    <key>c</key>
	    <integer>-9</integer>
	</dict>
	<key>racute</key>
	<dict>
	    <key>rcaron</key>
	    <integer>-23</integer>
	    <key>racute</key>
	    <integer>-23</integer>
	    <key>r</key>
	    <integer>-23</integer>
	    <key>period</key>
	    <integer>-40</integer>
	    <key>otilde</key>
	    <integer>-9</integer>
	    <key>ohungarumlaut</key>
	    <integer>-9</integer>
	    <key>ograve</key>
	    <integer>-9</integer>
	    <key>odieresis</key>
	    <integer>-9</integer>
	    <key>ocircumflex</key>
	    <integer>-9</integer>
	    <key>oacute</key>
	    <integer>-9</integer>
	    <key>o</key>
	    <integer>-9</integer>
	    <key>gdotaccent</key>
	    <integer>-16</integer>
	    <key>gcircumflex</key>
	    <integer>-16</integer>
	    <key>gbreve</key>
	    <integer>-16</integer>
	    <key>g</key>
	    <integer>-16</integer>
	    <key>comma</key>
	    <integer>-90</integer>
	    <key>cdotaccent</key>
	    <integer>-9</integer>
	    <key>ccircumflex</key>
	    <integer>-9</integer>
	    <key>ccedilla</key>
	    <integer>-9</integer>
	    <key>ccaron</key>
	    <integer>-9</integer>
	    <key>cacute</key>
	    <integer>-9</integer>
	    <key>c</key>
	    <integer>-9</integer>
	</dict>
	<key>rcaron</key>
	<dict>
	    <key>otilde</key>
	    <integer>-9</integer>
	    <key>ograve</key>
	    <integer>-9</integer>
	    <key>odieresis</key>
	    <integer>-9</integer>
	    <key>ocircumflex</key>
	    <integer>-9</integer>
	    <key>oacute</key>
	    <integer>-9</integer>
	    <key>o</key>
	    <integer>-9</integer>
	    <key>ccedilla</key>
	    <integer>-9</integer>
	    <key>ccaron</key>
	    <integer>-9</integer>
	    <key>cacute</key>
	    <integer>-9</integer>
	    <key>c</key>
	    <integer>-9</integer>
	</dict>
	<key>uni0202</key>
	<dict>
	    <key>Q</key>
	    <integer>-9</integer>
	    <key>G</key>
	    <integer>-16</integer>
	    <key>Ccedilla</key>
	    <integer>-25</integer>
	</dict>
	<key>uni021A</key>
	<dict>
	    <key>oacute</key>
	    <integer>-164</integer>
	    <key>c</key>
	    <integer>-80</integer>
	</dict>
	<key>v</key>
	<dict>
	    <key>ccaron</key>
	    <integer>-64</integer>
	</dict>
	<key>w</key>
	<dict>
	    <key>eogonek</key>
	    <integer>-10</integer>
	</dict>
	<key>x</key>
	<dict>
	    <key>ecaron</key>
	    <integer>-24</integer>
	</dict>
	<key>y</key>
	<dict>
	    <key>uni020F</key>
	    <integer>-34</integer>
	    <key>ccaron</key>
	    <integer>-64</integer>
	</dict>
	<key>yacute</key>
	<dict>
	    <key>uni020F</key>
	    <integer>-34</integer>
	    <key>ccaron</key>
	    <integer>-64</integer>
	</dict>
	<key>ydieresis</key>
	<dict>
	    <key>uni020F</key>
	    <integer>-34</integer>
	    <key>ccaron</key>
	    <integer>-64</integer>
	</dict>
	<key>Tcommaaccent</key>
	<dict>
	    <key>oacute</key>
	    <integer>-164</integer>
	    <key>c</key>
	    <integer>-80</integer>
	</dict>
    </dict>
</plist>
